﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1613px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:333px;
}
#u981 {
  position:absolute;
  left:0px;
  top:62px;
  width:375px;
  height:333px;
}
#u982 {
  position:absolute;
  left:2px;
  top:158px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u984 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:31px;
  background:inherit;
  background-color:rgba(51, 50, 55, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u985 {
  position:absolute;
  left:78px;
  top:28px;
  width:219px;
  height:31px;
  font-size:16px;
  color:#FFFFFF;
}
#u986 {
  position:absolute;
  left:2px;
  top:6px;
  width:215px;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 50, 55, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u987 {
  position:absolute;
  left:30px;
  top:27px;
  width:48px;
  height:33px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(51, 50, 55, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u989 {
  position:absolute;
  left:307px;
  top:21px;
  width:48px;
  height:31px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u991 {
  position:absolute;
  left:11px;
  top:32px;
  width:13px;
  height:22px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
}
#u992 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u993 {
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
}
#u994 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:222px;
  background:inherit;
  background-color:rgba(236, 236, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  position:absolute;
  left:0px;
  top:395px;
  width:375px;
  height:222px;
}
#u996 {
  position:absolute;
  left:2px;
  top:103px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u997 {
  position:absolute;
  left:30px;
  top:123px;
  width:167px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u999 {
  position:absolute;
  left:30px;
  top:187px;
  width:310px;
  height:116px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u1001 {
  position:absolute;
  left:30px;
  top:282px;
  width:291px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1003 {
  position:absolute;
  left:30px;
  top:313px;
  width:117px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1005 {
  position:absolute;
  left:402px;
  top:9px;
  width:137px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1007 {
  position:absolute;
  left:402px;
  top:41px;
  width:487px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u1009 {
  position:absolute;
  left:30px;
  top:251px;
  width:291px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:402px;
  top:175px;
  width:1216px;
  height:339px;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:89px;
  top:0px;
  width:95px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:184px;
  top:0px;
  width:55px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:239px;
  top:0px;
  width:108px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:347px;
  top:0px;
  width:271px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:618px;
  top:0px;
  width:121px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:739px;
  top:0px;
  width:321px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:1060px;
  top:0px;
  width:151px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:100px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:30px;
  width:89px;
  height:100px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:42px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u1030 {
  position:absolute;
  left:89px;
  top:30px;
  width:95px;
  height:100px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:42px;
  width:91px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:100px;
}
#u1032 {
  position:absolute;
  left:184px;
  top:30px;
  width:55px;
  height:100px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:42px;
  width:51px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
#u1034 {
  position:absolute;
  left:239px;
  top:30px;
  width:108px;
  height:100px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:42px;
  width:104px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:100px;
}
#u1036 {
  position:absolute;
  left:347px;
  top:30px;
  width:271px;
  height:100px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:34px;
  width:267px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:100px;
}
#u1038 {
  position:absolute;
  left:618px;
  top:30px;
  width:121px;
  height:100px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:42px;
  width:117px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:100px;
}
#u1040 {
  position:absolute;
  left:739px;
  top:30px;
  width:321px;
  height:100px;
  text-align:left;
}
#u1041 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:100px;
}
#u1042 {
  position:absolute;
  left:1060px;
  top:30px;
  width:151px;
  height:100px;
  color:#000000;
  text-align:left;
}
#u1043 {
  position:absolute;
  left:2px;
  top:34px;
  width:147px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:84px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:130px;
  width:89px;
  height:84px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:34px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:84px;
}
#u1046 {
  position:absolute;
  left:89px;
  top:130px;
  width:95px;
  height:84px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:34px;
  width:91px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:84px;
}
#u1048 {
  position:absolute;
  left:184px;
  top:130px;
  width:55px;
  height:84px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:34px;
  width:51px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:84px;
}
#u1050 {
  position:absolute;
  left:239px;
  top:130px;
  width:108px;
  height:84px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:34px;
  width:104px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:84px;
}
#u1052 {
  position:absolute;
  left:347px;
  top:130px;
  width:271px;
  height:84px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:34px;
  width:267px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:84px;
}
#u1054 {
  position:absolute;
  left:618px;
  top:130px;
  width:121px;
  height:84px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:34px;
  width:117px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:84px;
}
#u1056 {
  position:absolute;
  left:739px;
  top:130px;
  width:321px;
  height:84px;
  text-align:left;
}
#u1057 {
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:84px;
}
#u1058 {
  position:absolute;
  left:1060px;
  top:130px;
  width:151px;
  height:84px;
  text-align:left;
}
#u1059 {
  position:absolute;
  left:2px;
  top:34px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:214px;
  width:89px;
  height:68px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u1062 {
  position:absolute;
  left:89px;
  top:214px;
  width:95px;
  height:68px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u1064 {
  position:absolute;
  left:184px;
  top:214px;
  width:55px;
  height:68px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:68px;
}
#u1066 {
  position:absolute;
  left:239px;
  top:214px;
  width:108px;
  height:68px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:68px;
}
#u1068 {
  position:absolute;
  left:347px;
  top:214px;
  width:271px;
  height:68px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:26px;
  width:267px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u1070 {
  position:absolute;
  left:618px;
  top:214px;
  width:121px;
  height:68px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:68px;
}
#u1072 {
  position:absolute;
  left:739px;
  top:214px;
  width:321px;
  height:68px;
  text-align:left;
}
#u1073 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:68px;
}
#u1074 {
  position:absolute;
  left:1060px;
  top:214px;
  width:151px;
  height:68px;
  text-align:left;
}
#u1075 {
  position:absolute;
  left:2px;
  top:26px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:282px;
  width:89px;
  height:52px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u1078 {
  position:absolute;
  left:89px;
  top:282px;
  width:95px;
  height:52px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u1080 {
  position:absolute;
  left:184px;
  top:282px;
  width:55px;
  height:52px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u1082 {
  position:absolute;
  left:239px;
  top:282px;
  width:108px;
  height:52px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:52px;
}
#u1084 {
  position:absolute;
  left:347px;
  top:282px;
  width:271px;
  height:52px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:18px;
  width:267px;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:52px;
}
#u1086 {
  position:absolute;
  left:618px;
  top:282px;
  width:121px;
  height:52px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:18px;
  width:117px;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:52px;
}
#u1088 {
  position:absolute;
  left:739px;
  top:282px;
  width:321px;
  height:52px;
  text-align:left;
}
#u1089 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:52px;
}
#u1090 {
  position:absolute;
  left:1060px;
  top:282px;
  width:151px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u1091 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:402px;
  top:205px;
  width:90px;
  height:304px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:144px;
  width:86px;
  word-wrap:break-word;
}
