﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15890 {
  position:absolute;
  left:578px;
  top:283px;
  width:323px;
  height:189px;
}
#u15891 {
  position:absolute;
  left:2px;
  top:86px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15892 {
  position:absolute;
  left:585px;
  top:290px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15893 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15894 {
  position:absolute;
  left:670px;
  top:425px;
  width:54px;
  height:25px;
}
#u15895 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u15896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15896 {
  position:absolute;
  left:756px;
  top:425px;
  width:54px;
  height:25px;
}
#u15896_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15896.selected {
}
#u15897 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u15898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15898 {
  position:absolute;
  left:640px;
  top:351px;
  width:199px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15899 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u15900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15901 {
  position:absolute;
  left:578px;
  top:283px;
  width:323px;
  height:189px;
}
#u15902 {
  position:absolute;
  left:2px;
  top:86px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15903 {
  position:absolute;
  left:585px;
  top:290px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15904 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15905 {
  position:absolute;
  left:684px;
  top:425px;
  width:112px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15906 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u15907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15907 {
  position:absolute;
  left:640px;
  top:351px;
  width:181px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15908 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u15909 {
  position:absolute;
  left:168px;
  top:285px;
  width:1196px;
  height:245px;
  overflow:hidden;
}
#u15909_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:245px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u15909_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15910 {
  position:absolute;
  left:494px;
  top:107px;
  width:114px;
  height:122px;
}
#u15911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u15911 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u15912 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u15913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u15913 {
  position:absolute;
  left:55px;
  top:0px;
  width:54px;
  height:30px;
}
#u15914 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u15915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u15915 {
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:28px;
}
#u15916 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u15917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u15917 {
  position:absolute;
  left:55px;
  top:30px;
  width:54px;
  height:28px;
}
#u15918 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u15919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u15919 {
  position:absolute;
  left:0px;
  top:58px;
  width:55px;
  height:29px;
}
#u15920 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u15921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:29px;
}
#u15921 {
  position:absolute;
  left:55px;
  top:58px;
  width:54px;
  height:29px;
}
#u15922 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u15923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u15923 {
  position:absolute;
  left:0px;
  top:87px;
  width:55px;
  height:30px;
}
#u15924 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u15925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u15925 {
  position:absolute;
  left:55px;
  top:87px;
  width:54px;
  height:30px;
}
#u15926 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u15927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:238px;
}
#u15928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u15928 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u15929 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u15930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u15930 {
  position:absolute;
  left:47px;
  top:0px;
  width:47px;
  height:36px;
}
#u15931 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u15932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u15932 {
  position:absolute;
  left:94px;
  top:0px;
  width:171px;
  height:36px;
}
#u15933 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u15934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u15934 {
  position:absolute;
  left:265px;
  top:0px;
  width:152px;
  height:36px;
}
#u15935 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u15936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u15936 {
  position:absolute;
  left:417px;
  top:0px;
  width:138px;
  height:36px;
}
#u15937 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u15938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u15938 {
  position:absolute;
  left:555px;
  top:0px;
  width:86px;
  height:36px;
}
#u15939 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u15940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u15940 {
  position:absolute;
  left:641px;
  top:0px;
  width:136px;
  height:36px;
}
#u15941 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u15942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u15942 {
  position:absolute;
  left:777px;
  top:0px;
  width:136px;
  height:36px;
}
#u15943 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u15944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u15944 {
  position:absolute;
  left:913px;
  top:0px;
  width:139px;
  height:36px;
}
#u15945 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u15946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u15946 {
  position:absolute;
  left:1052px;
  top:0px;
  width:144px;
  height:36px;
}
#u15947 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u15948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u15948 {
  position:absolute;
  left:1196px;
  top:0px;
  width:120px;
  height:36px;
}
#u15949 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u15950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:37px;
}
#u15950 {
  position:absolute;
  left:0px;
  top:36px;
  width:47px;
  height:37px;
}
#u15951 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:37px;
}
#u15952 {
  position:absolute;
  left:47px;
  top:36px;
  width:47px;
  height:37px;
}
#u15953 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u15954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u15954 {
  position:absolute;
  left:94px;
  top:36px;
  width:171px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  line-height:28px;
}
#u15955 {
  position:absolute;
  left:2px;
  top:4px;
  width:167px;
  word-wrap:break-word;
}
#u15956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:37px;
}
#u15956 {
  position:absolute;
  left:265px;
  top:36px;
  width:152px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  text-align:left;
  line-height:28px;
}
#u15957 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u15958 {
  position:absolute;
  left:417px;
  top:36px;
  width:138px;
  height:37px;
}
#u15959 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u15960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u15960 {
  position:absolute;
  left:555px;
  top:36px;
  width:86px;
  height:37px;
}
#u15961 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u15962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u15962 {
  position:absolute;
  left:641px;
  top:36px;
  width:136px;
  height:37px;
  color:#0099CC;
}
#u15963 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u15964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u15964 {
  position:absolute;
  left:777px;
  top:36px;
  width:136px;
  height:37px;
}
#u15965 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u15966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u15966 {
  position:absolute;
  left:913px;
  top:36px;
  width:139px;
  height:37px;
}
#u15967 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u15968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
}
#u15968 {
  position:absolute;
  left:1052px;
  top:36px;
  width:144px;
  height:37px;
}
#u15969 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u15970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u15970 {
  position:absolute;
  left:1196px;
  top:36px;
  width:120px;
  height:37px;
}
#u15971 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u15972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u15972 {
  position:absolute;
  left:0px;
  top:73px;
  width:47px;
  height:32px;
}
#u15973 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u15974 {
  position:absolute;
  left:47px;
  top:73px;
  width:47px;
  height:32px;
}
#u15975 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u15976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u15976 {
  position:absolute;
  left:94px;
  top:73px;
  width:171px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  line-height:28px;
}
#u15977 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u15978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u15978 {
  position:absolute;
  left:265px;
  top:73px;
  width:152px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  text-align:left;
  line-height:28px;
}
#u15979 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
}
#u15980 {
  position:absolute;
  left:417px;
  top:73px;
  width:138px;
  height:32px;
}
#u15981 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u15982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u15982 {
  position:absolute;
  left:555px;
  top:73px;
  width:86px;
  height:32px;
}
#u15983 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u15984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u15984 {
  position:absolute;
  left:641px;
  top:73px;
  width:136px;
  height:32px;
  color:#0099CC;
}
#u15985 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u15986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u15986 {
  position:absolute;
  left:777px;
  top:73px;
  width:136px;
  height:32px;
}
#u15987 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u15988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u15988 {
  position:absolute;
  left:913px;
  top:73px;
  width:139px;
  height:32px;
}
#u15989 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u15990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u15990 {
  position:absolute;
  left:1052px;
  top:73px;
  width:144px;
  height:32px;
}
#u15991 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u15992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u15992 {
  position:absolute;
  left:1196px;
  top:73px;
  width:120px;
  height:32px;
}
#u15993 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u15994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u15994 {
  position:absolute;
  left:0px;
  top:105px;
  width:47px;
  height:32px;
}
#u15995 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u15996 {
  position:absolute;
  left:47px;
  top:105px;
  width:47px;
  height:32px;
}
#u15997 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u15998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u15998 {
  position:absolute;
  left:94px;
  top:105px;
  width:171px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  line-height:28px;
}
#u15999 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u16000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u16000 {
  position:absolute;
  left:265px;
  top:105px;
  width:152px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  text-align:left;
  line-height:28px;
}
#u16001 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
}
#u16002 {
  position:absolute;
  left:417px;
  top:105px;
  width:138px;
  height:32px;
}
#u16003 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u16004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u16004 {
  position:absolute;
  left:555px;
  top:105px;
  width:86px;
  height:32px;
}
#u16005 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u16006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16006 {
  position:absolute;
  left:641px;
  top:105px;
  width:136px;
  height:32px;
  color:#0099CC;
}
#u16007 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16008 {
  position:absolute;
  left:777px;
  top:105px;
  width:136px;
  height:32px;
}
#u16009 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u16010 {
  position:absolute;
  left:913px;
  top:105px;
  width:139px;
  height:32px;
}
#u16011 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u16012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u16012 {
  position:absolute;
  left:1052px;
  top:105px;
  width:144px;
  height:32px;
}
#u16013 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u16014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u16014 {
  position:absolute;
  left:1196px;
  top:105px;
  width:120px;
  height:32px;
}
#u16015 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u16016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u16016 {
  position:absolute;
  left:0px;
  top:137px;
  width:47px;
  height:32px;
}
#u16017 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u16018 {
  position:absolute;
  left:47px;
  top:137px;
  width:47px;
  height:32px;
}
#u16019 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u16020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u16020 {
  position:absolute;
  left:94px;
  top:137px;
  width:171px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  line-height:28px;
}
#u16021 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u16022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u16022 {
  position:absolute;
  left:265px;
  top:137px;
  width:152px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  text-align:left;
  line-height:28px;
}
#u16023 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
}
#u16024 {
  position:absolute;
  left:417px;
  top:137px;
  width:138px;
  height:32px;
}
#u16025 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u16026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u16026 {
  position:absolute;
  left:555px;
  top:137px;
  width:86px;
  height:32px;
}
#u16027 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u16028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16028 {
  position:absolute;
  left:641px;
  top:137px;
  width:136px;
  height:32px;
  color:#0099CC;
}
#u16029 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16030 {
  position:absolute;
  left:777px;
  top:137px;
  width:136px;
  height:32px;
}
#u16031 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u16032 {
  position:absolute;
  left:913px;
  top:137px;
  width:139px;
  height:32px;
}
#u16033 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u16034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u16034 {
  position:absolute;
  left:1052px;
  top:137px;
  width:144px;
  height:32px;
}
#u16035 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u16036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u16036 {
  position:absolute;
  left:1196px;
  top:137px;
  width:120px;
  height:32px;
}
#u16037 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u16038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u16038 {
  position:absolute;
  left:0px;
  top:169px;
  width:47px;
  height:32px;
}
#u16039 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u16040 {
  position:absolute;
  left:47px;
  top:169px;
  width:47px;
  height:32px;
}
#u16041 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u16042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u16042 {
  position:absolute;
  left:94px;
  top:169px;
  width:171px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  line-height:28px;
}
#u16043 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u16044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u16044 {
  position:absolute;
  left:265px;
  top:169px;
  width:152px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  text-align:left;
  line-height:28px;
}
#u16045 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
}
#u16046 {
  position:absolute;
  left:417px;
  top:169px;
  width:138px;
  height:32px;
}
#u16047 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u16048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u16048 {
  position:absolute;
  left:555px;
  top:169px;
  width:86px;
  height:32px;
}
#u16049 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u16050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16050 {
  position:absolute;
  left:641px;
  top:169px;
  width:136px;
  height:32px;
  color:#0099CC;
}
#u16051 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16052 {
  position:absolute;
  left:777px;
  top:169px;
  width:136px;
  height:32px;
}
#u16053 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u16054 {
  position:absolute;
  left:913px;
  top:169px;
  width:139px;
  height:32px;
}
#u16055 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u16056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u16056 {
  position:absolute;
  left:1052px;
  top:169px;
  width:144px;
  height:32px;
}
#u16057 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u16058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u16058 {
  position:absolute;
  left:1196px;
  top:169px;
  width:120px;
  height:32px;
}
#u16059 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u16060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u16060 {
  position:absolute;
  left:0px;
  top:201px;
  width:47px;
  height:32px;
}
#u16061 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u16062 {
  position:absolute;
  left:47px;
  top:201px;
  width:47px;
  height:32px;
}
#u16063 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u16064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u16064 {
  position:absolute;
  left:94px;
  top:201px;
  width:171px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  line-height:28px;
}
#u16065 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u16066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u16066 {
  position:absolute;
  left:265px;
  top:201px;
  width:152px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
  text-align:left;
  line-height:28px;
}
#u16067 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
}
#u16068 {
  position:absolute;
  left:417px;
  top:201px;
  width:138px;
  height:32px;
}
#u16069 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u16070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u16070 {
  position:absolute;
  left:555px;
  top:201px;
  width:86px;
  height:32px;
}
#u16071 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u16072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16072 {
  position:absolute;
  left:641px;
  top:201px;
  width:136px;
  height:32px;
  color:#0099CC;
}
#u16073 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u16074 {
  position:absolute;
  left:777px;
  top:201px;
  width:136px;
  height:32px;
}
#u16075 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u16076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u16076 {
  position:absolute;
  left:913px;
  top:201px;
  width:139px;
  height:32px;
}
#u16077 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u16078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u16078 {
  position:absolute;
  left:1052px;
  top:201px;
  width:144px;
  height:32px;
}
#u16079 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u16080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u16080 {
  position:absolute;
  left:1196px;
  top:201px;
  width:120px;
  height:32px;
}
#u16081 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u16082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u16083 {
  position:absolute;
  left:327px;
  top:43px;
  width:27px;
  height:28px;
}
#u16084 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u16085 {
  position:absolute;
  left:327px;
  top:75px;
  width:27px;
  height:28px;
}
#u16086 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u16087 {
  position:absolute;
  left:327px;
  top:107px;
  width:27px;
  height:28px;
}
#u16088 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u16089 {
  position:absolute;
  left:327px;
  top:139px;
  width:27px;
  height:28px;
}
#u16090 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u16091 {
  position:absolute;
  left:327px;
  top:171px;
  width:27px;
  height:28px;
}
#u16092 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u16093 {
  position:absolute;
  left:327px;
  top:203px;
  width:27px;
  height:28px;
}
#u16094 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16096 {
  position:absolute;
  left:16px;
  top:47px;
  width:29px;
  height:16px;
}
#u16097 {
  position:absolute;
  left:16px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16096_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16098 {
  position:absolute;
  left:16px;
  top:81px;
  width:29px;
  height:16px;
}
#u16099 {
  position:absolute;
  left:16px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16098_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16100 {
  position:absolute;
  left:16px;
  top:113px;
  width:29px;
  height:16px;
}
#u16101 {
  position:absolute;
  left:16px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16102 {
  position:absolute;
  left:16px;
  top:145px;
  width:29px;
  height:16px;
}
#u16103 {
  position:absolute;
  left:16px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16104 {
  position:absolute;
  left:16px;
  top:177px;
  width:29px;
  height:16px;
}
#u16105 {
  position:absolute;
  left:16px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16106 {
  position:absolute;
  left:16px;
  top:209px;
  width:29px;
  height:16px;
}
#u16107 {
  position:absolute;
  left:16px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16108 {
  position:absolute;
  left:168px;
  top:124px;
  width:1196px;
  height:93px;
}
#u16109 {
  position:absolute;
  left:2px;
  top:38px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16110 {
  position:absolute;
  left:1117px;
  top:139px;
  width:29px;
  height:16px;
}
#u16111 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16112 {
  position:absolute;
  left:1156px;
  top:135px;
  width:148px;
  height:25px;
}
#u16112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u16113 {
  position:absolute;
  left:617px;
  top:136px;
  width:194px;
  height:22px;
}
#u16113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16113_input:disabled {
  color:grayText;
}
#u16114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16114 {
  position:absolute;
  left:578px;
  top:139px;
  width:29px;
  height:16px;
}
#u16115 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16116 {
  position:absolute;
  left:178px;
  top:234px;
  width:83px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16117 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u16118 {
  position:absolute;
  left:883px;
  top:136px;
  width:194px;
  height:22px;
}
#u16118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16118_input:disabled {
  color:grayText;
}
#u16119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16119 {
  position:absolute;
  left:844px;
  top:139px;
  width:29px;
  height:16px;
}
#u16120 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16122 {
  position:absolute;
  left:184px;
  top:141px;
  width:29px;
  height:16px;
}
#u16123 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16124 {
  position:absolute;
  left:223px;
  top:136px;
  width:148px;
  height:25px;
}
#u16124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16125 {
  position:absolute;
  left:401px;
  top:136px;
  width:148px;
  height:25px;
}
#u16125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16126 {
  position:absolute;
  left:381px;
  top:141px;
  width:9px;
  height:16px;
}
#u16127 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u16128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16128 {
  position:absolute;
  left:492px;
  top:234px;
  width:83px;
  height:32px;
}
#u16129 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u16130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16130 {
  position:absolute;
  left:283px;
  top:234px;
  width:83px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16131 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u16132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16132 {
  position:absolute;
  left:563px;
  top:177px;
  width:67px;
  height:29px;
}
#u16133 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u16134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16134 {
  position:absolute;
  left:651px;
  top:177px;
  width:67px;
  height:29px;
}
#u16135 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u16137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  background:inherit;
  background-color:rgba(2, 178, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u16137 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  font-size:28px;
  color:#FFFFFF;
}
#u16138 {
  position:absolute;
  left:2px;
  top:18px;
  width:1360px;
  word-wrap:break-word;
}
#u16139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16139 {
  position:absolute;
  left:1158px;
  top:26px;
  width:171px;
  height:16px;
  color:#FFFFFF;
}
#u16140 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u16141 {
  position:absolute;
  left:11px;
  top:97px;
  width:131px;
  height:265px;
}
#u16141_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16142 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16143 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16143_img.selected {
}
#u16143.selected {
}
#u16144 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16145 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16146 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16142_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16147 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16148 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16149 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16150 {
  position:absolute;
  left:0px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16151 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16151_img.selected {
}
#u16151.selected {
}
#u16152 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16153 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16154 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16150_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16155 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16156 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16157 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16158 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16159 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16160 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16161 {
  position:absolute;
  left:0px;
  top:100px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16162 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16162_img.selected {
}
#u16162.selected {
}
#u16163 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16164 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16165 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16161_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16166 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16167 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16168 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16169 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16170 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16171 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16172 {
  position:absolute;
  left:0px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16173 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16173_img.selected {
}
#u16173.selected {
}
#u16174 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16175 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16176 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16172_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16177 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16178 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16179 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16180 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16181 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16182 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16183 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:20px;
}
#u16184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16184 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16184_img.selected {
}
#u16184.selected {
}
#u16185 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16186 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16187 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16183_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16188 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16189 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16190 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16191 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u16192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16192 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16193 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16194 {
  position:absolute;
  left:0px;
  top:160px;
  width:106px;
  height:20px;
}
#u16195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16195 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16195_img.selected {
}
#u16195.selected {
}
#u16196 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16197 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16198 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16194_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16199 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u16200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16200 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16201 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16202 {
  position:absolute;
  left:20px;
  top:40px;
  width:132px;
  height:20px;
}
#u16203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16203 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u16204 {
  position:absolute;
  left:3px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u16205 {
  position:absolute;
  left:0px;
  top:180px;
  width:93px;
  height:20px;
}
#u16206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16206 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16206_img.selected {
}
#u16206.selected {
}
#u16207 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16208 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u16209 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u16205_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16210 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u16211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16211 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u16212 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u16213 {
  position:absolute;
  left:0px;
  top:200px;
  width:93px;
  height:20px;
}
#u16214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16214 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16214_img.selected {
}
#u16214.selected {
}
#u16215 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16216 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u16217 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u16213_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16218 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u16219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16219 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u16220 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u16221 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u16222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16222 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u16223 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u16224 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
}
#u16225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16225 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16226 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16227 {
  position:absolute;
  left:0px;
  top:220px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16228 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16228_img.selected {
}
#u16228.selected {
}
#u16229 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16230 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u16231 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u16227_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16232 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u16233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16233 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u16234 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u16235 {
  position:absolute;
  left:20px;
  top:40px;
  width:119px;
  height:20px;
}
#u16236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16236 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u16237 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u16238 {
  position:absolute;
  left:20px;
  top:60px;
  width:119px;
  height:20px;
}
#u16239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16239 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u16240 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u16241 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16242 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16242_img.selected {
}
#u16242.selected {
}
#u16243 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16244 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16245 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16241_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u16246 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16247 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16248 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16249 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16250 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16251 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16252 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16253 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u16254 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:952px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  line-height:28px;
}
#u16255 {
  position:absolute;
  left:1452px;
  top:59px;
  width:964px;
  height:952px;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  line-height:28px;
}
#u16256 {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  white-space:nowrap;
}
#u16257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16257 {
  position:absolute;
  left:387px;
  top:234px;
  width:83px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16258 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u16259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16259 {
  position:absolute;
  left:168px;
  top:95px;
  width:94px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16260 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u16261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16262 {
  position:absolute;
  left:198px;
  top:553px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u16263 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16264 {
  position:absolute;
  left:228px;
  top:553px;
  width:20px;
  height:20px;
}
#u16265 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16266 {
  position:absolute;
  left:258px;
  top:553px;
  width:20px;
  height:20px;
}
#u16267 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16268 {
  position:absolute;
  left:288px;
  top:553px;
  width:20px;
  height:20px;
}
#u16269 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16270 {
  position:absolute;
  left:318px;
  top:553px;
  width:20px;
  height:20px;
}
#u16271 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16272 {
  position:absolute;
  left:348px;
  top:553px;
  width:20px;
  height:20px;
}
#u16273 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16274 {
  position:absolute;
  left:168px;
  top:553px;
  width:20px;
  height:20px;
}
#u16274_img.disabled {
}
#u16274.disabled {
}
#u16275 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16276 {
  position:absolute;
  left:378px;
  top:553px;
  width:20px;
  height:20px;
}
#u16276_img.disabled {
}
#u16276.disabled {
}
#u16277 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u16278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16278 {
  position:absolute;
  left:171px;
  top:612px;
  width:511px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16279 {
  position:absolute;
  left:2px;
  top:12px;
  width:507px;
  word-wrap:break-word;
}
#u16280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16280 {
  position:absolute;
  left:171px;
  top:664px;
  width:511px;
  height:285px;
}
#u16281 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u16282 {
  position:absolute;
  left:735px;
  top:676px;
  width:634px;
  height:105px;
}
#u16283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u16283 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u16284 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16285 {
  position:absolute;
  left:49px;
  top:0px;
  width:147px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u16286 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u16287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u16287 {
  position:absolute;
  left:196px;
  top:0px;
  width:302px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u16288 {
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u16289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u16289 {
  position:absolute;
  left:498px;
  top:0px;
  width:131px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u16290 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u16291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u16291 {
  position:absolute;
  left:0px;
  top:30px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16292 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  word-wrap:break-word;
}
#u16293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u16293 {
  position:absolute;
  left:49px;
  top:30px;
  width:147px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16294 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u16295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u16295 {
  position:absolute;
  left:196px;
  top:30px;
  width:302px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16296 {
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u16297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
}
#u16297 {
  position:absolute;
  left:498px;
  top:30px;
  width:131px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16298 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u16299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u16299 {
  position:absolute;
  left:0px;
  top:70px;
  width:49px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16300 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u16301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u16301 {
  position:absolute;
  left:49px;
  top:70px;
  width:147px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16302 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u16303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u16303 {
  position:absolute;
  left:196px;
  top:70px;
  width:302px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16304 {
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u16305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u16305 {
  position:absolute;
  left:498px;
  top:70px;
  width:131px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16306 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u16307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16307 {
  position:absolute;
  left:735px;
  top:612px;
  width:629px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16308 {
  position:absolute;
  left:2px;
  top:12px;
  width:625px;
  word-wrap:break-word;
}
#u16309 {
  position:absolute;
  left:663px;
  top:1148px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
}
#u16310 {
  position:absolute;
  left:171px;
  top:930px;
  width:511px;
  height:126px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
}
#u16311 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
