﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u846 {
  position:absolute;
  left:20px;
  top:16px;
  width:350px;
  height:506px;
  font-size:18px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u848 {
  position:absolute;
  left:375px;
  top:16px;
  width:430px;
  height:880px;
}
#u849 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:402px;
  top:123px;
  width:375px;
  height:667px;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u850_ref {
  position:absolute;
  left:769px;
  top:780px;
  width:1px;
  height:1px;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u852 {
  position:absolute;
  left:1260px;
  top:16px;
  width:430px;
  height:880px;
}
#u853 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:1287px;
  top:123px;
  width:375px;
  height:667px;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u854_ref {
  position:absolute;
  left:1654px;
  top:780px;
  width:1px;
  height:1px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u856 {
  position:absolute;
  left:815px;
  top:16px;
  width:430px;
  height:880px;
}
#u857 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858 {
  position:absolute;
  left:842px;
  top:123px;
  width:375px;
  height:667px;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u858_ref {
  position:absolute;
  left:1209px;
  top:780px;
  width:1px;
  height:1px;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u859 {
  position:absolute;
  left:1700px;
  top:16px;
  width:430px;
  height:880px;
}
#u860 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861 {
  position:absolute;
  left:1727px;
  top:123px;
  width:375px;
  height:667px;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u861_ref {
  position:absolute;
  left:2094px;
  top:780px;
  width:1px;
  height:1px;
}
