﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3591 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3592 {
  position:absolute;
  left:305px;
  top:385px;
  width:357px;
  height:197px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3593 {
  position:absolute;
  left:2px;
  top:82px;
  width:353px;
  word-wrap:break-word;
}
#u3594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3594 {
  position:absolute;
  left:318px;
  top:397px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3595 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3596 {
  position:absolute;
  left:408px;
  top:531px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u3597 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u3598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3598 {
  position:absolute;
  left:487px;
  top:531px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u3598_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3598.selected {
}
#u3599 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u3600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:299px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u3600 {
  position:absolute;
  left:239px;
  top:56px;
  width:670px;
  height:299px;
  text-align:left;
}
#u3601 {
  position:absolute;
  left:2px;
  top:44px;
  width:666px;
  word-wrap:break-word;
}
#u3602 {
  position:absolute;
  left:41px;
  top:100px;
  width:890px;
  height:512px;
  overflow:hidden;
  visibility:hidden;
}
#u3602_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:512px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3602_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3603 {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:512px;
}
#u3604 {
  position:absolute;
  left:2px;
  top:248px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3605 {
  position:absolute;
  left:352px;
  top:25px;
  width:54px;
  height:25px;
}
#u3606 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u3607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3607 {
  position:absolute;
  left:430px;
  top:471px;
  width:54px;
  height:25px;
}
#u3607_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3607.selected {
}
#u3608 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u3609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3609 {
  position:absolute;
  left:24px;
  top:30px;
  width:71px;
  height:16px;
}
#u3610 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3611 {
  position:absolute;
  left:105px;
  top:28px;
  width:220px;
  height:24px;
}
#u3611_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u3612 {
  position:absolute;
  left:9px;
  top:455px;
  width:229px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u3613 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u3614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3614 {
  position:absolute;
  left:360px;
  top:471px;
  width:54px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3615 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u3616 {
  position:absolute;
  left:17px;
  top:76px;
  width:846px;
  height:361px;
  overflow:hidden;
}
#u3616_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:361px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3616_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3617 {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:503px;
}
#u3618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3618 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3619 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u3620 {
  position:absolute;
  left:44px;
  top:0px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3621 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u3622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u3622 {
  position:absolute;
  left:123px;
  top:0px;
  width:116px;
  height:40px;
}
#u3623 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u3624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3624 {
  position:absolute;
  left:239px;
  top:0px;
  width:254px;
  height:40px;
}
#u3625 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u3626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3626 {
  position:absolute;
  left:493px;
  top:0px;
  width:135px;
  height:40px;
}
#u3627 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3628 {
  position:absolute;
  left:628px;
  top:0px;
  width:143px;
  height:40px;
}
#u3629 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u3630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3630 {
  position:absolute;
  left:771px;
  top:0px;
  width:51px;
  height:40px;
}
#u3631 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u3632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u3632 {
  position:absolute;
  left:0px;
  top:40px;
  width:44px;
  height:36px;
}
#u3633 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u3634 {
  position:absolute;
  left:44px;
  top:40px;
  width:79px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3635 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u3636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u3636 {
  position:absolute;
  left:123px;
  top:40px;
  width:116px;
  height:36px;
}
#u3637 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u3638 {
  position:absolute;
  left:239px;
  top:40px;
  width:254px;
  height:36px;
  text-align:left;
}
#u3639 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u3640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3640 {
  position:absolute;
  left:493px;
  top:40px;
  width:135px;
  height:36px;
}
#u3641 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u3642 {
  position:absolute;
  left:628px;
  top:40px;
  width:143px;
  height:36px;
}
#u3643 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u3644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u3644 {
  position:absolute;
  left:771px;
  top:40px;
  width:51px;
  height:36px;
}
#u3645 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u3646 {
  position:absolute;
  left:0px;
  top:76px;
  width:44px;
  height:36px;
}
#u3647 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u3648 {
  position:absolute;
  left:44px;
  top:76px;
  width:79px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3649 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u3650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u3650 {
  position:absolute;
  left:123px;
  top:76px;
  width:116px;
  height:36px;
}
#u3651 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u3652 {
  position:absolute;
  left:239px;
  top:76px;
  width:254px;
  height:36px;
  text-align:left;
}
#u3653 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u3654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3654 {
  position:absolute;
  left:493px;
  top:76px;
  width:135px;
  height:36px;
}
#u3655 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u3656 {
  position:absolute;
  left:628px;
  top:76px;
  width:143px;
  height:36px;
}
#u3657 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u3658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u3658 {
  position:absolute;
  left:771px;
  top:76px;
  width:51px;
  height:36px;
}
#u3659 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u3660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3660 {
  position:absolute;
  left:0px;
  top:112px;
  width:44px;
  height:40px;
}
#u3661 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u3662 {
  position:absolute;
  left:44px;
  top:112px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3663 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u3664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u3664 {
  position:absolute;
  left:123px;
  top:112px;
  width:116px;
  height:40px;
}
#u3665 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3666 {
  position:absolute;
  left:239px;
  top:112px;
  width:254px;
  height:40px;
  text-align:left;
}
#u3667 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3668 {
  position:absolute;
  left:493px;
  top:112px;
  width:135px;
  height:40px;
}
#u3669 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3670 {
  position:absolute;
  left:628px;
  top:112px;
  width:143px;
  height:40px;
}
#u3671 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3672 {
  position:absolute;
  left:771px;
  top:112px;
  width:51px;
  height:40px;
}
#u3673 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u3674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3674 {
  position:absolute;
  left:0px;
  top:152px;
  width:44px;
  height:40px;
}
#u3675 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u3676 {
  position:absolute;
  left:44px;
  top:152px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3677 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u3678 {
  position:absolute;
  left:123px;
  top:152px;
  width:116px;
  height:40px;
}
#u3679 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3680 {
  position:absolute;
  left:239px;
  top:152px;
  width:254px;
  height:40px;
  text-align:left;
}
#u3681 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u3682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3682 {
  position:absolute;
  left:493px;
  top:152px;
  width:135px;
  height:40px;
}
#u3683 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3684 {
  position:absolute;
  left:628px;
  top:152px;
  width:143px;
  height:40px;
}
#u3685 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u3686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3686 {
  position:absolute;
  left:771px;
  top:152px;
  width:51px;
  height:40px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u3688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3688 {
  position:absolute;
  left:0px;
  top:192px;
  width:44px;
  height:40px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u3690 {
  position:absolute;
  left:44px;
  top:192px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3691 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u3692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u3692 {
  position:absolute;
  left:123px;
  top:192px;
  width:116px;
  height:40px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u3694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3694 {
  position:absolute;
  left:239px;
  top:192px;
  width:254px;
  height:40px;
  text-align:left;
}
#u3695 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u3696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3696 {
  position:absolute;
  left:493px;
  top:192px;
  width:135px;
  height:40px;
}
#u3697 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3698 {
  position:absolute;
  left:628px;
  top:192px;
  width:143px;
  height:40px;
}
#u3699 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u3700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3700 {
  position:absolute;
  left:771px;
  top:192px;
  width:51px;
  height:40px;
}
#u3701 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u3702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3702 {
  position:absolute;
  left:0px;
  top:232px;
  width:44px;
  height:40px;
}
#u3703 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u3704 {
  position:absolute;
  left:44px;
  top:232px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3705 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u3706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u3706 {
  position:absolute;
  left:123px;
  top:232px;
  width:116px;
  height:40px;
}
#u3707 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3708 {
  position:absolute;
  left:239px;
  top:232px;
  width:254px;
  height:40px;
  text-align:left;
}
#u3709 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u3710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3710 {
  position:absolute;
  left:493px;
  top:232px;
  width:135px;
  height:40px;
}
#u3711 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3712 {
  position:absolute;
  left:628px;
  top:232px;
  width:143px;
  height:40px;
}
#u3713 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u3714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3714 {
  position:absolute;
  left:771px;
  top:232px;
  width:51px;
  height:40px;
}
#u3715 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u3716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3716 {
  position:absolute;
  left:0px;
  top:272px;
  width:44px;
  height:40px;
}
#u3717 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u3718 {
  position:absolute;
  left:44px;
  top:272px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3719 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u3720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u3720 {
  position:absolute;
  left:123px;
  top:272px;
  width:116px;
  height:40px;
}
#u3721 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u3722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3722 {
  position:absolute;
  left:239px;
  top:272px;
  width:254px;
  height:40px;
  text-align:left;
}
#u3723 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u3724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3724 {
  position:absolute;
  left:493px;
  top:272px;
  width:135px;
  height:40px;
}
#u3725 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3726 {
  position:absolute;
  left:628px;
  top:272px;
  width:143px;
  height:40px;
}
#u3727 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u3728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3728 {
  position:absolute;
  left:771px;
  top:272px;
  width:51px;
  height:40px;
}
#u3729 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u3730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3730 {
  position:absolute;
  left:0px;
  top:312px;
  width:44px;
  height:40px;
}
#u3731 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u3732 {
  position:absolute;
  left:44px;
  top:312px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3733 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u3734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u3734 {
  position:absolute;
  left:123px;
  top:312px;
  width:116px;
  height:40px;
}
#u3735 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u3736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u3736 {
  position:absolute;
  left:239px;
  top:312px;
  width:254px;
  height:40px;
  text-align:left;
}
#u3737 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u3738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3738 {
  position:absolute;
  left:493px;
  top:312px;
  width:135px;
  height:40px;
}
#u3739 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u3740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u3740 {
  position:absolute;
  left:628px;
  top:312px;
  width:143px;
  height:40px;
}
#u3741 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u3742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3742 {
  position:absolute;
  left:771px;
  top:312px;
  width:51px;
  height:40px;
}
#u3743 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u3744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u3744 {
  position:absolute;
  left:0px;
  top:352px;
  width:44px;
  height:36px;
}
#u3745 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u3746 {
  position:absolute;
  left:44px;
  top:352px;
  width:79px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3747 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u3748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u3748 {
  position:absolute;
  left:123px;
  top:352px;
  width:116px;
  height:36px;
}
#u3749 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u3750 {
  position:absolute;
  left:239px;
  top:352px;
  width:254px;
  height:36px;
  text-align:left;
}
#u3751 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u3752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3752 {
  position:absolute;
  left:493px;
  top:352px;
  width:135px;
  height:36px;
}
#u3753 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u3754 {
  position:absolute;
  left:628px;
  top:352px;
  width:143px;
  height:36px;
}
#u3755 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u3756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u3756 {
  position:absolute;
  left:771px;
  top:352px;
  width:51px;
  height:36px;
}
#u3757 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u3758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:37px;
}
#u3758 {
  position:absolute;
  left:0px;
  top:388px;
  width:44px;
  height:37px;
}
#u3759 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
}
#u3760 {
  position:absolute;
  left:44px;
  top:388px;
  width:79px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3761 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u3762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u3762 {
  position:absolute;
  left:123px;
  top:388px;
  width:116px;
  height:37px;
}
#u3763 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:37px;
}
#u3764 {
  position:absolute;
  left:239px;
  top:388px;
  width:254px;
  height:37px;
  text-align:left;
}
#u3765 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u3766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u3766 {
  position:absolute;
  left:493px;
  top:388px;
  width:135px;
  height:37px;
}
#u3767 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u3768 {
  position:absolute;
  left:628px;
  top:388px;
  width:143px;
  height:37px;
}
#u3769 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u3770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u3770 {
  position:absolute;
  left:771px;
  top:388px;
  width:51px;
  height:37px;
}
#u3771 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u3772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u3772 {
  position:absolute;
  left:0px;
  top:425px;
  width:44px;
  height:36px;
}
#u3773 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u3774 {
  position:absolute;
  left:44px;
  top:425px;
  width:79px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3775 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u3776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u3776 {
  position:absolute;
  left:123px;
  top:425px;
  width:116px;
  height:36px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u3778 {
  position:absolute;
  left:239px;
  top:425px;
  width:254px;
  height:36px;
  text-align:left;
}
#u3779 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3780 {
  position:absolute;
  left:493px;
  top:425px;
  width:135px;
  height:36px;
}
#u3781 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u3782 {
  position:absolute;
  left:628px;
  top:425px;
  width:143px;
  height:36px;
}
#u3783 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u3784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u3784 {
  position:absolute;
  left:771px;
  top:425px;
  width:51px;
  height:36px;
}
#u3785 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u3786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:37px;
}
#u3786 {
  position:absolute;
  left:0px;
  top:461px;
  width:44px;
  height:37px;
}
#u3787 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
}
#u3788 {
  position:absolute;
  left:44px;
  top:461px;
  width:79px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3789 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u3790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u3790 {
  position:absolute;
  left:123px;
  top:461px;
  width:116px;
  height:37px;
}
#u3791 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:37px;
}
#u3792 {
  position:absolute;
  left:239px;
  top:461px;
  width:254px;
  height:37px;
  text-align:left;
}
#u3793 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u3794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u3794 {
  position:absolute;
  left:493px;
  top:461px;
  width:135px;
  height:37px;
}
#u3795 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u3796 {
  position:absolute;
  left:628px;
  top:461px;
  width:143px;
  height:37px;
}
#u3797 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u3798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u3798 {
  position:absolute;
  left:771px;
  top:461px;
  width:51px;
  height:37px;
}
#u3799 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u3800 {
  position:absolute;
  left:11px;
  top:51px;
  width:34px;
  height:16px;
}
#u3801 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3800_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3802 {
  position:absolute;
  left:11px;
  top:87px;
  width:34px;
  height:16px;
}
#u3803 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3802_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3804 {
  position:absolute;
  left:11px;
  top:123px;
  width:34px;
  height:16px;
}
#u3805 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3804_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3806 {
  position:absolute;
  left:11px;
  top:159px;
  width:34px;
  height:16px;
}
#u3807 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3806_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3808 {
  position:absolute;
  left:11px;
  top:195px;
  width:34px;
  height:16px;
}
#u3809 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3808_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3810 {
  position:absolute;
  left:11px;
  top:231px;
  width:34px;
  height:16px;
}
#u3811 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3810_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3812 {
  position:absolute;
  left:11px;
  top:268px;
  width:34px;
  height:16px;
}
#u3813 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3812_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3814 {
  position:absolute;
  left:11px;
  top:304px;
  width:34px;
  height:16px;
}
#u3815 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3814_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3816 {
  position:absolute;
  left:11px;
  top:340px;
  width:34px;
  height:16px;
}
#u3817 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3818 {
  position:absolute;
  left:11px;
  top:376px;
  width:34px;
  height:16px;
}
#u3819 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3818_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3820 {
  position:absolute;
  left:11px;
  top:412px;
  width:34px;
  height:16px;
}
#u3821 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3822 {
  position:absolute;
  left:11px;
  top:448px;
  width:34px;
  height:16px;
}
#u3823 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3824 {
  position:absolute;
  left:12px;
  top:258px;
  width:948px;
  height:354px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:169px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
}
#u3826 {
  position:absolute;
  left:12px;
  top:8px;
  width:170px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
}
#u3827 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3828 {
  position:absolute;
  left:12px;
  top:53px;
  width:948px;
  height:186px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:85px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u3830 {
  position:absolute;
  left:19px;
  top:44px;
  width:88px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3832 {
  position:absolute;
  left:22px;
  top:80px;
  width:70px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3834 {
  position:absolute;
  left:102px;
  top:78px;
  width:117px;
  height:25px;
}
#u3834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3835 {
  position:absolute;
  left:462px;
  top:80px;
  width:103px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3836 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u3837 {
  position:absolute;
  left:574px;
  top:78px;
  width:117px;
  height:25px;
}
#u3837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3838 {
  position:absolute;
  left:265px;
  top:80px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3840 {
  position:absolute;
  left:343px;
  top:78px;
  width:117px;
  height:25px;
}
#u3840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3841 {
  position:absolute;
  left:737px;
  top:80px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u3842 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u3843 {
  position:absolute;
  left:816px;
  top:78px;
  width:117px;
  height:25px;
}
#u3843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3845 {
  position:absolute;
  left:0px;
  top:199px;
  width:87px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3846 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u3847 {
  position:absolute;
  left:96px;
  top:197px;
  width:831px;
  height:25px;
}
#u3847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3848 {
  position:absolute;
  left:-25px;
  top:124px;
  width:117px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u3850 {
  position:absolute;
  left:101px;
  top:121px;
  width:117px;
  height:25px;
}
#u3850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u3851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3851 {
  position:absolute;
  left:201px;
  top:124px;
  width:134px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3852 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3853 {
  position:absolute;
  left:343px;
  top:121px;
  width:117px;
  height:25px;
}
#u3853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u3854 {
  position:absolute;
  left:102px;
  top:60px;
  width:115px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u3856 {
  position:absolute;
  left:19px;
  top:249px;
  width:88px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3858 {
  position:absolute;
  left:978px;
  top:56px;
  width:688px;
  height:83px;
  font-size:14px;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3860 {
  position:absolute;
  left:978px;
  top:25px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3861 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3862 {
  position:absolute;
  left:-10px;
  top:162px;
  width:133px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u3864 {
  position:absolute;
  left:133px;
  top:158px;
  width:86px;
  height:25px;
}
#u3864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3865 {
  position:absolute;
  left:22px;
  top:285px;
  width:71px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u3867 {
  position:absolute;
  left:103px;
  top:281px;
  width:64px;
  height:25px;
}
#u3867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3868 {
  position:absolute;
  left:33px;
  top:313px;
  width:905px;
  height:95px;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u3869 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3870 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u3871 {
  position:absolute;
  left:56px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3872 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3873 {
  position:absolute;
  left:177px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3874 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u3875 {
  position:absolute;
  left:317px;
  top:0px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3876 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3877 {
  position:absolute;
  left:451px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3878 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3879 {
  position:absolute;
  left:564px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3880 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3881 {
  position:absolute;
  left:677px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3882 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3883 {
  position:absolute;
  left:790px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3884 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u3885 {
  position:absolute;
  left:0px;
  top:30px;
  width:56px;
  height:30px;
}
#u3886 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u3887 {
  position:absolute;
  left:56px;
  top:30px;
  width:121px;
  height:30px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3889 {
  position:absolute;
  left:177px;
  top:30px;
  width:140px;
  height:30px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u3891 {
  position:absolute;
  left:317px;
  top:30px;
  width:134px;
  height:30px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3893 {
  position:absolute;
  left:451px;
  top:30px;
  width:113px;
  height:30px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3895 {
  position:absolute;
  left:564px;
  top:30px;
  width:113px;
  height:30px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3897 {
  position:absolute;
  left:677px;
  top:30px;
  width:113px;
  height:30px;
}
#u3898 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3899 {
  position:absolute;
  left:790px;
  top:30px;
  width:110px;
  height:30px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u3901 {
  position:absolute;
  left:0px;
  top:60px;
  width:56px;
  height:30px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u3903 {
  position:absolute;
  left:56px;
  top:60px;
  width:121px;
  height:30px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3905 {
  position:absolute;
  left:177px;
  top:60px;
  width:140px;
  height:30px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u3907 {
  position:absolute;
  left:317px;
  top:60px;
  width:134px;
  height:30px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3909 {
  position:absolute;
  left:451px;
  top:60px;
  width:113px;
  height:30px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3911 {
  position:absolute;
  left:564px;
  top:60px;
  width:113px;
  height:30px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3913 {
  position:absolute;
  left:677px;
  top:60px;
  width:113px;
  height:30px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3915 {
  position:absolute;
  left:790px;
  top:60px;
  width:110px;
  height:30px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3917 {
  position:absolute;
  left:33px;
  top:313px;
  width:905px;
  height:35px;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3919 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u3920 {
  position:absolute;
  left:56px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3921 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3922 {
  position:absolute;
  left:177px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3923 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u3924 {
  position:absolute;
  left:317px;
  top:0px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3925 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3926 {
  position:absolute;
  left:451px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3927 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3928 {
  position:absolute;
  left:564px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3929 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3930 {
  position:absolute;
  left:677px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3931 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3932 {
  position:absolute;
  left:790px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3933 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3934 {
  position:absolute;
  left:103px;
  top:263px;
  width:497px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  word-wrap:break-word;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3936 {
  position:absolute;
  left:227px;
  top:418px;
  width:106px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u3938 {
  position:absolute;
  left:343px;
  top:414px;
  width:117px;
  height:25px;
}
#u3938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3939 {
  position:absolute;
  left:-10px;
  top:419px;
  width:103px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u3941 {
  position:absolute;
  left:102px;
  top:414px;
  width:117px;
  height:25px;
}
#u3941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3942 {
  position:absolute;
  left:102px;
  top:495px;
  width:833px;
  height:76px;
}
#u3942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3943 {
  position:absolute;
  left:22px;
  top:497px;
  width:71px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3945 {
  position:absolute;
  left:30px;
  top:456px;
  width:63px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3946 {
  position:absolute;
  left:0px;
  top:3px;
  width:63px;
  white-space:nowrap;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u3947 {
  position:absolute;
  left:229px;
  top:458px;
  width:216px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u3949 {
  position:absolute;
  left:102px;
  top:455px;
  width:117px;
  height:25px;
}
#u3949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3950 {
  position:absolute;
  left:442px;
  top:631px;
  width:95px;
  height:26px;
  font-size:14px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3952 {
  position:absolute;
  left:547px;
  top:631px;
  width:95px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
}
#u3953 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3954 {
  position:absolute;
  left:337px;
  top:631px;
  width:95px;
  height:26px;
  font-size:14px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3956 {
  position:absolute;
  left:978px;
  top:162px;
  width:155px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3958 {
  position:absolute;
  left:978px;
  top:197px;
  width:688px;
  height:136px;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  word-wrap:break-word;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3960 {
  position:absolute;
  left:978px;
  top:370px;
  width:688px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  word-wrap:break-word;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3963 {
  position:absolute;
  left:258px;
  top:159px;
  width:82px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3965 {
  position:absolute;
  left:343px;
  top:162px;
  width:117px;
  height:25px;
}
#u3965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3966 {
  position:absolute;
  left:978px;
  top:335px;
  width:155px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3968 {
  position:absolute;
  left:986px;
  top:564px;
  width:688px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  word-wrap:break-word;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3970 {
  position:absolute;
  left:986px;
  top:529px;
  width:119px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3972 {
  position:absolute;
  left:441px;
  top:703px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3973 {
  position:absolute;
  left:262px;
  top:285px;
  width:71px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u3975 {
  position:absolute;
  left:343px;
  top:281px;
  width:117px;
  height:25px;
}
#u3975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3976 {
  position:absolute;
  left:713px;
  top:285px;
  width:95px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u3978 {
  position:absolute;
  left:816px;
  top:281px;
  width:117px;
  height:25px;
}
#u3978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3979 {
  position:absolute;
  left:432px;
  top:285px;
  width:133px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u3981 {
  position:absolute;
  left:574px;
  top:281px;
  width:117px;
  height:25px;
}
#u3981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3982 {
  position:absolute;
  left:432px;
  top:124px;
  width:134px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3984 {
  position:absolute;
  left:574px;
  top:121px;
  width:117px;
  height:25px;
}
#u3984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3985 {
  position:absolute;
  left:674px;
  top:124px;
  width:134px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3987 {
  position:absolute;
  left:816px;
  top:121px;
  width:117px;
  height:25px;
}
#u3987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
