﻿.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
.table_cell {
}
.box_1 {
}
.label {
  font-size:14px;
  text-align:left;
}
.image {
}
.line {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
._图片 {
}
.box_2 {
}
.box_3 {
}
.box_21 {
}
.shape {
}
.image1 {
  color:#000000;
}
.box_11 {
}
.line1 {
}
.icon {
}
.ellipse {
}
.marker {
  color:#FFFFFF;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-size:12px;
}
.button {
}
.text_field {
  color:#000000;
  text-align:left;
}
.arrow {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
  text-align:center;
  line-height:normal;
}
.primary_button {
  color:#FFFFFF;
}
.image2 {
}
.snapshot {
}
.flow_shape {
}
._图片1 {
  color:#000000;
}
.placeholder {
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.ellipse1 {
}
.shape1 {
}
.html_button {
  text-align:center;
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-size:18px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-size:15px;
  text-align:left;
}
._图片2 {
}
.icon1 {
}
.link_button {
  color:#169BD5;
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
