﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u1170 {
  position:absolute;
  left:157px;
  top:65px;
  width:62px;
  height:62px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:20px;
}
#u1172 {
  position:absolute;
  left:0px;
  top:169px;
  width:375px;
  height:40px;
  color:#999999;
  line-height:20px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1174 {
  position:absolute;
  left:117px;
  top:137px;
  width:126px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1175 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1176 {
  position:absolute;
  left:126px;
  top:250px;
  width:138px;
  height:29px;
  font-size:16px;
  color:#999999;
}
#u1177 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1178 {
  position:absolute;
  left:126px;
  top:295px;
  width:202px;
  height:24px;
  font-size:16px;
  color:#999999;
}
#u1179 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
.u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1182 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1180-2 {
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
}
#u1180-3 {
  position:absolute;
  left:70px;
  top:0px;
  width:25px;
  height:25px;
}
#u1180-4 {
  position:absolute;
  left:105px;
  top:0px;
  width:25px;
  height:25px;
}
#u1180-5 {
  position:absolute;
  left:140px;
  top:0px;
  width:25px;
  height:25px;
}
#u1180-6 {
  position:absolute;
  left:175px;
  top:0px;
  width:25px;
  height:25px;
}
#u1180 {
  position:absolute;
  left:125px;
  top:336px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1183 {
  position:absolute;
  left:13px;
  top:401px;
  width:356px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1184 {
  position:absolute;
  left:13px;
  top:462px;
  width:356px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
