﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  background:inherit;
  background-color:rgba(2, 178, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u20589 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  font-size:28px;
  color:#FFFFFF;
}
#u20590 {
  position:absolute;
  left:2px;
  top:18px;
  width:1360px;
  word-wrap:break-word;
}
#u20591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20591 {
  position:absolute;
  left:1158px;
  top:26px;
  width:171px;
  height:16px;
  color:#FFFFFF;
}
#u20592 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u20593 {
  position:absolute;
  left:11px;
  top:97px;
  width:131px;
  height:265px;
}
#u20593_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20594 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20595 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20595_img.selected {
}
#u20595.selected {
}
#u20596 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20597 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20598 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20594_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20599 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20600 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20601 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20602 {
  position:absolute;
  left:0px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20603 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20603_img.selected {
}
#u20603.selected {
}
#u20604 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20605 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20606 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20602_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20607 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20608 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20609 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20610 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20611 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20612 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20613 {
  position:absolute;
  left:0px;
  top:100px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20614 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20614_img.selected {
}
#u20614.selected {
}
#u20615 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20616 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20617 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20613_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20618 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20619 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20620 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20621 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20622 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20623 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20624 {
  position:absolute;
  left:0px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20625 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20625_img.selected {
}
#u20625.selected {
}
#u20626 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20627 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20628 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20624_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20629 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20630 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20631 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20632 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20633 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20634 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20635 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:20px;
}
#u20636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20636 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20636_img.selected {
}
#u20636.selected {
}
#u20637 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20638 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20639 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20635_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20640 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20641 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20642 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20643 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u20644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20644 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20645 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20646 {
  position:absolute;
  left:0px;
  top:160px;
  width:106px;
  height:20px;
}
#u20647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20647 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20647_img.selected {
}
#u20647.selected {
}
#u20648 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20649 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20650 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20646_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20651 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u20652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20652 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20653 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20654 {
  position:absolute;
  left:20px;
  top:40px;
  width:132px;
  height:20px;
}
#u20655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20655 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u20656 {
  position:absolute;
  left:3px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u20657 {
  position:absolute;
  left:0px;
  top:180px;
  width:93px;
  height:20px;
}
#u20658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20658 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20658_img.selected {
}
#u20658.selected {
}
#u20659 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20660 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u20661 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u20657_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20662 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u20663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20663 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u20664 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u20665 {
  position:absolute;
  left:0px;
  top:200px;
  width:93px;
  height:20px;
}
#u20666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20666 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20666_img.selected {
}
#u20666.selected {
}
#u20667 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20668 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u20669 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u20665_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20670 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u20671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20671 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u20672 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u20673 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u20674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20674 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u20675 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u20676 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
}
#u20677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20677 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20678 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20679 {
  position:absolute;
  left:0px;
  top:220px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20680 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20680_img.selected {
}
#u20680.selected {
}
#u20681 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20682 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u20683 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u20679_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20684 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u20685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20685 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u20686 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u20687 {
  position:absolute;
  left:20px;
  top:40px;
  width:119px;
  height:20px;
}
#u20688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20688 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u20689 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u20690 {
  position:absolute;
  left:20px;
  top:60px;
  width:119px;
  height:20px;
}
#u20691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20691 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u20692 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u20693 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20694 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20694_img.selected {
}
#u20694.selected {
}
#u20695 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20696 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20697 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20693_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20698 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20699 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20700 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20701 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20702 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20703 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20704 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20705 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u20706 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u20707 {
  position:absolute;
  left:165px;
  top:96px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u20708 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20709 {
  position:absolute;
  left:230px;
  top:131px;
  width:67px;
  height:38px;
}
#u20710 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u20711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20711 {
  position:absolute;
  left:165px;
  top:165px;
  width:1223px;
  height:553px;
}
#u20712 {
  position:absolute;
  left:2px;
  top:268px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20713 {
  position:absolute;
  left:175px;
  top:288px;
  width:1199px;
  height:364px;
  overflow:hidden;
}
#u20713_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:364px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u20713_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20714 {
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:271px;
}
#u20715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u20715 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u20716 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u20717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u20717 {
  position:absolute;
  left:69px;
  top:0px;
  width:47px;
  height:40px;
}
#u20718 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u20719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u20719 {
  position:absolute;
  left:116px;
  top:0px;
  width:127px;
  height:40px;
}
#u20720 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u20721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u20721 {
  position:absolute;
  left:243px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20722 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u20723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u20723 {
  position:absolute;
  left:326px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20724 {
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u20725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u20725 {
  position:absolute;
  left:484px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20726 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u20727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u20727 {
  position:absolute;
  left:580px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20728 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u20729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u20729 {
  position:absolute;
  left:699px;
  top:0px;
  width:121px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20730 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u20731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u20731 {
  position:absolute;
  left:820px;
  top:0px;
  width:142px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20732 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u20733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u20733 {
  position:absolute;
  left:962px;
  top:0px;
  width:111px;
  height:40px;
}
#u20734 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u20735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u20735 {
  position:absolute;
  left:1073px;
  top:0px;
  width:110px;
  height:40px;
}
#u20736 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u20737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u20737 {
  position:absolute;
  left:1183px;
  top:0px;
  width:126px;
  height:40px;
}
#u20738 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u20739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u20739 {
  position:absolute;
  left:0px;
  top:40px;
  width:69px;
  height:36px;
  font-size:11px;
}
#u20740 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u20741 {
  position:absolute;
  left:69px;
  top:40px;
  width:47px;
  height:36px;
  font-size:11px;
}
#u20742 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  word-wrap:break-word;
}
#u20743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u20743 {
  position:absolute;
  left:116px;
  top:40px;
  width:127px;
  height:36px;
}
#u20744 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u20745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u20745 {
  position:absolute;
  left:243px;
  top:40px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20746 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u20747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u20747 {
  position:absolute;
  left:326px;
  top:40px;
  width:158px;
  height:36px;
}
#u20748 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u20749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u20749 {
  position:absolute;
  left:484px;
  top:40px;
  width:96px;
  height:36px;
}
#u20750 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u20751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u20751 {
  position:absolute;
  left:580px;
  top:40px;
  width:119px;
  height:36px;
}
#u20752 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u20753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u20753 {
  position:absolute;
  left:699px;
  top:40px;
  width:121px;
  height:36px;
}
#u20754 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u20755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u20755 {
  position:absolute;
  left:820px;
  top:40px;
  width:142px;
  height:36px;
}
#u20756 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u20757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u20757 {
  position:absolute;
  left:962px;
  top:40px;
  width:111px;
  height:36px;
}
#u20758 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u20759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u20759 {
  position:absolute;
  left:1073px;
  top:40px;
  width:110px;
  height:36px;
}
#u20760 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u20761 {
  position:absolute;
  left:1183px;
  top:40px;
  width:126px;
  height:36px;
}
#u20762 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u20763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u20763 {
  position:absolute;
  left:0px;
  top:76px;
  width:69px;
  height:36px;
}
#u20764 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u20765 {
  position:absolute;
  left:69px;
  top:76px;
  width:47px;
  height:36px;
}
#u20766 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u20767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u20767 {
  position:absolute;
  left:116px;
  top:76px;
  width:127px;
  height:36px;
}
#u20768 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u20769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u20769 {
  position:absolute;
  left:243px;
  top:76px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20770 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u20771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u20771 {
  position:absolute;
  left:326px;
  top:76px;
  width:158px;
  height:36px;
}
#u20772 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u20773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u20773 {
  position:absolute;
  left:484px;
  top:76px;
  width:96px;
  height:36px;
}
#u20774 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u20775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u20775 {
  position:absolute;
  left:580px;
  top:76px;
  width:119px;
  height:36px;
}
#u20776 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u20777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u20777 {
  position:absolute;
  left:699px;
  top:76px;
  width:121px;
  height:36px;
}
#u20778 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u20779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u20779 {
  position:absolute;
  left:820px;
  top:76px;
  width:142px;
  height:36px;
}
#u20780 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u20781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u20781 {
  position:absolute;
  left:962px;
  top:76px;
  width:111px;
  height:36px;
}
#u20782 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u20783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u20783 {
  position:absolute;
  left:1073px;
  top:76px;
  width:110px;
  height:36px;
}
#u20784 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u20785 {
  position:absolute;
  left:1183px;
  top:76px;
  width:126px;
  height:36px;
}
#u20786 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u20787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u20787 {
  position:absolute;
  left:0px;
  top:112px;
  width:69px;
  height:36px;
}
#u20788 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u20789 {
  position:absolute;
  left:69px;
  top:112px;
  width:47px;
  height:36px;
}
#u20790 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u20791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u20791 {
  position:absolute;
  left:116px;
  top:112px;
  width:127px;
  height:36px;
}
#u20792 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u20793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u20793 {
  position:absolute;
  left:243px;
  top:112px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20794 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u20795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u20795 {
  position:absolute;
  left:326px;
  top:112px;
  width:158px;
  height:36px;
}
#u20796 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u20797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u20797 {
  position:absolute;
  left:484px;
  top:112px;
  width:96px;
  height:36px;
}
#u20798 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u20799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u20799 {
  position:absolute;
  left:580px;
  top:112px;
  width:119px;
  height:36px;
}
#u20800 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u20801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u20801 {
  position:absolute;
  left:699px;
  top:112px;
  width:121px;
  height:36px;
}
#u20802 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u20803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u20803 {
  position:absolute;
  left:820px;
  top:112px;
  width:142px;
  height:36px;
}
#u20804 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u20805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u20805 {
  position:absolute;
  left:962px;
  top:112px;
  width:111px;
  height:36px;
}
#u20806 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u20807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u20807 {
  position:absolute;
  left:1073px;
  top:112px;
  width:110px;
  height:36px;
}
#u20808 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u20809 {
  position:absolute;
  left:1183px;
  top:112px;
  width:126px;
  height:36px;
}
#u20810 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u20811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u20811 {
  position:absolute;
  left:0px;
  top:148px;
  width:69px;
  height:30px;
}
#u20812 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u20813 {
  position:absolute;
  left:69px;
  top:148px;
  width:47px;
  height:30px;
}
#u20814 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u20815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u20815 {
  position:absolute;
  left:116px;
  top:148px;
  width:127px;
  height:30px;
}
#u20816 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u20817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u20817 {
  position:absolute;
  left:243px;
  top:148px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20818 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u20819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u20819 {
  position:absolute;
  left:326px;
  top:148px;
  width:158px;
  height:30px;
}
#u20820 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u20821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u20821 {
  position:absolute;
  left:484px;
  top:148px;
  width:96px;
  height:30px;
}
#u20822 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u20823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20823 {
  position:absolute;
  left:580px;
  top:148px;
  width:119px;
  height:30px;
}
#u20824 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u20825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u20825 {
  position:absolute;
  left:699px;
  top:148px;
  width:121px;
  height:30px;
}
#u20826 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u20827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u20827 {
  position:absolute;
  left:820px;
  top:148px;
  width:142px;
  height:30px;
}
#u20828 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u20829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u20829 {
  position:absolute;
  left:962px;
  top:148px;
  width:111px;
  height:30px;
}
#u20830 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u20831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u20831 {
  position:absolute;
  left:1073px;
  top:148px;
  width:110px;
  height:30px;
}
#u20832 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u20833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u20833 {
  position:absolute;
  left:1183px;
  top:148px;
  width:126px;
  height:30px;
}
#u20834 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u20835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u20835 {
  position:absolute;
  left:0px;
  top:178px;
  width:69px;
  height:30px;
}
#u20836 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u20837 {
  position:absolute;
  left:69px;
  top:178px;
  width:47px;
  height:30px;
}
#u20838 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u20839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u20839 {
  position:absolute;
  left:116px;
  top:178px;
  width:127px;
  height:30px;
}
#u20840 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u20841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u20841 {
  position:absolute;
  left:243px;
  top:178px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20842 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u20843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u20843 {
  position:absolute;
  left:326px;
  top:178px;
  width:158px;
  height:30px;
}
#u20844 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u20845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u20845 {
  position:absolute;
  left:484px;
  top:178px;
  width:96px;
  height:30px;
}
#u20846 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u20847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20847 {
  position:absolute;
  left:580px;
  top:178px;
  width:119px;
  height:30px;
}
#u20848 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u20849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u20849 {
  position:absolute;
  left:699px;
  top:178px;
  width:121px;
  height:30px;
}
#u20850 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u20851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u20851 {
  position:absolute;
  left:820px;
  top:178px;
  width:142px;
  height:30px;
}
#u20852 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u20853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u20853 {
  position:absolute;
  left:962px;
  top:178px;
  width:111px;
  height:30px;
}
#u20854 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u20855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u20855 {
  position:absolute;
  left:1073px;
  top:178px;
  width:110px;
  height:30px;
}
#u20856 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u20857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u20857 {
  position:absolute;
  left:1183px;
  top:178px;
  width:126px;
  height:30px;
}
#u20858 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u20859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u20859 {
  position:absolute;
  left:0px;
  top:208px;
  width:69px;
  height:30px;
}
#u20860 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u20861 {
  position:absolute;
  left:69px;
  top:208px;
  width:47px;
  height:30px;
}
#u20862 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u20863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u20863 {
  position:absolute;
  left:116px;
  top:208px;
  width:127px;
  height:30px;
}
#u20864 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u20865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u20865 {
  position:absolute;
  left:243px;
  top:208px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20866 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u20867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u20867 {
  position:absolute;
  left:326px;
  top:208px;
  width:158px;
  height:30px;
}
#u20868 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u20869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u20869 {
  position:absolute;
  left:484px;
  top:208px;
  width:96px;
  height:30px;
}
#u20870 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u20871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20871 {
  position:absolute;
  left:580px;
  top:208px;
  width:119px;
  height:30px;
}
#u20872 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u20873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u20873 {
  position:absolute;
  left:699px;
  top:208px;
  width:121px;
  height:30px;
}
#u20874 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u20875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u20875 {
  position:absolute;
  left:820px;
  top:208px;
  width:142px;
  height:30px;
}
#u20876 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u20877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u20877 {
  position:absolute;
  left:962px;
  top:208px;
  width:111px;
  height:30px;
}
#u20878 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u20879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u20879 {
  position:absolute;
  left:1073px;
  top:208px;
  width:110px;
  height:30px;
}
#u20880 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u20881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u20881 {
  position:absolute;
  left:1183px;
  top:208px;
  width:126px;
  height:30px;
}
#u20882 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u20883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u20883 {
  position:absolute;
  left:0px;
  top:238px;
  width:69px;
  height:28px;
}
#u20884 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u20885 {
  position:absolute;
  left:69px;
  top:238px;
  width:47px;
  height:28px;
}
#u20886 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u20887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
}
#u20887 {
  position:absolute;
  left:116px;
  top:238px;
  width:127px;
  height:28px;
}
#u20888 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u20889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u20889 {
  position:absolute;
  left:243px;
  top:238px;
  width:83px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20890 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u20891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:28px;
}
#u20891 {
  position:absolute;
  left:326px;
  top:238px;
  width:158px;
  height:28px;
}
#u20892 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u20893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u20893 {
  position:absolute;
  left:484px;
  top:238px;
  width:96px;
  height:28px;
}
#u20894 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u20895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u20895 {
  position:absolute;
  left:580px;
  top:238px;
  width:119px;
  height:28px;
}
#u20896 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u20897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u20897 {
  position:absolute;
  left:699px;
  top:238px;
  width:121px;
  height:28px;
}
#u20898 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u20899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u20899 {
  position:absolute;
  left:820px;
  top:238px;
  width:142px;
  height:28px;
}
#u20900 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u20901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
}
#u20901 {
  position:absolute;
  left:962px;
  top:238px;
  width:111px;
  height:28px;
}
#u20902 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u20903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u20903 {
  position:absolute;
  left:1073px;
  top:238px;
  width:110px;
  height:28px;
}
#u20904 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u20905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
}
#u20905 {
  position:absolute;
  left:1183px;
  top:238px;
  width:126px;
  height:28px;
}
#u20906 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u20907 {
  position:absolute;
  left:28px;
  top:46px;
  width:100px;
  height:16px;
}
#u20908 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20907_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20909 {
  position:absolute;
  left:28px;
  top:83px;
  width:100px;
  height:16px;
}
#u20910 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20909_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20911 {
  position:absolute;
  left:28px;
  top:118px;
  width:100px;
  height:16px;
}
#u20912 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20911_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20913 {
  position:absolute;
  left:28px;
  top:152px;
  width:100px;
  height:16px;
}
#u20914 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20913_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20915 {
  position:absolute;
  left:28px;
  top:181px;
  width:100px;
  height:16px;
}
#u20916 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20915_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20917 {
  position:absolute;
  left:28px;
  top:211px;
  width:100px;
  height:16px;
}
#u20918 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20917_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20919 {
  position:absolute;
  left:28px;
  top:240px;
  width:100px;
  height:16px;
}
#u20920 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20919_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20921 {
  position:absolute;
  left:187px;
  top:185px;
  width:71px;
  height:17px;
}
#u20922 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-bottom:0px;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20923 {
  position:absolute;
  left:165px;
  top:129px;
  width:67px;
  height:38px;
}
#u20924 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u20925 {
  position:absolute;
  left:254px;
  top:181px;
  width:143px;
  height:25px;
}
#u20925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20926 {
  position:absolute;
  left:797px;
  top:179px;
  width:67px;
  height:29px;
}
#u20927 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u20928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20928 {
  position:absolute;
  left:885px;
  top:179px;
  width:67px;
  height:29px;
}
#u20929 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u20930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:2px;
}
#u20930 {
  position:absolute;
  left:165px;
  top:224px;
  width:1223px;
  height:1px;
}
#u20931 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20932 {
  position:absolute;
  left:174px;
  top:235px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20933 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u20934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20935 {
  position:absolute;
  left:205px;
  top:662px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20936 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20937 {
  position:absolute;
  left:235px;
  top:662px;
  width:20px;
  height:20px;
}
#u20938 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20939 {
  position:absolute;
  left:265px;
  top:662px;
  width:20px;
  height:20px;
}
#u20940 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20941 {
  position:absolute;
  left:295px;
  top:662px;
  width:20px;
  height:20px;
}
#u20942 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20943 {
  position:absolute;
  left:325px;
  top:662px;
  width:20px;
  height:20px;
}
#u20944 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20945 {
  position:absolute;
  left:355px;
  top:662px;
  width:20px;
  height:20px;
}
#u20946 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20947 {
  position:absolute;
  left:175px;
  top:662px;
  width:20px;
  height:20px;
}
#u20947_img.disabled {
}
#u20947.disabled {
}
#u20948 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20949 {
  position:absolute;
  left:385px;
  top:662px;
  width:20px;
  height:20px;
}
#u20949_img.disabled {
}
#u20949.disabled {
}
#u20950 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u20951 {
  position:absolute;
  left:534px;
  top:181px;
  width:88px;
  height:25px;
}
#u20951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u20952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20952 {
  position:absolute;
  left:446px;
  top:185px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20953 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u20954 {
  position:absolute;
  left:655px;
  top:181px;
  width:88px;
  height:25px;
}
#u20954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20955 {
  position:absolute;
  left:630px;
  top:185px;
  width:9px;
  height:16px;
}
#u20956 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u20957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u20957 {
  position:absolute;
  left:184px;
  top:692px;
  width:377px;
  height:32px;
  color:#FF0000;
}
#u20958 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
