﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1233px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:387px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:387px;
}
#u1 {
  position:absolute;
  left:2px;
  top:186px;
  width:1229px;
  visibility:hidden;
  word-wrap:break-word;
}
