﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5495 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5496 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u5499 {
  position:absolute;
  left:20px;
  top:0px;
  width:50px;
  height:50px;
}
.u5500 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
.u5501 {
  position:absolute;
  left:0px;
  top:60px;
  width:89px;
  height:15px;
  font-size:12px;
  text-align:center;
}
.u5502 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u5497-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:75px;
}
#u5497-2 {
  position:absolute;
  left:94px;
  top:0px;
  width:89px;
  height:75px;
}
#u5497-3 {
  position:absolute;
  left:188px;
  top:0px;
  width:89px;
  height:75px;
}
#u5497-4 {
  position:absolute;
  left:282px;
  top:0px;
  width:89px;
  height:75px;
}
#u5497 {
  position:absolute;
  left:2px;
  top:104px;
  width:371px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
  background:inherit;
  background-color:rgba(243, 243, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5503 {
  position:absolute;
  left:69px;
  top:395px;
  width:205px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u5504 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u5505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5505 {
  position:absolute;
  left:69px;
  top:460px;
  width:240px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u5506 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u5507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5507 {
  position:absolute;
  left:69px;
  top:530px;
  width:240px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u5508 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u5509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(243, 243, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5509 {
  position:absolute;
  left:69px;
  top:420px;
  width:113px;
  height:16px;
  color:#999999;
}
#u5510 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5511 {
  position:absolute;
  left:70px;
  top:488px;
  width:259px;
  height:16px;
  color:#999999;
}
#u5512 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u5513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5513 {
  position:absolute;
  left:71px;
  top:557px;
  width:259px;
  height:16px;
  color:#999999;
}
#u5514 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
