﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:428px;
}
#u22923 {
  position:absolute;
  left:151px;
  top:207px;
  width:691px;
  height:428px;
}
#u22924 {
  position:absolute;
  left:2px;
  top:206px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u22925 {
  position:absolute;
  left:817px;
  top:211px;
  width:25px;
  height:29px;
}
#u22926 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22928 {
  position:absolute;
  left:304px;
  top:442px;
  width:357px;
  height:197px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22929 {
  position:absolute;
  left:2px;
  top:82px;
  width:353px;
  word-wrap:break-word;
}
#u22930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u22930 {
  position:absolute;
  left:317px;
  top:454px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u22931 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22932 {
  position:absolute;
  left:413px;
  top:588px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u22933 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22934 {
  position:absolute;
  left:498px;
  top:588px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u22934_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22934.selected {
}
#u22935 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22936 {
  position:absolute;
  left:17px;
  top:69px;
  width:890px;
  height:512px;
  overflow:hidden;
  visibility:hidden;
}
#u22936_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:512px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22936_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22937 {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:512px;
}
#u22938 {
  position:absolute;
  left:2px;
  top:248px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22939 {
  position:absolute;
  left:0px;
  top:1px;
  width:888px;
  height:35px;
  text-align:left;
}
#u22940 {
  position:absolute;
  left:2px;
  top:10px;
  width:884px;
  word-wrap:break-word;
}
#u22941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22941 {
  position:absolute;
  left:729px;
  top:48px;
  width:54px;
  height:25px;
}
#u22942 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22943 {
  position:absolute;
  left:430px;
  top:471px;
  width:54px;
  height:25px;
}
#u22943_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22943.selected {
}
#u22944 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22945 {
  position:absolute;
  left:345px;
  top:49px;
  width:104px;
  height:23px;
}
#u22946 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u22947 {
  position:absolute;
  left:431px;
  top:48px;
  width:278px;
  height:24px;
}
#u22947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u22948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22948 {
  position:absolute;
  left:16px;
  top:50px;
  width:71px;
  height:16px;
}
#u22949 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22950 {
  position:absolute;
  left:97px;
  top:48px;
  width:220px;
  height:24px;
}
#u22950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u22951 {
  position:absolute;
  left:9px;
  top:475px;
  width:241px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u22952 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u22953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22953 {
  position:absolute;
  left:360px;
  top:471px;
  width:54px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22954 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22955 {
  position:absolute;
  left:9px;
  top:96px;
  width:846px;
  height:361px;
  overflow:hidden;
}
#u22955_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:361px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22955_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22956 {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:484px;
}
#u22957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u22957 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u22958 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u22959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u22959 {
  position:absolute;
  left:56px;
  top:0px;
  width:73px;
  height:40px;
}
#u22960 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u22961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u22961 {
  position:absolute;
  left:129px;
  top:0px;
  width:248px;
  height:40px;
}
#u22962 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u22963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u22963 {
  position:absolute;
  left:377px;
  top:0px;
  width:132px;
  height:40px;
}
#u22964 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u22965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u22965 {
  position:absolute;
  left:509px;
  top:0px;
  width:140px;
  height:40px;
}
#u22966 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u22967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u22967 {
  position:absolute;
  left:649px;
  top:0px;
  width:51px;
  height:40px;
}
#u22968 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u22969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u22969 {
  position:absolute;
  left:700px;
  top:0px;
  width:62px;
  height:40px;
}
#u22970 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u22971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u22971 {
  position:absolute;
  left:762px;
  top:0px;
  width:67px;
  height:40px;
}
#u22972 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u22973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22973 {
  position:absolute;
  left:0px;
  top:40px;
  width:56px;
  height:36px;
}
#u22974 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22975 {
  position:absolute;
  left:56px;
  top:40px;
  width:73px;
  height:36px;
}
#u22976 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22977 {
  position:absolute;
  left:129px;
  top:40px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22978 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22979 {
  position:absolute;
  left:377px;
  top:40px;
  width:132px;
  height:36px;
}
#u22980 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22981 {
  position:absolute;
  left:509px;
  top:40px;
  width:140px;
  height:36px;
}
#u22982 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22983 {
  position:absolute;
  left:649px;
  top:40px;
  width:51px;
  height:36px;
}
#u22984 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22985 {
  position:absolute;
  left:700px;
  top:40px;
  width:62px;
  height:36px;
}
#u22986 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22987 {
  position:absolute;
  left:762px;
  top:40px;
  width:67px;
  height:36px;
}
#u22988 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22989 {
  position:absolute;
  left:0px;
  top:76px;
  width:56px;
  height:36px;
}
#u22990 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22991 {
  position:absolute;
  left:56px;
  top:76px;
  width:73px;
  height:36px;
}
#u22992 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22993 {
  position:absolute;
  left:129px;
  top:76px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22994 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22995 {
  position:absolute;
  left:377px;
  top:76px;
  width:132px;
  height:36px;
}
#u22996 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22997 {
  position:absolute;
  left:509px;
  top:76px;
  width:140px;
  height:36px;
}
#u22998 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22999 {
  position:absolute;
  left:649px;
  top:76px;
  width:51px;
  height:36px;
}
#u23000 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u23001 {
  position:absolute;
  left:700px;
  top:76px;
  width:62px;
  height:36px;
}
#u23002 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u23003 {
  position:absolute;
  left:762px;
  top:76px;
  width:67px;
  height:36px;
}
#u23004 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u23005 {
  position:absolute;
  left:0px;
  top:112px;
  width:56px;
  height:36px;
}
#u23006 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u23007 {
  position:absolute;
  left:56px;
  top:112px;
  width:73px;
  height:36px;
}
#u23008 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u23009 {
  position:absolute;
  left:129px;
  top:112px;
  width:248px;
  height:36px;
  text-align:left;
}
#u23010 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23011 {
  position:absolute;
  left:377px;
  top:112px;
  width:132px;
  height:36px;
}
#u23012 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u23013 {
  position:absolute;
  left:509px;
  top:112px;
  width:140px;
  height:36px;
}
#u23014 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u23015 {
  position:absolute;
  left:649px;
  top:112px;
  width:51px;
  height:36px;
}
#u23016 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u23017 {
  position:absolute;
  left:700px;
  top:112px;
  width:62px;
  height:36px;
}
#u23018 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u23019 {
  position:absolute;
  left:762px;
  top:112px;
  width:67px;
  height:36px;
}
#u23020 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u23021 {
  position:absolute;
  left:0px;
  top:148px;
  width:56px;
  height:37px;
}
#u23022 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u23023 {
  position:absolute;
  left:56px;
  top:148px;
  width:73px;
  height:37px;
}
#u23024 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
}
#u23025 {
  position:absolute;
  left:129px;
  top:148px;
  width:248px;
  height:37px;
  text-align:left;
}
#u23026 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u23027 {
  position:absolute;
  left:377px;
  top:148px;
  width:132px;
  height:37px;
}
#u23028 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u23029 {
  position:absolute;
  left:509px;
  top:148px;
  width:140px;
  height:37px;
}
#u23030 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u23031 {
  position:absolute;
  left:649px;
  top:148px;
  width:51px;
  height:37px;
}
#u23032 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u23033 {
  position:absolute;
  left:700px;
  top:148px;
  width:62px;
  height:37px;
}
#u23034 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u23035 {
  position:absolute;
  left:762px;
  top:148px;
  width:67px;
  height:37px;
}
#u23036 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u23037 {
  position:absolute;
  left:0px;
  top:185px;
  width:56px;
  height:36px;
}
#u23038 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u23039 {
  position:absolute;
  left:56px;
  top:185px;
  width:73px;
  height:36px;
}
#u23040 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u23041 {
  position:absolute;
  left:129px;
  top:185px;
  width:248px;
  height:36px;
  text-align:left;
}
#u23042 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23043 {
  position:absolute;
  left:377px;
  top:185px;
  width:132px;
  height:36px;
}
#u23044 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u23045 {
  position:absolute;
  left:509px;
  top:185px;
  width:140px;
  height:36px;
}
#u23046 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u23047 {
  position:absolute;
  left:649px;
  top:185px;
  width:51px;
  height:36px;
}
#u23048 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u23049 {
  position:absolute;
  left:700px;
  top:185px;
  width:62px;
  height:36px;
}
#u23050 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u23051 {
  position:absolute;
  left:762px;
  top:185px;
  width:67px;
  height:36px;
}
#u23052 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u23053 {
  position:absolute;
  left:0px;
  top:221px;
  width:56px;
  height:36px;
}
#u23054 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u23055 {
  position:absolute;
  left:56px;
  top:221px;
  width:73px;
  height:36px;
}
#u23056 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u23057 {
  position:absolute;
  left:129px;
  top:221px;
  width:248px;
  height:36px;
  text-align:left;
}
#u23058 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23059 {
  position:absolute;
  left:377px;
  top:221px;
  width:132px;
  height:36px;
}
#u23060 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u23061 {
  position:absolute;
  left:509px;
  top:221px;
  width:140px;
  height:36px;
}
#u23062 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u23063 {
  position:absolute;
  left:649px;
  top:221px;
  width:51px;
  height:36px;
}
#u23064 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u23065 {
  position:absolute;
  left:700px;
  top:221px;
  width:62px;
  height:36px;
}
#u23066 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u23067 {
  position:absolute;
  left:762px;
  top:221px;
  width:67px;
  height:36px;
}
#u23068 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u23069 {
  position:absolute;
  left:0px;
  top:257px;
  width:56px;
  height:36px;
}
#u23070 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u23071 {
  position:absolute;
  left:56px;
  top:257px;
  width:73px;
  height:36px;
}
#u23072 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u23073 {
  position:absolute;
  left:129px;
  top:257px;
  width:248px;
  height:36px;
  text-align:left;
}
#u23074 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23075 {
  position:absolute;
  left:377px;
  top:257px;
  width:132px;
  height:36px;
}
#u23076 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u23077 {
  position:absolute;
  left:509px;
  top:257px;
  width:140px;
  height:36px;
}
#u23078 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u23079 {
  position:absolute;
  left:649px;
  top:257px;
  width:51px;
  height:36px;
}
#u23080 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u23081 {
  position:absolute;
  left:700px;
  top:257px;
  width:62px;
  height:36px;
}
#u23082 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u23083 {
  position:absolute;
  left:762px;
  top:257px;
  width:67px;
  height:36px;
}
#u23084 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u23085 {
  position:absolute;
  left:0px;
  top:293px;
  width:56px;
  height:40px;
}
#u23086 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u23087 {
  position:absolute;
  left:56px;
  top:293px;
  width:73px;
  height:40px;
}
#u23088 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u23089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u23089 {
  position:absolute;
  left:129px;
  top:293px;
  width:248px;
  height:40px;
  text-align:left;
}
#u23090 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u23091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u23091 {
  position:absolute;
  left:377px;
  top:293px;
  width:132px;
  height:40px;
}
#u23092 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u23093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u23093 {
  position:absolute;
  left:509px;
  top:293px;
  width:140px;
  height:40px;
}
#u23094 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u23095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u23095 {
  position:absolute;
  left:649px;
  top:293px;
  width:51px;
  height:40px;
}
#u23096 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u23097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u23097 {
  position:absolute;
  left:700px;
  top:293px;
  width:62px;
  height:40px;
}
#u23098 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u23099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u23099 {
  position:absolute;
  left:762px;
  top:293px;
  width:67px;
  height:40px;
}
#u23100 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u23101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u23101 {
  position:absolute;
  left:0px;
  top:333px;
  width:56px;
  height:36px;
}
#u23102 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u23103 {
  position:absolute;
  left:56px;
  top:333px;
  width:73px;
  height:36px;
}
#u23104 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u23105 {
  position:absolute;
  left:129px;
  top:333px;
  width:248px;
  height:36px;
  text-align:left;
}
#u23106 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23107 {
  position:absolute;
  left:377px;
  top:333px;
  width:132px;
  height:36px;
}
#u23108 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u23109 {
  position:absolute;
  left:509px;
  top:333px;
  width:140px;
  height:36px;
}
#u23110 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u23111 {
  position:absolute;
  left:649px;
  top:333px;
  width:51px;
  height:36px;
}
#u23112 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u23113 {
  position:absolute;
  left:700px;
  top:333px;
  width:62px;
  height:36px;
}
#u23114 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u23115 {
  position:absolute;
  left:762px;
  top:333px;
  width:67px;
  height:36px;
}
#u23116 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u23117 {
  position:absolute;
  left:0px;
  top:369px;
  width:56px;
  height:37px;
}
#u23118 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u23119 {
  position:absolute;
  left:56px;
  top:369px;
  width:73px;
  height:37px;
}
#u23120 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
}
#u23121 {
  position:absolute;
  left:129px;
  top:369px;
  width:248px;
  height:37px;
  text-align:left;
}
#u23122 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u23123 {
  position:absolute;
  left:377px;
  top:369px;
  width:132px;
  height:37px;
}
#u23124 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u23125 {
  position:absolute;
  left:509px;
  top:369px;
  width:140px;
  height:37px;
}
#u23126 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u23127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u23127 {
  position:absolute;
  left:649px;
  top:369px;
  width:51px;
  height:37px;
}
#u23128 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u23129 {
  position:absolute;
  left:700px;
  top:369px;
  width:62px;
  height:37px;
}
#u23130 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u23131 {
  position:absolute;
  left:762px;
  top:369px;
  width:67px;
  height:37px;
}
#u23132 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u23133 {
  position:absolute;
  left:0px;
  top:406px;
  width:56px;
  height:36px;
}
#u23134 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u23135 {
  position:absolute;
  left:56px;
  top:406px;
  width:73px;
  height:36px;
}
#u23136 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u23137 {
  position:absolute;
  left:129px;
  top:406px;
  width:248px;
  height:36px;
  text-align:left;
}
#u23138 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23139 {
  position:absolute;
  left:377px;
  top:406px;
  width:132px;
  height:36px;
}
#u23140 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u23141 {
  position:absolute;
  left:509px;
  top:406px;
  width:140px;
  height:36px;
}
#u23142 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u23143 {
  position:absolute;
  left:649px;
  top:406px;
  width:51px;
  height:36px;
}
#u23144 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u23145 {
  position:absolute;
  left:700px;
  top:406px;
  width:62px;
  height:36px;
}
#u23146 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u23147 {
  position:absolute;
  left:762px;
  top:406px;
  width:67px;
  height:36px;
}
#u23148 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u23149 {
  position:absolute;
  left:0px;
  top:442px;
  width:56px;
  height:37px;
}
#u23150 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u23151 {
  position:absolute;
  left:56px;
  top:442px;
  width:73px;
  height:37px;
}
#u23152 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u23153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
}
#u23153 {
  position:absolute;
  left:129px;
  top:442px;
  width:248px;
  height:37px;
  text-align:left;
}
#u23154 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u23155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u23155 {
  position:absolute;
  left:377px;
  top:442px;
  width:132px;
  height:37px;
}
#u23156 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u23157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u23157 {
  position:absolute;
  left:509px;
  top:442px;
  width:140px;
  height:37px;
}
#u23158 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u23159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u23159 {
  position:absolute;
  left:649px;
  top:442px;
  width:51px;
  height:37px;
}
#u23160 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u23161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u23161 {
  position:absolute;
  left:700px;
  top:442px;
  width:62px;
  height:37px;
}
#u23162 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u23163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u23163 {
  position:absolute;
  left:762px;
  top:442px;
  width:67px;
  height:37px;
}
#u23164 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23165 {
  position:absolute;
  left:16px;
  top:49px;
  width:90px;
  height:16px;
}
#u23166 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23167 {
  position:absolute;
  left:16px;
  top:83px;
  width:90px;
  height:16px;
}
#u23168 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23169 {
  position:absolute;
  left:16px;
  top:119px;
  width:90px;
  height:16px;
}
#u23170 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23169_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23171 {
  position:absolute;
  left:16px;
  top:153px;
  width:90px;
  height:16px;
}
#u23172 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23173 {
  position:absolute;
  left:16px;
  top:192px;
  width:90px;
  height:16px;
}
#u23174 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23175 {
  position:absolute;
  left:16px;
  top:226px;
  width:90px;
  height:16px;
}
#u23176 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23177 {
  position:absolute;
  left:16px;
  top:263px;
  width:90px;
  height:16px;
}
#u23178 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23179 {
  position:absolute;
  left:16px;
  top:297px;
  width:90px;
  height:16px;
}
#u23180 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23181 {
  position:absolute;
  left:16px;
  top:336px;
  width:90px;
  height:16px;
}
#u23182 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23181_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23183 {
  position:absolute;
  left:16px;
  top:370px;
  width:90px;
  height:16px;
}
#u23184 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23185 {
  position:absolute;
  left:16px;
  top:409px;
  width:90px;
  height:16px;
}
#u23186 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23185_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23187 {
  position:absolute;
  left:16px;
  top:443px;
  width:90px;
  height:16px;
}
#u23188 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:704px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23189 {
  position:absolute;
  left:5px;
  top:5px;
  width:914px;
  height:704px;
}
#u23190 {
  position:absolute;
  left:2px;
  top:344px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23191 {
  position:absolute;
  left:467px;
  top:658px;
  width:54px;
  height:25px;
}
#u23191_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23191.selected {
}
#u23192 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u23193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23193 {
  position:absolute;
  left:304px;
  top:43px;
  width:15px;
  height:15px;
  color:#FF0000;
}
#u23194 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23195 {
  position:absolute;
  left:54px;
  top:281px;
  width:829px;
  height:102px;
  overflow:hidden;
}
#u23195_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:102px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23195_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23196 {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:101px;
}
#u23197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u23197 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u23198 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u23199 {
  position:absolute;
  left:68px;
  top:0px;
  width:139px;
  height:30px;
}
#u23200 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u23201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23201 {
  position:absolute;
  left:207px;
  top:0px;
  width:104px;
  height:30px;
}
#u23202 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23203 {
  position:absolute;
  left:311px;
  top:0px;
  width:104px;
  height:30px;
}
#u23204 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23205 {
  position:absolute;
  left:415px;
  top:0px;
  width:104px;
  height:30px;
}
#u23206 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23207 {
  position:absolute;
  left:519px;
  top:0px;
  width:104px;
  height:30px;
}
#u23208 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23209 {
  position:absolute;
  left:623px;
  top:0px;
  width:104px;
  height:30px;
}
#u23210 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u23211 {
  position:absolute;
  left:727px;
  top:0px;
  width:101px;
  height:30px;
}
#u23212 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u23213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u23213 {
  position:absolute;
  left:0px;
  top:30px;
  width:68px;
  height:30px;
}
#u23214 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u23215 {
  position:absolute;
  left:68px;
  top:30px;
  width:139px;
  height:30px;
}
#u23216 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u23217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23217 {
  position:absolute;
  left:207px;
  top:30px;
  width:104px;
  height:30px;
}
#u23218 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23219 {
  position:absolute;
  left:311px;
  top:30px;
  width:104px;
  height:30px;
}
#u23220 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23221 {
  position:absolute;
  left:415px;
  top:30px;
  width:104px;
  height:30px;
}
#u23222 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23223 {
  position:absolute;
  left:519px;
  top:30px;
  width:104px;
  height:30px;
}
#u23224 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23225 {
  position:absolute;
  left:623px;
  top:30px;
  width:104px;
  height:30px;
}
#u23226 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u23227 {
  position:absolute;
  left:727px;
  top:30px;
  width:101px;
  height:30px;
}
#u23228 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u23229 {
  position:absolute;
  left:0px;
  top:60px;
  width:68px;
  height:36px;
}
#u23230 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u23231 {
  position:absolute;
  left:68px;
  top:60px;
  width:139px;
  height:36px;
}
#u23232 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u23233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u23233 {
  position:absolute;
  left:207px;
  top:60px;
  width:104px;
  height:36px;
}
#u23234 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u23235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u23235 {
  position:absolute;
  left:311px;
  top:60px;
  width:104px;
  height:36px;
}
#u23236 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u23237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u23237 {
  position:absolute;
  left:415px;
  top:60px;
  width:104px;
  height:36px;
}
#u23238 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u23239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u23239 {
  position:absolute;
  left:519px;
  top:60px;
  width:104px;
  height:36px;
}
#u23240 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u23241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u23241 {
  position:absolute;
  left:623px;
  top:60px;
  width:104px;
  height:36px;
}
#u23242 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u23243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u23243 {
  position:absolute;
  left:727px;
  top:60px;
  width:101px;
  height:36px;
}
#u23244 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23245 {
  position:absolute;
  left:18px;
  top:12px;
  width:96px;
  height:16px;
}
#u23246 {
  position:absolute;
  left:16px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u23245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23247 {
  position:absolute;
  left:18px;
  top:39px;
  width:96px;
  height:16px;
}
#u23248 {
  position:absolute;
  left:16px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u23247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23249 {
  position:absolute;
  left:18px;
  top:65px;
  width:96px;
  height:16px;
}
#u23250 {
  position:absolute;
  left:16px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u23249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23251 {
  position:absolute;
  left:752px;
  top:36px;
  width:63px;
  height:20px;
}
#u23251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23252 {
  position:absolute;
  left:752px;
  top:66px;
  width:63px;
  height:20px;
}
#u23252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23253 {
  position:absolute;
  left:143px;
  top:250px;
  width:87px;
  height:25px;
}
#u23253_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23253.selected {
}
#u23254 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u23255 {
  position:absolute;
  left:54px;
  top:281px;
  width:834px;
  height:35px;
}
#u23256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u23256 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23257 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u23258 {
  position:absolute;
  left:66px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23259 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u23260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u23260 {
  position:absolute;
  left:207px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23261 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u23262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u23262 {
  position:absolute;
  left:312px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23263 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u23264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u23264 {
  position:absolute;
  left:416px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23265 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u23266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u23266 {
  position:absolute;
  left:522px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23267 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u23268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u23268 {
  position:absolute;
  left:623px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23269 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u23270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u23270 {
  position:absolute;
  left:730px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23271 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u23272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23272 {
  position:absolute;
  left:246px;
  top:250px;
  width:87px;
  height:25px;
}
#u23272_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23272.selected {
}
#u23273 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u23274 {
  position:absolute;
  left:73px;
  top:288px;
  width:55px;
  height:16px;
}
#u23275 {
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u23274_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u23276 {
  position:absolute;
  left:343px;
  top:254px;
  width:421px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u23277 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u23278 {
  position:absolute;
  left:130px;
  top:96px;
  width:300px;
  height:25px;
}
#u23278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23279 {
  position:absolute;
  left:591px;
  top:96px;
  width:293px;
  height:25px;
}
#u23279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23280 {
  position:absolute;
  left:130px;
  top:134px;
  width:300px;
  height:25px;
}
#u23280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23281 {
  position:absolute;
  left:591px;
  top:134px;
  width:293px;
  height:25px;
}
#u23281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23282 {
  position:absolute;
  left:591px;
  top:172px;
  width:293px;
  height:25px;
}
#u23282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23283 {
  position:absolute;
  left:143px;
  top:174px;
  width:57px;
  height:15px;
  color:#FF0000;
}
#u23284 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23285 {
  position:absolute;
  left:130px;
  top:172px;
  width:300px;
  height:25px;
}
#u23285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u23285_input:disabled {
  color:grayText;
}
#u23286 {
  position:absolute;
  left:130px;
  top:209px;
  width:300px;
  height:25px;
}
#u23286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u23286_input:disabled {
  color:grayText;
}
#u23287 {
  position:absolute;
  left:130px;
  top:59px;
  width:300px;
  height:25px;
}
#u23287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23288 {
  position:absolute;
  left:591px;
  top:59px;
  width:293px;
  height:25px;
}
#u23288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23289 {
  position:absolute;
  left:126px;
  top:531px;
  width:196px;
  height:20px;
  color:#CCCCCC;
}
#u23290 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u23291 {
  position:absolute;
  left:128px;
  top:393px;
  width:756px;
  height:93px;
}
#u23291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23292 {
  position:absolute;
  left:126px;
  top:496px;
  width:302px;
  height:25px;
}
#u23292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u23293 {
  position:absolute;
  left:5px;
  top:719px;
  width:511px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u23294 {
  position:absolute;
  left:2px;
  top:10px;
  width:507px;
  word-wrap:break-word;
}
#u23295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u23295 {
  position:absolute;
  left:5px;
  top:771px;
  width:511px;
  height:120px;
  font-size:14px;
}
#u23296 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u23297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23297 {
  position:absolute;
  left:5px;
  top:922px;
  width:357px;
  height:197px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23298 {
  position:absolute;
  left:2px;
  top:82px;
  width:353px;
  word-wrap:break-word;
}
#u23299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23299 {
  position:absolute;
  left:18px;
  top:934px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23300 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u23301 {
  position:absolute;
  left:114px;
  top:1068px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u23302 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u23303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u23303 {
  position:absolute;
  left:199px;
  top:1068px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u23303_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u23303.selected {
}
#u23304 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u23305 {
  position:absolute;
  left:382px;
  top:1199px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u23306 {
  position:absolute;
  left:389px;
  top:658px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u23307 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u23308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:79px;
}
#u23308 {
  position:absolute;
  left:123px;
  top:563px;
  width:89px;
  height:79px;
}
#u23309 {
  position:absolute;
  left:2px;
  top:32px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:79px;
}
#u23310 {
  position:absolute;
  left:229px;
  top:563px;
  width:89px;
  height:79px;
}
#u23311 {
  position:absolute;
  left:2px;
  top:32px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:79px;
}
#u23312 {
  position:absolute;
  left:331px;
  top:563px;
  width:89px;
  height:79px;
}
#u23313 {
  position:absolute;
  left:2px;
  top:32px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u23314 {
  position:absolute;
  left:199px;
  top:563px;
  width:13px;
  height:14px;
}
#u23315 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u23316 {
  position:absolute;
  left:305px;
  top:563px;
  width:13px;
  height:14px;
}
#u23317 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u23318 {
  position:absolute;
  left:407px;
  top:563px;
  width:13px;
  height:14px;
}
#u23319 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:79px;
}
#u23320 {
  position:absolute;
  left:430px;
  top:563px;
  width:89px;
  height:79px;
}
#u23321 {
  position:absolute;
  left:2px;
  top:32px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u23322 {
  position:absolute;
  left:506px;
  top:563px;
  width:13px;
  height:14px;
}
#u23323 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:79px;
}
#u23324 {
  position:absolute;
  left:532px;
  top:563px;
  width:89px;
  height:79px;
}
#u23325 {
  position:absolute;
  left:2px;
  top:32px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u23326 {
  position:absolute;
  left:608px;
  top:563px;
  width:13px;
  height:14px;
}
#u23327 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:79px;
}
#u23328 {
  position:absolute;
  left:631px;
  top:563px;
  width:89px;
  height:79px;
}
#u23329 {
  position:absolute;
  left:2px;
  top:32px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u23330 {
  position:absolute;
  left:707px;
  top:563px;
  width:13px;
  height:14px;
}
#u23331 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23332 {
  position:absolute;
  left:21px;
  top:16px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23333 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23334 {
  position:absolute;
  left:511px;
  top:103px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23335 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u23336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23336 {
  position:absolute;
  left:57px;
  top:103px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23337 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u23338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23338 {
  position:absolute;
  left:539px;
  top:141px;
  width:35px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23339 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u23340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23340 {
  position:absolute;
  left:57px;
  top:137px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23341 {
  position:absolute;
  left:0px;
  top:4px;
  width:63px;
  white-space:nowrap;
}
#u23342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23342 {
  position:absolute;
  left:36px;
  top:179px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23343 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u23344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23344 {
  position:absolute;
  left:458px;
  top:179px;
  width:116px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23345 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u23346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23346 {
  position:absolute;
  left:85px;
  top:216px;
  width:35px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23347 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u23348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23348 {
  position:absolute;
  left:77px;
  top:66px;
  width:43px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23349 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23350 {
  position:absolute;
  left:503px;
  top:64px;
  width:71px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23351 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23352 {
  position:absolute;
  left:63px;
  top:501px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23353 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23354 {
  position:absolute;
  left:91px;
  top:398px;
  width:29px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23355 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23356 {
  position:absolute;
  left:57px;
  top:257px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23357 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
