﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:23px;
  top:48px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:23px;
  top:80px;
  width:300px;
  height:529px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u4_ref {
  position:absolute;
  left:315px;
  top:599px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:323px;
  top:80px;
  width:300px;
  height:529px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u5_ref {
  position:absolute;
  left:615px;
  top:599px;
  width:1px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:85px;
  top:242px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:135px;
  top:267px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:179px;
  height:8px;
}
#u8_seg1 {
  position:absolute;
  left:171px;
  top:-4px;
  width:8px;
  height:86px;
}
#u8_seg2 {
  position:absolute;
  left:171px;
  top:74px;
  width:17px;
  height:8px;
}
#u8_seg3 {
  position:absolute;
  left:173px;
  top:68px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:83px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10 {
  position:absolute;
  left:358px;
  top:619px;
  width:300px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:660px;
  top:80px;
  width:300px;
  height:529px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u12_ref {
  position:absolute;
  left:952px;
  top:599px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13 {
  position:absolute;
  left:660px;
  top:619px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:979px;
  top:80px;
  width:300px;
  height:529px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u15_ref {
  position:absolute;
  left:1271px;
  top:599px;
  width:1px;
  height:1px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u16 {
  position:absolute;
  left:979px;
  top:619px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1299px;
  top:80px;
  width:300px;
  height:529px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u18_ref {
  position:absolute;
  left:1591px;
  top:599px;
  width:1px;
  height:1px;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:1664px;
  top:619px;
  width:300px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:960px;
  top:345px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u21_seg1 {
  position:absolute;
  left:4px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1279px;
  top:345px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u23_seg1 {
  position:absolute;
  left:5px;
  top:-10px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:657px;
  top:685px;
  width:300px;
  height:529px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u25_ref {
  position:absolute;
  left:949px;
  top:1204px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:974px;
  top:685px;
  width:300px;
  height:529px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u26_ref {
  position:absolute;
  left:1266px;
  top:1204px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:1293px;
  top:685px;
  width:300px;
  height:529px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u27_ref {
  position:absolute;
  left:1585px;
  top:1204px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:957px;
  top:950px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u28_seg1 {
  position:absolute;
  left:2px;
  top:-10px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:-42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1274px;
  top:950px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u30_seg1 {
  position:absolute;
  left:4px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:11px;
  top:1378px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:11px;
  top:1420px;
  width:300px;
  height:529px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u34_ref {
  position:absolute;
  left:303px;
  top:1939px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:331px;
  top:1421px;
  width:300px;
  height:529px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u35_ref {
  position:absolute;
  left:623px;
  top:1940px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:648px;
  top:1421px;
  width:300px;
  height:529px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u36_ref {
  position:absolute;
  left:940px;
  top:1940px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:331px;
  top:1980px;
  width:300px;
  height:529px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u37_ref {
  position:absolute;
  left:623px;
  top:2499px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:648px;
  top:1980px;
  width:300px;
  height:529px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u38_ref {
  position:absolute;
  left:940px;
  top:2499px;
  width:1px;
  height:1px;
}
#u39_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u39 {
  position:absolute;
  left:136px;
  top:1799px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u41 {
  position:absolute;
  left:166px;
  top:1757px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:191px;
  top:1757px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  position:absolute;
  left:-4px;
  top:-75px;
  width:8px;
  height:75px;
}
#u43_seg1 {
  position:absolute;
  left:-4px;
  top:-75px;
  width:144px;
  height:8px;
}
#u43_seg2 {
  position:absolute;
  left:125px;
  top:-81px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:-16px;
  top:-79px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:161px;
  top:1849px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:125px;
}
#u45_seg1 {
  position:absolute;
  left:-4px;
  top:117px;
  width:261px;
  height:8px;
}
#u45_seg2 {
  position:absolute;
  left:249px;
  top:117px;
  width:8px;
  height:15px;
}
#u45_seg3 {
  position:absolute;
  left:243px;
  top:117px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:22px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u47 {
  position:absolute;
  left:571px;
  top:1511px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:596px;
  top:1561px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:129px;
}
#u49_seg1 {
  position:absolute;
  left:-4px;
  top:121px;
  width:56px;
  height:8px;
}
#u49_seg2 {
  position:absolute;
  left:37px;
  top:115px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:-50px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u51 {
  position:absolute;
  left:571px;
  top:2068px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:596px;
  top:2118px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u53_seg1 {
  position:absolute;
  left:-4px;
  top:123px;
  width:56px;
  height:8px;
}
#u53_seg2 {
  position:absolute;
  left:37px;
  top:117px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u55 {
  position:absolute;
  left:696px;
  top:1900px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:721px;
  top:1950px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u57_seg1 {
  position:absolute;
  left:-4px;
  top:16px;
  width:85px;
  height:8px;
}
#u57_seg2 {
  position:absolute;
  left:73px;
  top:16px;
  width:8px;
  height:14px;
}
#u57_seg3 {
  position:absolute;
  left:67px;
  top:15px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:-16px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:967px;
  top:1421px;
  width:300px;
  height:529px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u59_ref {
  position:absolute;
  left:1259px;
  top:1940px;
  width:1px;
  height:1px;
}
#u60_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u60 {
  position:absolute;
  left:773px;
  top:1471px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u62 {
  position:absolute;
  left:780px;
  top:2446px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:823px;
  top:1496px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u64_seg1 {
  position:absolute;
  left:68px;
  top:-4px;
  width:8px;
  height:198px;
}
#u64_seg2 {
  position:absolute;
  left:68px;
  top:186px;
  width:76px;
  height:8px;
}
#u64_seg3 {
  position:absolute;
  left:129px;
  top:180px;
  width:20px;
  height:20px;
}
#u65 {
  position:absolute;
  left:22px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:830px;
  top:2471px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:291px;
  height:8px;
}
#u66_seg1 {
  position:absolute;
  left:283px;
  top:-521px;
  width:8px;
  height:525px;
}
#u66_seg2 {
  position:absolute;
  left:277px;
  top:-526px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:237px;
  top:-125px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1287px;
  top:1421px;
  width:300px;
  height:529px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u68_ref {
  position:absolute;
  left:1579px;
  top:1940px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:1287px;
  top:1980px;
  width:300px;
  height:529px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u69_ref {
  position:absolute;
  left:1579px;
  top:2499px;
  width:1px;
  height:1px;
}
#u70_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u70 {
  position:absolute;
  left:1202px;
  top:1885px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u71 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u72 {
  position:absolute;
  left:1183px;
  top:1885px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u73 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1252px;
  top:1910px;
  width:0px;
  height:0px;
}
#u74_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u74_seg1 {
  position:absolute;
  left:13px;
  top:-228px;
  width:8px;
  height:232px;
}
#u74_seg2 {
  position:absolute;
  left:13px;
  top:-228px;
  width:22px;
  height:8px;
}
#u74_seg3 {
  position:absolute;
  left:20px;
  top:-234px;
  width:20px;
  height:20px;
}
#u75 {
  position:absolute;
  left:-33px;
  top:-120px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1252px;
  top:1910px;
  width:0px;
  height:0px;
}
#u76_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u76_seg1 {
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:343px;
}
#u76_seg2 {
  position:absolute;
  left:13px;
  top:331px;
  width:22px;
  height:8px;
}
#u76_seg3 {
  position:absolute;
  left:20px;
  top:325px;
  width:20px;
  height:20px;
}
#u77 {
  position:absolute;
  left:-33px;
  top:160px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:628px;
  top:345px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u78_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:45px;
}
#u80 {
  position:absolute;
  left:458px;
  top:399px;
  width:30px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:201px;
  top:685px;
  width:300px;
  height:529px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u82_ref {
  position:absolute;
  left:493px;
  top:1204px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:447px;
  top:503px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  position:absolute;
  left:-151px;
  top:87px;
  width:206px;
  height:8px;
  -webkit-transform:rotate(-62.1895845561537deg);
  -moz-transform:rotate(-62.1895845561537deg);
  -ms-transform:rotate(-62.1895845561537deg);
  transform:rotate(-62.1895845561537deg);
}
#u84 {
  position:absolute;
  left:-98px;
  top:83px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:505px;
  top:434px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  position:absolute;
  left:-193px;
  top:254px;
  width:538px;
  height:7px;
  -webkit-transform:rotate(-106.413583882566deg);
  -moz-transform:rotate(-106.413583882566deg);
  -ms-transform:rotate(-106.413583882566deg);
  transform:rotate(-106.413583882566deg);
}
#u86 {
  position:absolute;
  left:26px;
  top:250px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1642px;
  top:80px;
  width:300px;
  height:529px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u87_ref {
  position:absolute;
  left:1934px;
  top:599px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:1604px;
  top:353px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u88_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:20px;
  height:20px;
}
#u89 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u90 {
  position:absolute;
  left:1296px;
  top:615px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u92 {
  position:absolute;
  left:651px;
  top:1239px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u94 {
  position:absolute;
  left:970px;
  top:1239px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u96 {
  position:absolute;
  left:1287px;
  top:1235px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:11px;
  top:1980px;
  width:300px;
  height:529px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u98_ref {
  position:absolute;
  left:303px;
  top:2499px;
  width:1px;
  height:1px;
}
#u99_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u99 {
  position:absolute;
  left:216px;
  top:2459px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u100 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u101 {
  position:absolute;
  left:127px;
  top:2438px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u102 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:266px;
  top:2484px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u103_seg1 {
  position:absolute;
  left:40px;
  top:-243px;
  width:8px;
  height:247px;
}
#u103_seg2 {
  position:absolute;
  left:40px;
  top:-243px;
  width:25px;
  height:8px;
}
#u103_seg3 {
  position:absolute;
  left:52px;
  top:-249px;
  width:20px;
  height:20px;
}
#u104 {
  position:absolute;
  left:-6px;
  top:-116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:152px;
  top:2438px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  position:absolute;
  left:-4px;
  top:-451px;
  width:8px;
  height:451px;
}
#u105_seg1 {
  position:absolute;
  left:-4px;
  top:-451px;
  width:187px;
  height:8px;
}
#u105_seg2 {
  position:absolute;
  left:175px;
  top:-752px;
  width:8px;
  height:309px;
}
#u105_seg3 {
  position:absolute;
  left:169px;
  top:-759px;
  width:20px;
  height:20px;
}
#u106 {
  position:absolute;
  left:-32px;
  top:-455px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
