﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:406px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:406px;
}
#u85 {
  position:absolute;
  left:2px;
  top:195px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
