﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  background:inherit;
  background-color:rgba(2, 178, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3785 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  font-size:28px;
  color:#FFFFFF;
}
#u3786 {
  position:absolute;
  left:2px;
  top:18px;
  width:1360px;
  word-wrap:break-word;
}
#u3787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3787 {
  position:absolute;
  left:1158px;
  top:26px;
  width:171px;
  height:16px;
  color:#FFFFFF;
}
#u3788 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u3789 {
  position:absolute;
  left:10px;
  top:97px;
  width:144px;
  height:265px;
}
#u3789_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3790 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3791 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3791_img.selected {
}
#u3791.selected {
}
#u3792 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3793 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u3794 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3790_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3795 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3796 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u3797 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3798 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3799 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u3800 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3801 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
}
#u3802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3802 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3802_img.selected {
}
#u3802.selected {
}
#u3803 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3805 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3801_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3806 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3807 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3808 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3809 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3810 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3811 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3812 {
  position:absolute;
  left:0px;
  top:120px;
  width:93px;
  height:20px;
}
#u3813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3813 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3813_img.selected {
}
#u3813.selected {
}
#u3814 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3815 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u3816 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u3812_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3817 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3818 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u3819 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u3820 {
  position:absolute;
  left:0px;
  top:160px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3821 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3821_img.selected {
}
#u3821.selected {
}
#u3822 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3823 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u3824 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u3820_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3825 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3826 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u3827 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u3828 {
  position:absolute;
  left:20px;
  top:40px;
  width:119px;
  height:20px;
}
#u3829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3829 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u3830 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u3831 {
  position:absolute;
  left:0px;
  top:220px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3832 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3832_img.selected {
}
#u3832.selected {
}
#u3833 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3834 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3835 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3831_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3836 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3837 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u3838 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u3839 {
  position:absolute;
  left:165px;
  top:96px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3841 {
  position:absolute;
  left:230px;
  top:131px;
  width:67px;
  height:38px;
}
#u3842 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3843 {
  position:absolute;
  left:296px;
  top:131px;
  width:67px;
  height:38px;
}
#u3844 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3845 {
  position:absolute;
  left:362px;
  top:131px;
  width:67px;
  height:38px;
}
#u3846 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3847 {
  position:absolute;
  left:428px;
  top:131px;
  width:67px;
  height:38px;
}
#u3848 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3849 {
  position:absolute;
  left:494px;
  top:131px;
  width:67px;
  height:38px;
}
#u3850 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3851 {
  position:absolute;
  left:560px;
  top:131px;
  width:67px;
  height:38px;
}
#u3852 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3853 {
  position:absolute;
  left:626px;
  top:131px;
  width:67px;
  height:38px;
}
#u3854 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3855 {
  position:absolute;
  left:692px;
  top:131px;
  width:67px;
  height:38px;
}
#u3856 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3857 {
  position:absolute;
  left:758px;
  top:131px;
  width:67px;
  height:38px;
}
#u3858 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3859 {
  position:absolute;
  left:165px;
  top:165px;
  width:1223px;
  height:553px;
}
#u3860 {
  position:absolute;
  left:2px;
  top:268px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861 {
  position:absolute;
  left:175px;
  top:288px;
  width:1199px;
  height:364px;
  overflow:hidden;
}
#u3861_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:364px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u3861_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:271px;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u3864 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u3865 {
  position:absolute;
  left:69px;
  top:0px;
  width:47px;
  height:40px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3867 {
  position:absolute;
  left:116px;
  top:0px;
  width:127px;
  height:40px;
}
#u3868 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u3869 {
  position:absolute;
  left:243px;
  top:0px;
  width:68px;
  height:40px;
}
#u3870 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3871 {
  position:absolute;
  left:311px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3872 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u3873 {
  position:absolute;
  left:394px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3874 {
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u3875 {
  position:absolute;
  left:552px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3876 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u3877 {
  position:absolute;
  left:648px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3878 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u3879 {
  position:absolute;
  left:767px;
  top:0px;
  width:121px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3880 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u3881 {
  position:absolute;
  left:888px;
  top:0px;
  width:142px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3882 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u3883 {
  position:absolute;
  left:1030px;
  top:0px;
  width:111px;
  height:40px;
}
#u3884 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u3885 {
  position:absolute;
  left:1141px;
  top:0px;
  width:110px;
  height:40px;
}
#u3886 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u3887 {
  position:absolute;
  left:1251px;
  top:0px;
  width:126px;
  height:40px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u3889 {
  position:absolute;
  left:0px;
  top:40px;
  width:69px;
  height:36px;
  font-size:11px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u3891 {
  position:absolute;
  left:69px;
  top:40px;
  width:47px;
  height:36px;
  font-size:11px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u3893 {
  position:absolute;
  left:116px;
  top:40px;
  width:127px;
  height:36px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3895 {
  position:absolute;
  left:243px;
  top:40px;
  width:68px;
  height:36px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u3897 {
  position:absolute;
  left:311px;
  top:40px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3898 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u3899 {
  position:absolute;
  left:394px;
  top:40px;
  width:158px;
  height:36px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u3901 {
  position:absolute;
  left:552px;
  top:40px;
  width:96px;
  height:36px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u3903 {
  position:absolute;
  left:648px;
  top:40px;
  width:119px;
  height:36px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u3905 {
  position:absolute;
  left:767px;
  top:40px;
  width:121px;
  height:36px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u3907 {
  position:absolute;
  left:888px;
  top:40px;
  width:142px;
  height:36px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u3909 {
  position:absolute;
  left:1030px;
  top:40px;
  width:111px;
  height:36px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u3911 {
  position:absolute;
  left:1141px;
  top:40px;
  width:110px;
  height:36px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u3913 {
  position:absolute;
  left:1251px;
  top:40px;
  width:126px;
  height:36px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u3915 {
  position:absolute;
  left:0px;
  top:76px;
  width:69px;
  height:36px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u3917 {
  position:absolute;
  left:69px;
  top:76px;
  width:47px;
  height:36px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u3919 {
  position:absolute;
  left:116px;
  top:76px;
  width:127px;
  height:36px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3921 {
  position:absolute;
  left:243px;
  top:76px;
  width:68px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3922 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u3923 {
  position:absolute;
  left:311px;
  top:76px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3924 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u3925 {
  position:absolute;
  left:394px;
  top:76px;
  width:158px;
  height:36px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u3927 {
  position:absolute;
  left:552px;
  top:76px;
  width:96px;
  height:36px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u3929 {
  position:absolute;
  left:648px;
  top:76px;
  width:119px;
  height:36px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u3931 {
  position:absolute;
  left:767px;
  top:76px;
  width:121px;
  height:36px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u3933 {
  position:absolute;
  left:888px;
  top:76px;
  width:142px;
  height:36px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u3935 {
  position:absolute;
  left:1030px;
  top:76px;
  width:111px;
  height:36px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u3937 {
  position:absolute;
  left:1141px;
  top:76px;
  width:110px;
  height:36px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u3939 {
  position:absolute;
  left:1251px;
  top:76px;
  width:126px;
  height:36px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u3941 {
  position:absolute;
  left:0px;
  top:112px;
  width:69px;
  height:36px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u3943 {
  position:absolute;
  left:69px;
  top:112px;
  width:47px;
  height:36px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u3945 {
  position:absolute;
  left:116px;
  top:112px;
  width:127px;
  height:36px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3947 {
  position:absolute;
  left:243px;
  top:112px;
  width:68px;
  height:36px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u3949 {
  position:absolute;
  left:311px;
  top:112px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3950 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u3951 {
  position:absolute;
  left:394px;
  top:112px;
  width:158px;
  height:36px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u3953 {
  position:absolute;
  left:552px;
  top:112px;
  width:96px;
  height:36px;
}
#u3954 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u3955 {
  position:absolute;
  left:648px;
  top:112px;
  width:119px;
  height:36px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u3957 {
  position:absolute;
  left:767px;
  top:112px;
  width:121px;
  height:36px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u3959 {
  position:absolute;
  left:888px;
  top:112px;
  width:142px;
  height:36px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u3961 {
  position:absolute;
  left:1030px;
  top:112px;
  width:111px;
  height:36px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u3963 {
  position:absolute;
  left:1141px;
  top:112px;
  width:110px;
  height:36px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u3965 {
  position:absolute;
  left:1251px;
  top:112px;
  width:126px;
  height:36px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:148px;
  width:69px;
  height:30px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u3969 {
  position:absolute;
  left:69px;
  top:148px;
  width:47px;
  height:30px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u3971 {
  position:absolute;
  left:116px;
  top:148px;
  width:127px;
  height:30px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u3973 {
  position:absolute;
  left:243px;
  top:148px;
  width:68px;
  height:30px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3975 {
  position:absolute;
  left:311px;
  top:148px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3976 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u3977 {
  position:absolute;
  left:394px;
  top:148px;
  width:158px;
  height:30px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u3979 {
  position:absolute;
  left:552px;
  top:148px;
  width:96px;
  height:30px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u3981 {
  position:absolute;
  left:648px;
  top:148px;
  width:119px;
  height:30px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u3983 {
  position:absolute;
  left:767px;
  top:148px;
  width:121px;
  height:30px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u3985 {
  position:absolute;
  left:888px;
  top:148px;
  width:142px;
  height:30px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u3987 {
  position:absolute;
  left:1030px;
  top:148px;
  width:111px;
  height:30px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3989 {
  position:absolute;
  left:1141px;
  top:148px;
  width:110px;
  height:30px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u3991 {
  position:absolute;
  left:1251px;
  top:148px;
  width:126px;
  height:30px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u3993 {
  position:absolute;
  left:0px;
  top:178px;
  width:69px;
  height:30px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u3995 {
  position:absolute;
  left:69px;
  top:178px;
  width:47px;
  height:30px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u3997 {
  position:absolute;
  left:116px;
  top:178px;
  width:127px;
  height:30px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u3999 {
  position:absolute;
  left:243px;
  top:178px;
  width:68px;
  height:30px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4001 {
  position:absolute;
  left:311px;
  top:178px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4002 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u4003 {
  position:absolute;
  left:394px;
  top:178px;
  width:158px;
  height:30px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4005 {
  position:absolute;
  left:552px;
  top:178px;
  width:96px;
  height:30px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u4007 {
  position:absolute;
  left:648px;
  top:178px;
  width:119px;
  height:30px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u4009 {
  position:absolute;
  left:767px;
  top:178px;
  width:121px;
  height:30px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u4011 {
  position:absolute;
  left:888px;
  top:178px;
  width:142px;
  height:30px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u4013 {
  position:absolute;
  left:1030px;
  top:178px;
  width:111px;
  height:30px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u4015 {
  position:absolute;
  left:1141px;
  top:178px;
  width:110px;
  height:30px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u4017 {
  position:absolute;
  left:1251px;
  top:178px;
  width:126px;
  height:30px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u4019 {
  position:absolute;
  left:0px;
  top:208px;
  width:69px;
  height:30px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u4021 {
  position:absolute;
  left:69px;
  top:208px;
  width:47px;
  height:30px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4023 {
  position:absolute;
  left:116px;
  top:208px;
  width:127px;
  height:30px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u4025 {
  position:absolute;
  left:243px;
  top:208px;
  width:68px;
  height:30px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4027 {
  position:absolute;
  left:311px;
  top:208px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4028 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u4029 {
  position:absolute;
  left:394px;
  top:208px;
  width:158px;
  height:30px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4031 {
  position:absolute;
  left:552px;
  top:208px;
  width:96px;
  height:30px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u4033 {
  position:absolute;
  left:648px;
  top:208px;
  width:119px;
  height:30px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u4035 {
  position:absolute;
  left:767px;
  top:208px;
  width:121px;
  height:30px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u4037 {
  position:absolute;
  left:888px;
  top:208px;
  width:142px;
  height:30px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u4039 {
  position:absolute;
  left:1030px;
  top:208px;
  width:111px;
  height:30px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u4041 {
  position:absolute;
  left:1141px;
  top:208px;
  width:110px;
  height:30px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u4043 {
  position:absolute;
  left:1251px;
  top:208px;
  width:126px;
  height:30px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u4045 {
  position:absolute;
  left:0px;
  top:238px;
  width:69px;
  height:28px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u4047 {
  position:absolute;
  left:69px;
  top:238px;
  width:47px;
  height:28px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
}
#u4049 {
  position:absolute;
  left:116px;
  top:238px;
  width:127px;
  height:28px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u4051 {
  position:absolute;
  left:243px;
  top:238px;
  width:68px;
  height:28px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u4053 {
  position:absolute;
  left:311px;
  top:238px;
  width:83px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4054 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:28px;
}
#u4055 {
  position:absolute;
  left:394px;
  top:238px;
  width:158px;
  height:28px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u4057 {
  position:absolute;
  left:552px;
  top:238px;
  width:96px;
  height:28px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u4059 {
  position:absolute;
  left:648px;
  top:238px;
  width:119px;
  height:28px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u4061 {
  position:absolute;
  left:767px;
  top:238px;
  width:121px;
  height:28px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u4063 {
  position:absolute;
  left:888px;
  top:238px;
  width:142px;
  height:28px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
}
#u4065 {
  position:absolute;
  left:1030px;
  top:238px;
  width:111px;
  height:28px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u4067 {
  position:absolute;
  left:1141px;
  top:238px;
  width:110px;
  height:28px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
}
#u4069 {
  position:absolute;
  left:1251px;
  top:238px;
  width:126px;
  height:28px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u4071 {
  position:absolute;
  left:28px;
  top:46px;
  width:100px;
  height:16px;
}
#u4072 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4073 {
  position:absolute;
  left:28px;
  top:83px;
  width:100px;
  height:16px;
}
#u4074 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4075 {
  position:absolute;
  left:28px;
  top:118px;
  width:100px;
  height:16px;
}
#u4076 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4077 {
  position:absolute;
  left:28px;
  top:152px;
  width:100px;
  height:16px;
}
#u4078 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4079 {
  position:absolute;
  left:28px;
  top:181px;
  width:100px;
  height:16px;
}
#u4080 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4081 {
  position:absolute;
  left:28px;
  top:211px;
  width:100px;
  height:16px;
}
#u4082 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4081_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4083 {
  position:absolute;
  left:28px;
  top:240px;
  width:100px;
  height:16px;
}
#u4084 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4085 {
  position:absolute;
  left:415px;
  top:185px;
  width:71px;
  height:16px;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4087 {
  position:absolute;
  left:482px;
  top:182px;
  width:143px;
  height:22px;
}
#u4087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4087_input:disabled {
  color:grayText;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4088 {
  position:absolute;
  left:660px;
  top:185px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4089 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4090 {
  position:absolute;
  left:707px;
  top:182px;
  width:143px;
  height:22px;
}
#u4090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4090_input:disabled {
  color:grayText;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4091 {
  position:absolute;
  left:187px;
  top:185px;
  width:71px;
  height:17px;
}
#u4092 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-bottom:0px;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4093 {
  position:absolute;
  left:165px;
  top:129px;
  width:67px;
  height:38px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4095 {
  position:absolute;
  left:254px;
  top:181px;
  width:143px;
  height:25px;
}
#u4095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4096 {
  position:absolute;
  left:1209px;
  top:179px;
  width:67px;
  height:29px;
}
#u4097 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4098 {
  position:absolute;
  left:1297px;
  top:179px;
  width:67px;
  height:29px;
}
#u4099 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:2px;
}
#u4100 {
  position:absolute;
  left:165px;
  top:224px;
  width:1223px;
  height:1px;
}
#u4101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4102 {
  position:absolute;
  left:174px;
  top:235px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4103 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u4104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u4104 {
  position:absolute;
  left:184px;
  top:692px;
  width:256px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4107 {
  position:absolute;
  left:205px;
  top:662px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u4108 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4109 {
  position:absolute;
  left:235px;
  top:662px;
  width:20px;
  height:20px;
}
#u4110 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4111 {
  position:absolute;
  left:265px;
  top:662px;
  width:20px;
  height:20px;
}
#u4112 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4113 {
  position:absolute;
  left:295px;
  top:662px;
  width:20px;
  height:20px;
}
#u4114 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4115 {
  position:absolute;
  left:325px;
  top:662px;
  width:20px;
  height:20px;
}
#u4116 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4117 {
  position:absolute;
  left:355px;
  top:662px;
  width:20px;
  height:20px;
}
#u4118 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4119 {
  position:absolute;
  left:175px;
  top:662px;
  width:20px;
  height:20px;
}
#u4119_img.disabled {
}
#u4119.disabled {
}
#u4120 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4121 {
  position:absolute;
  left:385px;
  top:662px;
  width:20px;
  height:20px;
}
#u4121_img.disabled {
}
#u4121.disabled {
}
#u4122 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u4123 {
  position:absolute;
  left:976px;
  top:181px;
  width:88px;
  height:25px;
}
#u4123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4124 {
  position:absolute;
  left:888px;
  top:185px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4126 {
  position:absolute;
  left:1097px;
  top:181px;
  width:88px;
  height:25px;
}
#u4126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4127 {
  position:absolute;
  left:1072px;
  top:185px;
  width:9px;
  height:16px;
}
#u4128 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
