﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6527 {
  position:absolute;
  left:230px;
  top:131px;
  width:67px;
  height:38px;
}
#u6528 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6529 {
  position:absolute;
  left:165px;
  top:165px;
  width:1223px;
  height:60px;
}
#u6530 {
  position:absolute;
  left:2px;
  top:22px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6531 {
  position:absolute;
  left:175px;
  top:288px;
  width:1199px;
  height:364px;
  overflow:hidden;
}
#u6531_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:364px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u6531_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6532 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:271px;
}
#u6533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u6533 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u6534 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u6535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u6535 {
  position:absolute;
  left:69px;
  top:0px;
  width:47px;
  height:40px;
}
#u6536 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u6537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u6537 {
  position:absolute;
  left:116px;
  top:0px;
  width:127px;
  height:40px;
}
#u6538 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u6539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u6539 {
  position:absolute;
  left:243px;
  top:0px;
  width:68px;
  height:40px;
}
#u6540 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u6541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u6541 {
  position:absolute;
  left:311px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6542 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u6543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u6543 {
  position:absolute;
  left:394px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6544 {
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u6545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u6545 {
  position:absolute;
  left:552px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6546 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u6547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u6547 {
  position:absolute;
  left:648px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6548 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u6549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u6549 {
  position:absolute;
  left:767px;
  top:0px;
  width:121px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6550 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u6551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u6551 {
  position:absolute;
  left:888px;
  top:0px;
  width:142px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6552 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u6553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u6553 {
  position:absolute;
  left:1030px;
  top:0px;
  width:111px;
  height:40px;
}
#u6554 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u6555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u6555 {
  position:absolute;
  left:1141px;
  top:0px;
  width:110px;
  height:40px;
}
#u6556 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u6557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u6557 {
  position:absolute;
  left:1251px;
  top:0px;
  width:126px;
  height:40px;
}
#u6558 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u6559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u6559 {
  position:absolute;
  left:0px;
  top:40px;
  width:69px;
  height:36px;
  font-size:11px;
}
#u6560 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u6561 {
  position:absolute;
  left:69px;
  top:40px;
  width:47px;
  height:36px;
  font-size:11px;
}
#u6562 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  word-wrap:break-word;
}
#u6563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u6563 {
  position:absolute;
  left:116px;
  top:40px;
  width:127px;
  height:36px;
}
#u6564 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u6565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u6565 {
  position:absolute;
  left:243px;
  top:40px;
  width:68px;
  height:36px;
}
#u6566 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u6567 {
  position:absolute;
  left:311px;
  top:40px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6568 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u6569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u6569 {
  position:absolute;
  left:394px;
  top:40px;
  width:158px;
  height:36px;
}
#u6570 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u6571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u6571 {
  position:absolute;
  left:552px;
  top:40px;
  width:96px;
  height:36px;
}
#u6572 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u6573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u6573 {
  position:absolute;
  left:648px;
  top:40px;
  width:119px;
  height:36px;
}
#u6574 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u6575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u6575 {
  position:absolute;
  left:767px;
  top:40px;
  width:121px;
  height:36px;
}
#u6576 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u6577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u6577 {
  position:absolute;
  left:888px;
  top:40px;
  width:142px;
  height:36px;
}
#u6578 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u6579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u6579 {
  position:absolute;
  left:1030px;
  top:40px;
  width:111px;
  height:36px;
}
#u6580 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u6581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u6581 {
  position:absolute;
  left:1141px;
  top:40px;
  width:110px;
  height:36px;
}
#u6582 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u6583 {
  position:absolute;
  left:1251px;
  top:40px;
  width:126px;
  height:36px;
}
#u6584 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u6585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u6585 {
  position:absolute;
  left:0px;
  top:76px;
  width:69px;
  height:36px;
}
#u6586 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u6587 {
  position:absolute;
  left:69px;
  top:76px;
  width:47px;
  height:36px;
}
#u6588 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u6589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u6589 {
  position:absolute;
  left:116px;
  top:76px;
  width:127px;
  height:36px;
}
#u6590 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u6591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u6591 {
  position:absolute;
  left:243px;
  top:76px;
  width:68px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6592 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u6593 {
  position:absolute;
  left:311px;
  top:76px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6594 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u6595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u6595 {
  position:absolute;
  left:394px;
  top:76px;
  width:158px;
  height:36px;
}
#u6596 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u6597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u6597 {
  position:absolute;
  left:552px;
  top:76px;
  width:96px;
  height:36px;
}
#u6598 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u6599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u6599 {
  position:absolute;
  left:648px;
  top:76px;
  width:119px;
  height:36px;
}
#u6600 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u6601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u6601 {
  position:absolute;
  left:767px;
  top:76px;
  width:121px;
  height:36px;
}
#u6602 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u6603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u6603 {
  position:absolute;
  left:888px;
  top:76px;
  width:142px;
  height:36px;
}
#u6604 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u6605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u6605 {
  position:absolute;
  left:1030px;
  top:76px;
  width:111px;
  height:36px;
}
#u6606 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u6607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u6607 {
  position:absolute;
  left:1141px;
  top:76px;
  width:110px;
  height:36px;
}
#u6608 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u6609 {
  position:absolute;
  left:1251px;
  top:76px;
  width:126px;
  height:36px;
}
#u6610 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u6611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u6611 {
  position:absolute;
  left:0px;
  top:112px;
  width:69px;
  height:36px;
}
#u6612 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u6613 {
  position:absolute;
  left:69px;
  top:112px;
  width:47px;
  height:36px;
}
#u6614 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u6615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u6615 {
  position:absolute;
  left:116px;
  top:112px;
  width:127px;
  height:36px;
}
#u6616 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u6617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u6617 {
  position:absolute;
  left:243px;
  top:112px;
  width:68px;
  height:36px;
}
#u6618 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u6619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u6619 {
  position:absolute;
  left:311px;
  top:112px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6620 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u6621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u6621 {
  position:absolute;
  left:394px;
  top:112px;
  width:158px;
  height:36px;
}
#u6622 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u6623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u6623 {
  position:absolute;
  left:552px;
  top:112px;
  width:96px;
  height:36px;
}
#u6624 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u6625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u6625 {
  position:absolute;
  left:648px;
  top:112px;
  width:119px;
  height:36px;
}
#u6626 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u6627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u6627 {
  position:absolute;
  left:767px;
  top:112px;
  width:121px;
  height:36px;
}
#u6628 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u6629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u6629 {
  position:absolute;
  left:888px;
  top:112px;
  width:142px;
  height:36px;
}
#u6630 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u6631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u6631 {
  position:absolute;
  left:1030px;
  top:112px;
  width:111px;
  height:36px;
}
#u6632 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u6633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u6633 {
  position:absolute;
  left:1141px;
  top:112px;
  width:110px;
  height:36px;
}
#u6634 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u6635 {
  position:absolute;
  left:1251px;
  top:112px;
  width:126px;
  height:36px;
}
#u6636 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u6637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u6637 {
  position:absolute;
  left:0px;
  top:148px;
  width:69px;
  height:30px;
}
#u6638 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u6639 {
  position:absolute;
  left:69px;
  top:148px;
  width:47px;
  height:30px;
}
#u6640 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u6641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u6641 {
  position:absolute;
  left:116px;
  top:148px;
  width:127px;
  height:30px;
}
#u6642 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u6643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u6643 {
  position:absolute;
  left:243px;
  top:148px;
  width:68px;
  height:30px;
}
#u6644 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u6645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u6645 {
  position:absolute;
  left:311px;
  top:148px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6646 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u6647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u6647 {
  position:absolute;
  left:394px;
  top:148px;
  width:158px;
  height:30px;
}
#u6648 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u6649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u6649 {
  position:absolute;
  left:552px;
  top:148px;
  width:96px;
  height:30px;
}
#u6650 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u6651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u6651 {
  position:absolute;
  left:648px;
  top:148px;
  width:119px;
  height:30px;
}
#u6652 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u6653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u6653 {
  position:absolute;
  left:767px;
  top:148px;
  width:121px;
  height:30px;
}
#u6654 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u6655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u6655 {
  position:absolute;
  left:888px;
  top:148px;
  width:142px;
  height:30px;
}
#u6656 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u6657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u6657 {
  position:absolute;
  left:1030px;
  top:148px;
  width:111px;
  height:30px;
}
#u6658 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u6659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u6659 {
  position:absolute;
  left:1141px;
  top:148px;
  width:110px;
  height:30px;
}
#u6660 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u6661 {
  position:absolute;
  left:1251px;
  top:148px;
  width:126px;
  height:30px;
}
#u6662 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u6663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u6663 {
  position:absolute;
  left:0px;
  top:178px;
  width:69px;
  height:30px;
}
#u6664 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u6665 {
  position:absolute;
  left:69px;
  top:178px;
  width:47px;
  height:30px;
}
#u6666 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u6667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u6667 {
  position:absolute;
  left:116px;
  top:178px;
  width:127px;
  height:30px;
}
#u6668 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u6669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u6669 {
  position:absolute;
  left:243px;
  top:178px;
  width:68px;
  height:30px;
}
#u6670 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u6671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u6671 {
  position:absolute;
  left:311px;
  top:178px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6672 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u6673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u6673 {
  position:absolute;
  left:394px;
  top:178px;
  width:158px;
  height:30px;
}
#u6674 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u6675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u6675 {
  position:absolute;
  left:552px;
  top:178px;
  width:96px;
  height:30px;
}
#u6676 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u6677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u6677 {
  position:absolute;
  left:648px;
  top:178px;
  width:119px;
  height:30px;
}
#u6678 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u6679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u6679 {
  position:absolute;
  left:767px;
  top:178px;
  width:121px;
  height:30px;
}
#u6680 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u6681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u6681 {
  position:absolute;
  left:888px;
  top:178px;
  width:142px;
  height:30px;
}
#u6682 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u6683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u6683 {
  position:absolute;
  left:1030px;
  top:178px;
  width:111px;
  height:30px;
}
#u6684 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u6685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u6685 {
  position:absolute;
  left:1141px;
  top:178px;
  width:110px;
  height:30px;
}
#u6686 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u6687 {
  position:absolute;
  left:1251px;
  top:178px;
  width:126px;
  height:30px;
}
#u6688 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u6689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u6689 {
  position:absolute;
  left:0px;
  top:208px;
  width:69px;
  height:30px;
}
#u6690 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u6691 {
  position:absolute;
  left:69px;
  top:208px;
  width:47px;
  height:30px;
}
#u6692 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u6693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u6693 {
  position:absolute;
  left:116px;
  top:208px;
  width:127px;
  height:30px;
}
#u6694 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u6695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u6695 {
  position:absolute;
  left:243px;
  top:208px;
  width:68px;
  height:30px;
}
#u6696 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u6697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u6697 {
  position:absolute;
  left:311px;
  top:208px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6698 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u6699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u6699 {
  position:absolute;
  left:394px;
  top:208px;
  width:158px;
  height:30px;
}
#u6700 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u6701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u6701 {
  position:absolute;
  left:552px;
  top:208px;
  width:96px;
  height:30px;
}
#u6702 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u6703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u6703 {
  position:absolute;
  left:648px;
  top:208px;
  width:119px;
  height:30px;
}
#u6704 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u6705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u6705 {
  position:absolute;
  left:767px;
  top:208px;
  width:121px;
  height:30px;
}
#u6706 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u6707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u6707 {
  position:absolute;
  left:888px;
  top:208px;
  width:142px;
  height:30px;
}
#u6708 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u6709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u6709 {
  position:absolute;
  left:1030px;
  top:208px;
  width:111px;
  height:30px;
}
#u6710 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u6711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u6711 {
  position:absolute;
  left:1141px;
  top:208px;
  width:110px;
  height:30px;
}
#u6712 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u6713 {
  position:absolute;
  left:1251px;
  top:208px;
  width:126px;
  height:30px;
}
#u6714 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u6715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u6715 {
  position:absolute;
  left:0px;
  top:238px;
  width:69px;
  height:28px;
}
#u6716 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u6717 {
  position:absolute;
  left:69px;
  top:238px;
  width:47px;
  height:28px;
}
#u6718 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u6719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
}
#u6719 {
  position:absolute;
  left:116px;
  top:238px;
  width:127px;
  height:28px;
}
#u6720 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u6721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u6721 {
  position:absolute;
  left:243px;
  top:238px;
  width:68px;
  height:28px;
}
#u6722 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u6723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u6723 {
  position:absolute;
  left:311px;
  top:238px;
  width:83px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6724 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u6725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:28px;
}
#u6725 {
  position:absolute;
  left:394px;
  top:238px;
  width:158px;
  height:28px;
}
#u6726 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u6727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u6727 {
  position:absolute;
  left:552px;
  top:238px;
  width:96px;
  height:28px;
}
#u6728 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u6729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u6729 {
  position:absolute;
  left:648px;
  top:238px;
  width:119px;
  height:28px;
}
#u6730 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u6731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u6731 {
  position:absolute;
  left:767px;
  top:238px;
  width:121px;
  height:28px;
}
#u6732 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u6733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u6733 {
  position:absolute;
  left:888px;
  top:238px;
  width:142px;
  height:28px;
}
#u6734 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u6735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
}
#u6735 {
  position:absolute;
  left:1030px;
  top:238px;
  width:111px;
  height:28px;
}
#u6736 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u6737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u6737 {
  position:absolute;
  left:1141px;
  top:238px;
  width:110px;
  height:28px;
}
#u6738 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u6739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
}
#u6739 {
  position:absolute;
  left:1251px;
  top:238px;
  width:126px;
  height:28px;
}
#u6740 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u6741 {
  position:absolute;
  left:28px;
  top:46px;
  width:100px;
  height:16px;
}
#u6742 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6741_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6743 {
  position:absolute;
  left:28px;
  top:83px;
  width:100px;
  height:16px;
}
#u6744 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6743_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6745 {
  position:absolute;
  left:28px;
  top:118px;
  width:100px;
  height:16px;
}
#u6746 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6745_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6747 {
  position:absolute;
  left:28px;
  top:152px;
  width:100px;
  height:16px;
}
#u6748 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6747_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6749 {
  position:absolute;
  left:28px;
  top:181px;
  width:100px;
  height:16px;
}
#u6750 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6749_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6751 {
  position:absolute;
  left:28px;
  top:211px;
  width:100px;
  height:16px;
}
#u6752 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6751_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6753 {
  position:absolute;
  left:28px;
  top:240px;
  width:100px;
  height:16px;
}
#u6754 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6753_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u6755 {
  position:absolute;
  left:458px;
  top:185px;
  width:43px;
  height:16px;
  text-align:right;
}
#u6756 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6757 {
  position:absolute;
  left:505px;
  top:182px;
  width:143px;
  height:22px;
}
#u6757_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6757_input:disabled {
  color:grayText;
}
#u6758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6758 {
  position:absolute;
  left:187px;
  top:185px;
  width:71px;
  height:17px;
}
#u6759 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-bottom:0px;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6760 {
  position:absolute;
  left:165px;
  top:129px;
  width:67px;
  height:38px;
}
#u6761 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u6762 {
  position:absolute;
  left:254px;
  top:181px;
  width:143px;
  height:25px;
}
#u6762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6763 {
  position:absolute;
  left:1007px;
  top:179px;
  width:67px;
  height:29px;
}
#u6764 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u6765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6765 {
  position:absolute;
  left:1095px;
  top:179px;
  width:67px;
  height:29px;
}
#u6766 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u6768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  background:inherit;
  background-color:rgba(2, 178, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u6768 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  font-size:28px;
  color:#FFFFFF;
}
#u6769 {
  position:absolute;
  left:2px;
  top:18px;
  width:1360px;
  word-wrap:break-word;
}
#u6770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6770 {
  position:absolute;
  left:1158px;
  top:26px;
  width:171px;
  height:16px;
  color:#FFFFFF;
}
#u6771 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u6772 {
  position:absolute;
  left:10px;
  top:97px;
  width:144px;
  height:265px;
}
#u6772_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6773 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6774 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6774_img.selected {
}
#u6774.selected {
}
#u6775 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6776 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6777 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u6773_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6778 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6779 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6780 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u6781 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6782 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6783 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u6784 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
}
#u6785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6785 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6785_img.selected {
}
#u6785.selected {
}
#u6786 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6787 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6788 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6784_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6789 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6790 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6791 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6792 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u6793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6793 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6794 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6795 {
  position:absolute;
  left:0px;
  top:120px;
  width:93px;
  height:20px;
}
#u6796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6796 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6796_img.selected {
}
#u6796.selected {
}
#u6797 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6798 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6799 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u6795_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6800 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u6801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6801 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6802 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u6803 {
  position:absolute;
  left:0px;
  top:160px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6804 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6804_img.selected {
}
#u6804.selected {
}
#u6805 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6806 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u6807 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u6803_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6808 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u6809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6809 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6810 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u6811 {
  position:absolute;
  left:20px;
  top:40px;
  width:119px;
  height:20px;
}
#u6812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6812 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u6813 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u6814 {
  position:absolute;
  left:0px;
  top:220px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6815 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6815_img.selected {
}
#u6815.selected {
}
#u6816 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6817 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6818 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6814_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6819 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6820 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6821 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u6822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:2px;
}
#u6822 {
  position:absolute;
  left:165px;
  top:224px;
  width:1223px;
  height:1px;
}
#u6823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6824 {
  position:absolute;
  left:1445px;
  top:108px;
  width:828px;
  height:137px;
}
#u6825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u6825 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u6826 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u6827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u6827 {
  position:absolute;
  left:195px;
  top:0px;
  width:628px;
  height:30px;
}
#u6828 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u6829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u6829 {
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:30px;
}
#u6830 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u6831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u6831 {
  position:absolute;
  left:195px;
  top:30px;
  width:628px;
  height:30px;
  text-align:left;
}
#u6832 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u6833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u6833 {
  position:absolute;
  left:0px;
  top:60px;
  width:195px;
  height:36px;
}
#u6834 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u6835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:36px;
}
#u6835 {
  position:absolute;
  left:195px;
  top:60px;
  width:628px;
  height:36px;
  text-align:left;
}
#u6836 {
  position:absolute;
  left:2px;
  top:10px;
  width:624px;
  word-wrap:break-word;
}
#u6837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u6837 {
  position:absolute;
  left:0px;
  top:96px;
  width:195px;
  height:36px;
}
#u6838 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u6839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:36px;
}
#u6839 {
  position:absolute;
  left:195px;
  top:96px;
  width:628px;
  height:36px;
  text-align:left;
}
#u6840 {
  position:absolute;
  left:2px;
  top:10px;
  width:624px;
  word-wrap:break-word;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u6841 {
  position:absolute;
  left:1454px;
  top:224px;
  width:947px;
  height:647px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  white-space:nowrap;
}
#u6843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6843 {
  position:absolute;
  left:1445px;
  top:66px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6844 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6845 {
  position:absolute;
  left:502px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6846 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u6847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6847 {
  position:absolute;
  left:394px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6848 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u6849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6849 {
  position:absolute;
  left:181px;
  top:239px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6850 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u6851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6851 {
  position:absolute;
  left:285px;
  top:239px;
  width:83px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6852 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u6853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6853 {
  position:absolute;
  left:611px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6854 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6855 {
  position:absolute;
  left:184px;
  top:692px;
  width:377px;
  height:32px;
  color:#FF0000;
}
#u6856 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u6857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6858 {
  position:absolute;
  left:205px;
  top:662px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u6859 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6860 {
  position:absolute;
  left:235px;
  top:662px;
  width:20px;
  height:20px;
}
#u6861 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6862 {
  position:absolute;
  left:265px;
  top:662px;
  width:20px;
  height:20px;
}
#u6863 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6864 {
  position:absolute;
  left:295px;
  top:662px;
  width:20px;
  height:20px;
}
#u6865 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6866 {
  position:absolute;
  left:325px;
  top:662px;
  width:20px;
  height:20px;
}
#u6867 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6868 {
  position:absolute;
  left:355px;
  top:662px;
  width:20px;
  height:20px;
}
#u6869 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6870 {
  position:absolute;
  left:175px;
  top:662px;
  width:20px;
  height:20px;
}
#u6870_img.disabled {
}
#u6870.disabled {
}
#u6871 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6872 {
  position:absolute;
  left:385px;
  top:662px;
  width:20px;
  height:20px;
}
#u6872_img.disabled {
}
#u6872.disabled {
}
#u6873 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u6874 {
  position:absolute;
  left:774px;
  top:181px;
  width:88px;
  height:25px;
}
#u6874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u6875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6875 {
  position:absolute;
  left:686px;
  top:185px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6877 {
  position:absolute;
  left:895px;
  top:181px;
  width:88px;
  height:25px;
}
#u6877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6878 {
  position:absolute;
  left:870px;
  top:185px;
  width:9px;
  height:16px;
}
#u6879 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u6880 {
  position:absolute;
  left:165px;
  top:96px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u6881 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6882 {
  position:absolute;
  left:743px;
  top:728px;
  width:554px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6883 {
  position:absolute;
  left:2px;
  top:12px;
  width:550px;
  word-wrap:break-word;
}
#u6884 {
  position:absolute;
  left:743px;
  top:793px;
  width:559px;
  height:235px;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6886 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u6887 {
  position:absolute;
  left:63px;
  top:0px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6888 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u6889 {
  position:absolute;
  left:197px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6890 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6891 {
  position:absolute;
  left:438px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6892 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u6893 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6894 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u6895 {
  position:absolute;
  left:63px;
  top:30px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6896 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u6897 {
  position:absolute;
  left:197px;
  top:30px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6898 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u6899 {
  position:absolute;
  left:438px;
  top:30px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6900 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u6901 {
  position:absolute;
  left:0px;
  top:70px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6902 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u6903 {
  position:absolute;
  left:63px;
  top:70px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6904 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u6905 {
  position:absolute;
  left:197px;
  top:70px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6906 {
  position:absolute;
  left:2px;
  top:4px;
  width:237px;
  word-wrap:break-word;
}
#u6907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u6907 {
  position:absolute;
  left:438px;
  top:70px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6908 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u6909 {
  position:absolute;
  left:0px;
  top:110px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6910 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u6911 {
  position:absolute;
  left:63px;
  top:110px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6912 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u6913 {
  position:absolute;
  left:197px;
  top:110px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6914 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u6915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u6915 {
  position:absolute;
  left:438px;
  top:110px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6916 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u6917 {
  position:absolute;
  left:0px;
  top:150px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6918 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u6919 {
  position:absolute;
  left:63px;
  top:150px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6920 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u6921 {
  position:absolute;
  left:197px;
  top:150px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6922 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u6923 {
  position:absolute;
  left:438px;
  top:150px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6924 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u6925 {
  position:absolute;
  left:0px;
  top:190px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6926 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u6927 {
  position:absolute;
  left:63px;
  top:190px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6928 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u6929 {
  position:absolute;
  left:197px;
  top:190px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6930 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u6931 {
  position:absolute;
  left:438px;
  top:190px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6932 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u6933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:391px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6933 {
  position:absolute;
  left:165px;
  top:780px;
  width:547px;
  height:391px;
  color:#FF0000;
}
#u6934 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  word-wrap:break-word;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6935 {
  position:absolute;
  left:167px;
  top:728px;
  width:554px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6936 {
  position:absolute;
  left:2px;
  top:12px;
  width:550px;
  word-wrap:break-word;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u6937 {
  position:absolute;
  left:1260px;
  top:230px;
  width:22px;
  height:26px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6939 {
  position:absolute;
  left:1246px;
  top:262px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6940 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6941 {
  position:absolute;
  left:1250px;
  top:230px;
  width:42px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6942 {
  position:absolute;
  left:1454px;
  top:459px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6943 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6944 {
  position:absolute;
  left:1454px;
  top:262px;
  width:155px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6945 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
