﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:387px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:387px;
}
#u87 {
  position:absolute;
  left:2px;
  top:186px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
