﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3988 {
  position:absolute;
  left:513px;
  top:62px;
  width:375px;
  height:605px;
}
#u3989 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3992 {
  position:absolute;
  left:0px;
  top:687px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3994 {
  position:absolute;
  left:513px;
  top:0px;
  width:375px;
  height:20px;
}
#u3995 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3996 {
  position:absolute;
  left:513px;
  top:20px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3997 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u3998 {
  position:absolute;
  left:524px;
  top:32px;
  width:14px;
  height:20px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:13px;
}
#u4000 {
  position:absolute;
  left:519px;
  top:4px;
  width:355px;
  height:13px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:-2px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4002 {
  position:absolute;
  left:538px;
  top:34px;
  width:56px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u4004 {
  position:absolute;
  left:853px;
  top:30px;
  width:21px;
  height:24px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(228, 228, 228, 0.349019607843137);
}
#u4006 {
  position:absolute;
  left:579px;
  top:93px;
  width:250px;
  height:229px;
}
#u4007 {
  position:absolute;
  left:2px;
  top:106px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u4008 {
  position:absolute;
  left:587px;
  top:101px;
  width:34px;
  height:37px;
  font-size:8px;
  color:#FFFFFF;
}
#u4009 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  word-wrap:break-word;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:627px;
  top:111px;
  width:71px;
  height:9px;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:589px;
  top:147px;
  width:243px;
  height:16px;
}
#u4013 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u4014 {
  position:absolute;
  left:579px;
  top:291px;
  width:250px;
  height:1px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4016 {
  position:absolute;
  left:587px;
  top:296px;
  width:20px;
  height:20px;
}
#u4017 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u4018 {
  position:absolute;
  left:607px;
  top:299px;
  width:28px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:100px;
}
#u4020 {
  position:absolute;
  left:629px;
  top:172px;
  width:143px;
  height:100px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:42px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u4022 {
  position:absolute;
  left:589px;
  top:103px;
  width:30px;
  height:29px;
}
#u4023 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4024 {
  position:absolute;
  left:838px;
  top:91px;
  width:36px;
  height:36px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026 {
  position:absolute;
  left:579px;
  top:93px;
  width:250px;
  height:229px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4027 {
  position:absolute;
  left:898px;
  top:62px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4029 {
  position:absolute;
  left:0px;
  top:27px;
  width:66px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4030 {
  position:absolute;
  left:524px;
  top:23px;
  width:66px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
