﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:727px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:727px;
}
#u83 {
  position:absolute;
  left:2px;
  top:356px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
