﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18608 {
  position:absolute;
  left:230px;
  top:131px;
  width:67px;
  height:38px;
}
#u18609 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u18610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18610 {
  position:absolute;
  left:165px;
  top:165px;
  width:1223px;
  height:60px;
}
#u18611 {
  position:absolute;
  left:2px;
  top:22px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18612 {
  position:absolute;
  left:175px;
  top:288px;
  width:1199px;
  height:364px;
  overflow:hidden;
}
#u18612_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:364px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u18612_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18613 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:271px;
}
#u18614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u18614 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u18615 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u18616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u18616 {
  position:absolute;
  left:69px;
  top:0px;
  width:47px;
  height:40px;
}
#u18617 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u18618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u18618 {
  position:absolute;
  left:116px;
  top:0px;
  width:127px;
  height:40px;
}
#u18619 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u18620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u18620 {
  position:absolute;
  left:243px;
  top:0px;
  width:68px;
  height:40px;
}
#u18621 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u18622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u18622 {
  position:absolute;
  left:311px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18623 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u18624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u18624 {
  position:absolute;
  left:394px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18625 {
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u18626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u18626 {
  position:absolute;
  left:552px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18627 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u18628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u18628 {
  position:absolute;
  left:648px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18629 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u18630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u18630 {
  position:absolute;
  left:767px;
  top:0px;
  width:121px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18631 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u18632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u18632 {
  position:absolute;
  left:888px;
  top:0px;
  width:142px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18633 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u18634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u18634 {
  position:absolute;
  left:1030px;
  top:0px;
  width:111px;
  height:40px;
}
#u18635 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u18636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u18636 {
  position:absolute;
  left:1141px;
  top:0px;
  width:110px;
  height:40px;
}
#u18637 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u18638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u18638 {
  position:absolute;
  left:1251px;
  top:0px;
  width:126px;
  height:40px;
}
#u18639 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u18640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u18640 {
  position:absolute;
  left:0px;
  top:40px;
  width:69px;
  height:36px;
  font-size:11px;
}
#u18641 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u18642 {
  position:absolute;
  left:69px;
  top:40px;
  width:47px;
  height:36px;
  font-size:11px;
}
#u18643 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  word-wrap:break-word;
}
#u18644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u18644 {
  position:absolute;
  left:116px;
  top:40px;
  width:127px;
  height:36px;
}
#u18645 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u18646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u18646 {
  position:absolute;
  left:243px;
  top:40px;
  width:68px;
  height:36px;
}
#u18647 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u18648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u18648 {
  position:absolute;
  left:311px;
  top:40px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18649 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u18650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u18650 {
  position:absolute;
  left:394px;
  top:40px;
  width:158px;
  height:36px;
}
#u18651 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u18652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u18652 {
  position:absolute;
  left:552px;
  top:40px;
  width:96px;
  height:36px;
}
#u18653 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u18654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u18654 {
  position:absolute;
  left:648px;
  top:40px;
  width:119px;
  height:36px;
}
#u18655 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u18656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u18656 {
  position:absolute;
  left:767px;
  top:40px;
  width:121px;
  height:36px;
}
#u18657 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u18658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u18658 {
  position:absolute;
  left:888px;
  top:40px;
  width:142px;
  height:36px;
}
#u18659 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u18660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u18660 {
  position:absolute;
  left:1030px;
  top:40px;
  width:111px;
  height:36px;
}
#u18661 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u18662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u18662 {
  position:absolute;
  left:1141px;
  top:40px;
  width:110px;
  height:36px;
}
#u18663 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u18664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u18664 {
  position:absolute;
  left:1251px;
  top:40px;
  width:126px;
  height:36px;
}
#u18665 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u18666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u18666 {
  position:absolute;
  left:0px;
  top:76px;
  width:69px;
  height:36px;
}
#u18667 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u18668 {
  position:absolute;
  left:69px;
  top:76px;
  width:47px;
  height:36px;
}
#u18669 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u18670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u18670 {
  position:absolute;
  left:116px;
  top:76px;
  width:127px;
  height:36px;
}
#u18671 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u18672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u18672 {
  position:absolute;
  left:243px;
  top:76px;
  width:68px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18673 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u18674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u18674 {
  position:absolute;
  left:311px;
  top:76px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18675 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u18676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u18676 {
  position:absolute;
  left:394px;
  top:76px;
  width:158px;
  height:36px;
}
#u18677 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u18678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u18678 {
  position:absolute;
  left:552px;
  top:76px;
  width:96px;
  height:36px;
}
#u18679 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u18680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u18680 {
  position:absolute;
  left:648px;
  top:76px;
  width:119px;
  height:36px;
}
#u18681 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u18682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u18682 {
  position:absolute;
  left:767px;
  top:76px;
  width:121px;
  height:36px;
}
#u18683 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u18684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u18684 {
  position:absolute;
  left:888px;
  top:76px;
  width:142px;
  height:36px;
}
#u18685 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u18686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u18686 {
  position:absolute;
  left:1030px;
  top:76px;
  width:111px;
  height:36px;
}
#u18687 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u18688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u18688 {
  position:absolute;
  left:1141px;
  top:76px;
  width:110px;
  height:36px;
}
#u18689 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u18690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u18690 {
  position:absolute;
  left:1251px;
  top:76px;
  width:126px;
  height:36px;
}
#u18691 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u18692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u18692 {
  position:absolute;
  left:0px;
  top:112px;
  width:69px;
  height:36px;
}
#u18693 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u18694 {
  position:absolute;
  left:69px;
  top:112px;
  width:47px;
  height:36px;
}
#u18695 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u18696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u18696 {
  position:absolute;
  left:116px;
  top:112px;
  width:127px;
  height:36px;
}
#u18697 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u18698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u18698 {
  position:absolute;
  left:243px;
  top:112px;
  width:68px;
  height:36px;
}
#u18699 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u18700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u18700 {
  position:absolute;
  left:311px;
  top:112px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18701 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u18702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u18702 {
  position:absolute;
  left:394px;
  top:112px;
  width:158px;
  height:36px;
}
#u18703 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u18704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u18704 {
  position:absolute;
  left:552px;
  top:112px;
  width:96px;
  height:36px;
}
#u18705 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u18706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u18706 {
  position:absolute;
  left:648px;
  top:112px;
  width:119px;
  height:36px;
}
#u18707 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u18708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u18708 {
  position:absolute;
  left:767px;
  top:112px;
  width:121px;
  height:36px;
}
#u18709 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u18710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u18710 {
  position:absolute;
  left:888px;
  top:112px;
  width:142px;
  height:36px;
}
#u18711 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u18712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u18712 {
  position:absolute;
  left:1030px;
  top:112px;
  width:111px;
  height:36px;
}
#u18713 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u18714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u18714 {
  position:absolute;
  left:1141px;
  top:112px;
  width:110px;
  height:36px;
}
#u18715 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u18716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u18716 {
  position:absolute;
  left:1251px;
  top:112px;
  width:126px;
  height:36px;
}
#u18717 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u18718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u18718 {
  position:absolute;
  left:0px;
  top:148px;
  width:69px;
  height:30px;
}
#u18719 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u18720 {
  position:absolute;
  left:69px;
  top:148px;
  width:47px;
  height:30px;
}
#u18721 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u18722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u18722 {
  position:absolute;
  left:116px;
  top:148px;
  width:127px;
  height:30px;
}
#u18723 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u18724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u18724 {
  position:absolute;
  left:243px;
  top:148px;
  width:68px;
  height:30px;
}
#u18725 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u18726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18726 {
  position:absolute;
  left:311px;
  top:148px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18727 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u18728 {
  position:absolute;
  left:394px;
  top:148px;
  width:158px;
  height:30px;
}
#u18729 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u18730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u18730 {
  position:absolute;
  left:552px;
  top:148px;
  width:96px;
  height:30px;
}
#u18731 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u18732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u18732 {
  position:absolute;
  left:648px;
  top:148px;
  width:119px;
  height:30px;
}
#u18733 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u18734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u18734 {
  position:absolute;
  left:767px;
  top:148px;
  width:121px;
  height:30px;
}
#u18735 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u18736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u18736 {
  position:absolute;
  left:888px;
  top:148px;
  width:142px;
  height:30px;
}
#u18737 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u18738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u18738 {
  position:absolute;
  left:1030px;
  top:148px;
  width:111px;
  height:30px;
}
#u18739 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u18740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u18740 {
  position:absolute;
  left:1141px;
  top:148px;
  width:110px;
  height:30px;
}
#u18741 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u18742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18742 {
  position:absolute;
  left:1251px;
  top:148px;
  width:126px;
  height:30px;
}
#u18743 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u18744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u18744 {
  position:absolute;
  left:0px;
  top:178px;
  width:69px;
  height:30px;
}
#u18745 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u18746 {
  position:absolute;
  left:69px;
  top:178px;
  width:47px;
  height:30px;
}
#u18747 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u18748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u18748 {
  position:absolute;
  left:116px;
  top:178px;
  width:127px;
  height:30px;
}
#u18749 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u18750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u18750 {
  position:absolute;
  left:243px;
  top:178px;
  width:68px;
  height:30px;
}
#u18751 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u18752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18752 {
  position:absolute;
  left:311px;
  top:178px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18753 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u18754 {
  position:absolute;
  left:394px;
  top:178px;
  width:158px;
  height:30px;
}
#u18755 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u18756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u18756 {
  position:absolute;
  left:552px;
  top:178px;
  width:96px;
  height:30px;
}
#u18757 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u18758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u18758 {
  position:absolute;
  left:648px;
  top:178px;
  width:119px;
  height:30px;
}
#u18759 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u18760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u18760 {
  position:absolute;
  left:767px;
  top:178px;
  width:121px;
  height:30px;
}
#u18761 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u18762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u18762 {
  position:absolute;
  left:888px;
  top:178px;
  width:142px;
  height:30px;
}
#u18763 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u18764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u18764 {
  position:absolute;
  left:1030px;
  top:178px;
  width:111px;
  height:30px;
}
#u18765 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u18766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u18766 {
  position:absolute;
  left:1141px;
  top:178px;
  width:110px;
  height:30px;
}
#u18767 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u18768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18768 {
  position:absolute;
  left:1251px;
  top:178px;
  width:126px;
  height:30px;
}
#u18769 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u18770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u18770 {
  position:absolute;
  left:0px;
  top:208px;
  width:69px;
  height:30px;
}
#u18771 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u18772 {
  position:absolute;
  left:69px;
  top:208px;
  width:47px;
  height:30px;
}
#u18773 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u18774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u18774 {
  position:absolute;
  left:116px;
  top:208px;
  width:127px;
  height:30px;
}
#u18775 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u18776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u18776 {
  position:absolute;
  left:243px;
  top:208px;
  width:68px;
  height:30px;
}
#u18777 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u18778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u18778 {
  position:absolute;
  left:311px;
  top:208px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18779 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u18780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u18780 {
  position:absolute;
  left:394px;
  top:208px;
  width:158px;
  height:30px;
}
#u18781 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u18782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u18782 {
  position:absolute;
  left:552px;
  top:208px;
  width:96px;
  height:30px;
}
#u18783 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u18784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u18784 {
  position:absolute;
  left:648px;
  top:208px;
  width:119px;
  height:30px;
}
#u18785 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u18786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u18786 {
  position:absolute;
  left:767px;
  top:208px;
  width:121px;
  height:30px;
}
#u18787 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u18788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u18788 {
  position:absolute;
  left:888px;
  top:208px;
  width:142px;
  height:30px;
}
#u18789 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u18790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u18790 {
  position:absolute;
  left:1030px;
  top:208px;
  width:111px;
  height:30px;
}
#u18791 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u18792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u18792 {
  position:absolute;
  left:1141px;
  top:208px;
  width:110px;
  height:30px;
}
#u18793 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u18794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18794 {
  position:absolute;
  left:1251px;
  top:208px;
  width:126px;
  height:30px;
}
#u18795 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u18796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u18796 {
  position:absolute;
  left:0px;
  top:238px;
  width:69px;
  height:28px;
}
#u18797 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u18798 {
  position:absolute;
  left:69px;
  top:238px;
  width:47px;
  height:28px;
}
#u18799 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u18800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
}
#u18800 {
  position:absolute;
  left:116px;
  top:238px;
  width:127px;
  height:28px;
}
#u18801 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u18802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u18802 {
  position:absolute;
  left:243px;
  top:238px;
  width:68px;
  height:28px;
}
#u18803 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u18804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u18804 {
  position:absolute;
  left:311px;
  top:238px;
  width:83px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18805 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u18806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:28px;
}
#u18806 {
  position:absolute;
  left:394px;
  top:238px;
  width:158px;
  height:28px;
}
#u18807 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u18808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u18808 {
  position:absolute;
  left:552px;
  top:238px;
  width:96px;
  height:28px;
}
#u18809 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u18810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u18810 {
  position:absolute;
  left:648px;
  top:238px;
  width:119px;
  height:28px;
}
#u18811 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u18812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u18812 {
  position:absolute;
  left:767px;
  top:238px;
  width:121px;
  height:28px;
}
#u18813 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u18814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u18814 {
  position:absolute;
  left:888px;
  top:238px;
  width:142px;
  height:28px;
}
#u18815 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u18816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
}
#u18816 {
  position:absolute;
  left:1030px;
  top:238px;
  width:111px;
  height:28px;
}
#u18817 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u18818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u18818 {
  position:absolute;
  left:1141px;
  top:238px;
  width:110px;
  height:28px;
}
#u18819 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u18820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
}
#u18820 {
  position:absolute;
  left:1251px;
  top:238px;
  width:126px;
  height:28px;
}
#u18821 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18822 {
  position:absolute;
  left:28px;
  top:46px;
  width:100px;
  height:16px;
}
#u18823 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18822_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18824 {
  position:absolute;
  left:28px;
  top:83px;
  width:100px;
  height:16px;
}
#u18825 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18824_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18826 {
  position:absolute;
  left:28px;
  top:118px;
  width:100px;
  height:16px;
}
#u18827 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18826_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18828 {
  position:absolute;
  left:28px;
  top:152px;
  width:100px;
  height:16px;
}
#u18829 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18828_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18830 {
  position:absolute;
  left:28px;
  top:181px;
  width:100px;
  height:16px;
}
#u18831 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18830_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18832 {
  position:absolute;
  left:28px;
  top:211px;
  width:100px;
  height:16px;
}
#u18833 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18832_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18834 {
  position:absolute;
  left:28px;
  top:240px;
  width:100px;
  height:16px;
}
#u18835 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18834_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u18836 {
  position:absolute;
  left:458px;
  top:185px;
  width:43px;
  height:16px;
  text-align:right;
}
#u18837 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18838 {
  position:absolute;
  left:505px;
  top:182px;
  width:143px;
  height:22px;
}
#u18838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18838_input:disabled {
  color:grayText;
}
#u18839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18839 {
  position:absolute;
  left:187px;
  top:185px;
  width:71px;
  height:17px;
}
#u18840 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-bottom:0px;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18841 {
  position:absolute;
  left:165px;
  top:129px;
  width:67px;
  height:38px;
}
#u18842 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u18843 {
  position:absolute;
  left:254px;
  top:181px;
  width:143px;
  height:25px;
}
#u18843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18844 {
  position:absolute;
  left:1007px;
  top:179px;
  width:67px;
  height:29px;
}
#u18845 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u18846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18846 {
  position:absolute;
  left:1095px;
  top:179px;
  width:67px;
  height:29px;
}
#u18847 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u18849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  background:inherit;
  background-color:rgba(2, 178, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u18849 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  font-size:28px;
  color:#FFFFFF;
}
#u18850 {
  position:absolute;
  left:2px;
  top:18px;
  width:1360px;
  word-wrap:break-word;
}
#u18851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18851 {
  position:absolute;
  left:1158px;
  top:26px;
  width:171px;
  height:16px;
  color:#FFFFFF;
}
#u18852 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u18853 {
  position:absolute;
  left:11px;
  top:97px;
  width:131px;
  height:265px;
}
#u18853_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18854 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18855 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18855_img.selected {
}
#u18855.selected {
}
#u18856 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18857 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u18858 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18854_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18859 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18860 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u18861 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18862 {
  position:absolute;
  left:0px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18863 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18863_img.selected {
}
#u18863.selected {
}
#u18864 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18865 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18866 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18862_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18867 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18868 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18869 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18870 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18871 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18872 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18873 {
  position:absolute;
  left:0px;
  top:100px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18874 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18874_img.selected {
}
#u18874.selected {
}
#u18875 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18876 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18877 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18873_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18878 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18879 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18880 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18881 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18882 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18883 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18884 {
  position:absolute;
  left:0px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18885 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18885_img.selected {
}
#u18885.selected {
}
#u18886 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18887 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18888 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18884_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18889 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18890 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18891 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18892 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18893 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18894 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18895 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:20px;
}
#u18896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18896 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18896_img.selected {
}
#u18896.selected {
}
#u18897 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18898 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u18899 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18895_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18900 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18901 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u18902 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18903 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u18904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18904 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u18905 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18906 {
  position:absolute;
  left:0px;
  top:160px;
  width:106px;
  height:20px;
}
#u18907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18907 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18907_img.selected {
}
#u18907.selected {
}
#u18908 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18909 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18910 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18906_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18911 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u18912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18912 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18913 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18914 {
  position:absolute;
  left:20px;
  top:40px;
  width:132px;
  height:20px;
}
#u18915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18915 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u18916 {
  position:absolute;
  left:3px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u18917 {
  position:absolute;
  left:0px;
  top:180px;
  width:93px;
  height:20px;
}
#u18918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18918 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18918_img.selected {
}
#u18918.selected {
}
#u18919 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18920 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u18921 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u18917_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18922 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u18923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18923 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u18924 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u18925 {
  position:absolute;
  left:0px;
  top:200px;
  width:93px;
  height:20px;
}
#u18926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18926 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18926_img.selected {
}
#u18926.selected {
}
#u18927 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18928 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u18929 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u18925_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18930 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u18931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18931 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u18932 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u18933 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u18934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18934 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u18935 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u18936 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
}
#u18937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18937 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18938 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18939 {
  position:absolute;
  left:0px;
  top:220px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18940 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18940_img.selected {
}
#u18940.selected {
}
#u18941 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18942 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u18943 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u18939_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18944 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u18945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18945 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u18946 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u18947 {
  position:absolute;
  left:20px;
  top:40px;
  width:119px;
  height:20px;
}
#u18948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18948 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u18949 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u18950 {
  position:absolute;
  left:20px;
  top:60px;
  width:119px;
  height:20px;
}
#u18951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18951 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u18952 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u18953 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18954 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18954_img.selected {
}
#u18954.selected {
}
#u18955 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18956 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u18957 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18953_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u18958 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18959 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18960 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18961 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18962 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18963 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18964 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18965 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u18966 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:2px;
}
#u18967 {
  position:absolute;
  left:165px;
  top:224px;
  width:1223px;
  height:1px;
}
#u18968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18969 {
  position:absolute;
  left:1445px;
  top:108px;
  width:828px;
  height:137px;
}
#u18970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u18970 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u18971 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u18972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u18972 {
  position:absolute;
  left:195px;
  top:0px;
  width:628px;
  height:30px;
}
#u18973 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u18974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u18974 {
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:30px;
}
#u18975 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u18976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u18976 {
  position:absolute;
  left:195px;
  top:30px;
  width:628px;
  height:30px;
  text-align:left;
}
#u18977 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u18978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u18978 {
  position:absolute;
  left:0px;
  top:60px;
  width:195px;
  height:36px;
}
#u18979 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u18980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:36px;
}
#u18980 {
  position:absolute;
  left:195px;
  top:60px;
  width:628px;
  height:36px;
  text-align:left;
}
#u18981 {
  position:absolute;
  left:2px;
  top:10px;
  width:624px;
  word-wrap:break-word;
}
#u18982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u18982 {
  position:absolute;
  left:0px;
  top:96px;
  width:195px;
  height:36px;
}
#u18983 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u18984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:36px;
}
#u18984 {
  position:absolute;
  left:195px;
  top:96px;
  width:628px;
  height:36px;
  text-align:left;
}
#u18985 {
  position:absolute;
  left:2px;
  top:10px;
  width:624px;
  word-wrap:break-word;
}
#u18986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u18986 {
  position:absolute;
  left:1454px;
  top:224px;
  width:947px;
  height:647px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u18987 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  white-space:nowrap;
}
#u18988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u18988 {
  position:absolute;
  left:1445px;
  top:66px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u18989 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u18990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18990 {
  position:absolute;
  left:502px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18991 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u18992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18992 {
  position:absolute;
  left:394px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18993 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u18994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18994 {
  position:absolute;
  left:181px;
  top:239px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18995 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u18996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18996 {
  position:absolute;
  left:285px;
  top:239px;
  width:83px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18997 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u18998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18998 {
  position:absolute;
  left:611px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18999 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u19000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19000 {
  position:absolute;
  left:184px;
  top:692px;
  width:377px;
  height:32px;
  color:#FF0000;
}
#u19001 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u19002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19003 {
  position:absolute;
  left:205px;
  top:662px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u19004 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19005 {
  position:absolute;
  left:235px;
  top:662px;
  width:20px;
  height:20px;
}
#u19006 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19007 {
  position:absolute;
  left:265px;
  top:662px;
  width:20px;
  height:20px;
}
#u19008 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19009 {
  position:absolute;
  left:295px;
  top:662px;
  width:20px;
  height:20px;
}
#u19010 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19011 {
  position:absolute;
  left:325px;
  top:662px;
  width:20px;
  height:20px;
}
#u19012 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19013 {
  position:absolute;
  left:355px;
  top:662px;
  width:20px;
  height:20px;
}
#u19014 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19015 {
  position:absolute;
  left:175px;
  top:662px;
  width:20px;
  height:20px;
}
#u19015_img.disabled {
}
#u19015.disabled {
}
#u19016 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19017 {
  position:absolute;
  left:385px;
  top:662px;
  width:20px;
  height:20px;
}
#u19017_img.disabled {
}
#u19017.disabled {
}
#u19018 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u19019 {
  position:absolute;
  left:774px;
  top:181px;
  width:88px;
  height:25px;
}
#u19019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u19020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19020 {
  position:absolute;
  left:686px;
  top:185px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19021 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19022 {
  position:absolute;
  left:895px;
  top:181px;
  width:88px;
  height:25px;
}
#u19022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19023 {
  position:absolute;
  left:870px;
  top:185px;
  width:9px;
  height:16px;
}
#u19024 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u19025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u19025 {
  position:absolute;
  left:165px;
  top:96px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u19026 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19027 {
  position:absolute;
  left:743px;
  top:728px;
  width:554px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19028 {
  position:absolute;
  left:2px;
  top:12px;
  width:550px;
  word-wrap:break-word;
}
#u19029 {
  position:absolute;
  left:743px;
  top:793px;
  width:559px;
  height:235px;
}
#u19030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u19030 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19031 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u19032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u19032 {
  position:absolute;
  left:63px;
  top:0px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19033 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u19034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u19034 {
  position:absolute;
  left:197px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19035 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  word-wrap:break-word;
}
#u19036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u19036 {
  position:absolute;
  left:438px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19037 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u19038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u19038 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19039 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u19040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u19040 {
  position:absolute;
  left:63px;
  top:30px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19041 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u19042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u19042 {
  position:absolute;
  left:197px;
  top:30px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19043 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u19044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u19044 {
  position:absolute;
  left:438px;
  top:30px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19045 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u19046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u19046 {
  position:absolute;
  left:0px;
  top:70px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19047 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u19048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u19048 {
  position:absolute;
  left:63px;
  top:70px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19049 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u19050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u19050 {
  position:absolute;
  left:197px;
  top:70px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19051 {
  position:absolute;
  left:2px;
  top:4px;
  width:237px;
  word-wrap:break-word;
}
#u19052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u19052 {
  position:absolute;
  left:438px;
  top:70px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19053 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u19054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u19054 {
  position:absolute;
  left:0px;
  top:110px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19055 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u19056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u19056 {
  position:absolute;
  left:63px;
  top:110px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19057 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u19058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u19058 {
  position:absolute;
  left:197px;
  top:110px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19059 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u19060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u19060 {
  position:absolute;
  left:438px;
  top:110px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19061 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u19062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u19062 {
  position:absolute;
  left:0px;
  top:150px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19063 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u19064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u19064 {
  position:absolute;
  left:63px;
  top:150px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19065 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u19066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u19066 {
  position:absolute;
  left:197px;
  top:150px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19067 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u19068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u19068 {
  position:absolute;
  left:438px;
  top:150px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19069 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u19070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u19070 {
  position:absolute;
  left:0px;
  top:190px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19071 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u19072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u19072 {
  position:absolute;
  left:63px;
  top:190px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19073 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u19074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u19074 {
  position:absolute;
  left:197px;
  top:190px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19075 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u19076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u19076 {
  position:absolute;
  left:438px;
  top:190px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19077 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u19078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:391px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19078 {
  position:absolute;
  left:165px;
  top:780px;
  width:547px;
  height:391px;
  color:#FF0000;
}
#u19079 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  word-wrap:break-word;
}
#u19080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19080 {
  position:absolute;
  left:167px;
  top:728px;
  width:554px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19081 {
  position:absolute;
  left:2px;
  top:12px;
  width:550px;
  word-wrap:break-word;
}
#u19082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u19082 {
  position:absolute;
  left:1260px;
  top:230px;
  width:22px;
  height:26px;
}
#u19083 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19084 {
  position:absolute;
  left:1246px;
  top:262px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u19085 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19086 {
  position:absolute;
  left:1250px;
  top:230px;
  width:42px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19087 {
  position:absolute;
  left:1454px;
  top:459px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19088 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u19089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19089 {
  position:absolute;
  left:1454px;
  top:262px;
  width:155px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19090 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
