﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u1142 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u1143 {
  position:absolute;
  left:71px;
  top:16px;
  width:197px;
  height:19px;
  font-size:16px;
}
.u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u1139-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:50px;
}
#u1139-2 {
  position:absolute;
  left:0px;
  top:75px;
  width:268px;
  height:50px;
}
#u1139-3 {
  position:absolute;
  left:0px;
  top:150px;
  width:268px;
  height:50px;
}
#u1139-4 {
  position:absolute;
  left:0px;
  top:225px;
  width:268px;
  height:50px;
}
#u1139-5 {
  position:absolute;
  left:0px;
  top:300px;
  width:268px;
  height:50px;
}
#u1139-6 {
  position:absolute;
  left:0px;
  top:375px;
  width:268px;
  height:50px;
}
#u1139 {
  position:absolute;
  left:25px;
  top:217px;
  width:268px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
