﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u411 {
  position:absolute;
  left:20px;
  top:16px;
  width:350px;
  height:506px;
  font-size:18px;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u413 {
  position:absolute;
  left:375px;
  top:16px;
  width:430px;
  height:880px;
}
#u414 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415 {
  position:absolute;
  left:402px;
  top:123px;
  width:375px;
  height:667px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u415_ref {
  position:absolute;
  left:769px;
  top:780px;
  width:1px;
  height:1px;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u417 {
  position:absolute;
  left:1260px;
  top:16px;
  width:430px;
  height:880px;
}
#u418 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419 {
  position:absolute;
  left:1287px;
  top:123px;
  width:375px;
  height:667px;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u419_ref {
  position:absolute;
  left:1654px;
  top:780px;
  width:1px;
  height:1px;
}
#u420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u421 {
  position:absolute;
  left:815px;
  top:16px;
  width:430px;
  height:880px;
}
#u422 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423 {
  position:absolute;
  left:842px;
  top:123px;
  width:375px;
  height:667px;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u423_ref {
  position:absolute;
  left:1209px;
  top:780px;
  width:1px;
  height:1px;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u424 {
  position:absolute;
  left:1700px;
  top:16px;
  width:430px;
  height:880px;
}
#u425 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426 {
  position:absolute;
  left:1727px;
  top:123px;
  width:375px;
  height:667px;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u426_ref {
  position:absolute;
  left:2094px;
  top:780px;
  width:1px;
  height:1px;
}
