﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2392px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4963 {
  position:absolute;
  left:230px;
  top:131px;
  width:67px;
  height:38px;
}
#u4964 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4965 {
  position:absolute;
  left:296px;
  top:131px;
  width:67px;
  height:38px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  position:absolute;
  left:362px;
  top:131px;
  width:67px;
  height:38px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4969 {
  position:absolute;
  left:428px;
  top:131px;
  width:67px;
  height:38px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4971 {
  position:absolute;
  left:494px;
  top:131px;
  width:67px;
  height:38px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4973 {
  position:absolute;
  left:560px;
  top:131px;
  width:67px;
  height:38px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4975 {
  position:absolute;
  left:626px;
  top:131px;
  width:67px;
  height:38px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4977 {
  position:absolute;
  left:692px;
  top:131px;
  width:67px;
  height:38px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4979 {
  position:absolute;
  left:758px;
  top:131px;
  width:67px;
  height:38px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4981 {
  position:absolute;
  left:165px;
  top:165px;
  width:1223px;
  height:60px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:22px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983 {
  position:absolute;
  left:175px;
  top:288px;
  width:1199px;
  height:364px;
  overflow:hidden;
}
#u4983_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:364px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u4983_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:271px;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u4985 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u4987 {
  position:absolute;
  left:69px;
  top:0px;
  width:47px;
  height:40px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u4989 {
  position:absolute;
  left:116px;
  top:0px;
  width:127px;
  height:40px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u4991 {
  position:absolute;
  left:243px;
  top:0px;
  width:68px;
  height:40px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u4993 {
  position:absolute;
  left:311px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4994 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u4995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u4995 {
  position:absolute;
  left:394px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4996 {
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u4997 {
  position:absolute;
  left:552px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4998 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u4999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u4999 {
  position:absolute;
  left:648px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5000 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u5001 {
  position:absolute;
  left:767px;
  top:0px;
  width:121px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5002 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u5003 {
  position:absolute;
  left:888px;
  top:0px;
  width:142px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5004 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u5005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u5005 {
  position:absolute;
  left:1030px;
  top:0px;
  width:111px;
  height:40px;
}
#u5006 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u5007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u5007 {
  position:absolute;
  left:1141px;
  top:0px;
  width:110px;
  height:40px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u5009 {
  position:absolute;
  left:1251px;
  top:0px;
  width:126px;
  height:40px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:40px;
  width:69px;
  height:36px;
  font-size:11px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u5013 {
  position:absolute;
  left:69px;
  top:40px;
  width:47px;
  height:36px;
  font-size:11px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  word-wrap:break-word;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u5015 {
  position:absolute;
  left:116px;
  top:40px;
  width:127px;
  height:36px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u5017 {
  position:absolute;
  left:243px;
  top:40px;
  width:68px;
  height:36px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u5019 {
  position:absolute;
  left:311px;
  top:40px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5020 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u5021 {
  position:absolute;
  left:394px;
  top:40px;
  width:158px;
  height:36px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u5023 {
  position:absolute;
  left:552px;
  top:40px;
  width:96px;
  height:36px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u5025 {
  position:absolute;
  left:648px;
  top:40px;
  width:119px;
  height:36px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u5027 {
  position:absolute;
  left:767px;
  top:40px;
  width:121px;
  height:36px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u5029 {
  position:absolute;
  left:888px;
  top:40px;
  width:142px;
  height:36px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u5031 {
  position:absolute;
  left:1030px;
  top:40px;
  width:111px;
  height:36px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u5033 {
  position:absolute;
  left:1141px;
  top:40px;
  width:110px;
  height:36px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u5035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u5035 {
  position:absolute;
  left:1251px;
  top:40px;
  width:126px;
  height:36px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u5037 {
  position:absolute;
  left:0px;
  top:76px;
  width:69px;
  height:36px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u5039 {
  position:absolute;
  left:69px;
  top:76px;
  width:47px;
  height:36px;
}
#u5040 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u5041 {
  position:absolute;
  left:116px;
  top:76px;
  width:127px;
  height:36px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u5043 {
  position:absolute;
  left:243px;
  top:76px;
  width:68px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5044 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u5045 {
  position:absolute;
  left:311px;
  top:76px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5046 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u5047 {
  position:absolute;
  left:394px;
  top:76px;
  width:158px;
  height:36px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u5049 {
  position:absolute;
  left:552px;
  top:76px;
  width:96px;
  height:36px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u5051 {
  position:absolute;
  left:648px;
  top:76px;
  width:119px;
  height:36px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u5053 {
  position:absolute;
  left:767px;
  top:76px;
  width:121px;
  height:36px;
}
#u5054 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u5055 {
  position:absolute;
  left:888px;
  top:76px;
  width:142px;
  height:36px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u5057 {
  position:absolute;
  left:1030px;
  top:76px;
  width:111px;
  height:36px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u5059 {
  position:absolute;
  left:1141px;
  top:76px;
  width:110px;
  height:36px;
}
#u5060 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u5061 {
  position:absolute;
  left:1251px;
  top:76px;
  width:126px;
  height:36px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u5063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u5063 {
  position:absolute;
  left:0px;
  top:112px;
  width:69px;
  height:36px;
}
#u5064 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u5065 {
  position:absolute;
  left:69px;
  top:112px;
  width:47px;
  height:36px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u5067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u5067 {
  position:absolute;
  left:116px;
  top:112px;
  width:127px;
  height:36px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u5069 {
  position:absolute;
  left:243px;
  top:112px;
  width:68px;
  height:36px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u5071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u5071 {
  position:absolute;
  left:311px;
  top:112px;
  width:83px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5072 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u5073 {
  position:absolute;
  left:394px;
  top:112px;
  width:158px;
  height:36px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u5075 {
  position:absolute;
  left:552px;
  top:112px;
  width:96px;
  height:36px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u5077 {
  position:absolute;
  left:648px;
  top:112px;
  width:119px;
  height:36px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u5079 {
  position:absolute;
  left:767px;
  top:112px;
  width:121px;
  height:36px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u5081 {
  position:absolute;
  left:888px;
  top:112px;
  width:142px;
  height:36px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u5083 {
  position:absolute;
  left:1030px;
  top:112px;
  width:111px;
  height:36px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u5085 {
  position:absolute;
  left:1141px;
  top:112px;
  width:110px;
  height:36px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u5087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u5087 {
  position:absolute;
  left:1251px;
  top:112px;
  width:126px;
  height:36px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u5089 {
  position:absolute;
  left:0px;
  top:148px;
  width:69px;
  height:30px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u5091 {
  position:absolute;
  left:69px;
  top:148px;
  width:47px;
  height:30px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5093 {
  position:absolute;
  left:116px;
  top:148px;
  width:127px;
  height:30px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u5095 {
  position:absolute;
  left:243px;
  top:148px;
  width:68px;
  height:30px;
}
#u5096 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u5097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u5097 {
  position:absolute;
  left:311px;
  top:148px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5098 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u5099 {
  position:absolute;
  left:394px;
  top:148px;
  width:158px;
  height:30px;
}
#u5100 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u5101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u5101 {
  position:absolute;
  left:552px;
  top:148px;
  width:96px;
  height:30px;
}
#u5102 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u5103 {
  position:absolute;
  left:648px;
  top:148px;
  width:119px;
  height:30px;
}
#u5104 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u5105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u5105 {
  position:absolute;
  left:767px;
  top:148px;
  width:121px;
  height:30px;
}
#u5106 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u5107 {
  position:absolute;
  left:888px;
  top:148px;
  width:142px;
  height:30px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u5109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u5109 {
  position:absolute;
  left:1030px;
  top:148px;
  width:111px;
  height:30px;
}
#u5110 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u5111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5111 {
  position:absolute;
  left:1141px;
  top:148px;
  width:110px;
  height:30px;
}
#u5112 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u5113 {
  position:absolute;
  left:1251px;
  top:148px;
  width:126px;
  height:30px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u5115 {
  position:absolute;
  left:0px;
  top:178px;
  width:69px;
  height:30px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u5117 {
  position:absolute;
  left:69px;
  top:178px;
  width:47px;
  height:30px;
}
#u5118 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5119 {
  position:absolute;
  left:116px;
  top:178px;
  width:127px;
  height:30px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u5121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u5121 {
  position:absolute;
  left:243px;
  top:178px;
  width:68px;
  height:30px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u5123 {
  position:absolute;
  left:311px;
  top:178px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5124 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u5125 {
  position:absolute;
  left:394px;
  top:178px;
  width:158px;
  height:30px;
}
#u5126 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u5127 {
  position:absolute;
  left:552px;
  top:178px;
  width:96px;
  height:30px;
}
#u5128 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u5129 {
  position:absolute;
  left:648px;
  top:178px;
  width:119px;
  height:30px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u5131 {
  position:absolute;
  left:767px;
  top:178px;
  width:121px;
  height:30px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u5133 {
  position:absolute;
  left:888px;
  top:178px;
  width:142px;
  height:30px;
}
#u5134 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u5135 {
  position:absolute;
  left:1030px;
  top:178px;
  width:111px;
  height:30px;
}
#u5136 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5137 {
  position:absolute;
  left:1141px;
  top:178px;
  width:110px;
  height:30px;
}
#u5138 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u5139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u5139 {
  position:absolute;
  left:1251px;
  top:178px;
  width:126px;
  height:30px;
}
#u5140 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u5141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u5141 {
  position:absolute;
  left:0px;
  top:208px;
  width:69px;
  height:30px;
}
#u5142 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u5143 {
  position:absolute;
  left:69px;
  top:208px;
  width:47px;
  height:30px;
}
#u5144 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u5145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5145 {
  position:absolute;
  left:116px;
  top:208px;
  width:127px;
  height:30px;
}
#u5146 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u5147 {
  position:absolute;
  left:243px;
  top:208px;
  width:68px;
  height:30px;
}
#u5148 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u5149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u5149 {
  position:absolute;
  left:311px;
  top:208px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5150 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u5151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u5151 {
  position:absolute;
  left:394px;
  top:208px;
  width:158px;
  height:30px;
}
#u5152 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u5153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u5153 {
  position:absolute;
  left:552px;
  top:208px;
  width:96px;
  height:30px;
}
#u5154 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u5155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u5155 {
  position:absolute;
  left:648px;
  top:208px;
  width:119px;
  height:30px;
}
#u5156 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u5157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u5157 {
  position:absolute;
  left:767px;
  top:208px;
  width:121px;
  height:30px;
}
#u5158 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u5159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u5159 {
  position:absolute;
  left:888px;
  top:208px;
  width:142px;
  height:30px;
}
#u5160 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u5161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u5161 {
  position:absolute;
  left:1030px;
  top:208px;
  width:111px;
  height:30px;
}
#u5162 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5163 {
  position:absolute;
  left:1141px;
  top:208px;
  width:110px;
  height:30px;
}
#u5164 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u5165 {
  position:absolute;
  left:1251px;
  top:208px;
  width:126px;
  height:30px;
}
#u5166 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u5167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u5167 {
  position:absolute;
  left:0px;
  top:238px;
  width:69px;
  height:28px;
}
#u5168 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u5169 {
  position:absolute;
  left:69px;
  top:238px;
  width:47px;
  height:28px;
}
#u5170 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u5171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
}
#u5171 {
  position:absolute;
  left:116px;
  top:238px;
  width:127px;
  height:28px;
}
#u5172 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u5173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u5173 {
  position:absolute;
  left:243px;
  top:238px;
  width:68px;
  height:28px;
}
#u5174 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u5175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u5175 {
  position:absolute;
  left:311px;
  top:238px;
  width:83px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5176 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u5177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:28px;
}
#u5177 {
  position:absolute;
  left:394px;
  top:238px;
  width:158px;
  height:28px;
}
#u5178 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u5179 {
  position:absolute;
  left:552px;
  top:238px;
  width:96px;
  height:28px;
}
#u5180 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u5181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u5181 {
  position:absolute;
  left:648px;
  top:238px;
  width:119px;
  height:28px;
}
#u5182 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u5183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u5183 {
  position:absolute;
  left:767px;
  top:238px;
  width:121px;
  height:28px;
}
#u5184 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u5185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u5185 {
  position:absolute;
  left:888px;
  top:238px;
  width:142px;
  height:28px;
}
#u5186 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u5187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
}
#u5187 {
  position:absolute;
  left:1030px;
  top:238px;
  width:111px;
  height:28px;
}
#u5188 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u5189 {
  position:absolute;
  left:1141px;
  top:238px;
  width:110px;
  height:28px;
}
#u5190 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
}
#u5191 {
  position:absolute;
  left:1251px;
  top:238px;
  width:126px;
  height:28px;
}
#u5192 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u5193 {
  position:absolute;
  left:28px;
  top:46px;
  width:100px;
  height:16px;
}
#u5194 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5195 {
  position:absolute;
  left:28px;
  top:83px;
  width:100px;
  height:16px;
}
#u5196 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5195_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5197 {
  position:absolute;
  left:28px;
  top:118px;
  width:100px;
  height:16px;
}
#u5198 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5197_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5199 {
  position:absolute;
  left:28px;
  top:152px;
  width:100px;
  height:16px;
}
#u5200 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5201 {
  position:absolute;
  left:28px;
  top:181px;
  width:100px;
  height:16px;
}
#u5202 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5203 {
  position:absolute;
  left:28px;
  top:211px;
  width:100px;
  height:16px;
}
#u5204 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5205 {
  position:absolute;
  left:28px;
  top:240px;
  width:100px;
  height:16px;
}
#u5206 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5207 {
  position:absolute;
  left:415px;
  top:185px;
  width:71px;
  height:16px;
}
#u5208 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5209 {
  position:absolute;
  left:482px;
  top:182px;
  width:143px;
  height:22px;
}
#u5209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5209_input:disabled {
  color:grayText;
}
#u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5210 {
  position:absolute;
  left:660px;
  top:185px;
  width:43px;
  height:16px;
  text-align:right;
}
#u5211 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5212 {
  position:absolute;
  left:707px;
  top:182px;
  width:143px;
  height:22px;
}
#u5212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5212_input:disabled {
  color:grayText;
}
#u5213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5213 {
  position:absolute;
  left:187px;
  top:185px;
  width:71px;
  height:17px;
}
#u5214 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-bottom:0px;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5215 {
  position:absolute;
  left:165px;
  top:129px;
  width:67px;
  height:38px;
}
#u5216 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u5217 {
  position:absolute;
  left:254px;
  top:181px;
  width:143px;
  height:25px;
}
#u5217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5218 {
  position:absolute;
  left:1209px;
  top:179px;
  width:67px;
  height:29px;
}
#u5219 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u5220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5220 {
  position:absolute;
  left:1297px;
  top:179px;
  width:67px;
  height:29px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u5223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  background:inherit;
  background-color:rgba(2, 178, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u5223 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:68px;
  font-size:28px;
  color:#FFFFFF;
}
#u5224 {
  position:absolute;
  left:2px;
  top:18px;
  width:1360px;
  word-wrap:break-word;
}
#u5225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5225 {
  position:absolute;
  left:1158px;
  top:26px;
  width:171px;
  height:16px;
  color:#FFFFFF;
}
#u5226 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u5227 {
  position:absolute;
  left:10px;
  top:97px;
  width:144px;
  height:265px;
}
#u5227_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5228 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5229 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5229_img.selected {
}
#u5229.selected {
}
#u5230 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5231 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5232 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5228_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5233 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5234 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5235 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5236 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5237 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5238 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5239 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5240 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5240_img.selected {
}
#u5240.selected {
}
#u5241 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5242 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5243 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5239_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5244 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5245 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5246 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5247 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5248 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5249 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5250 {
  position:absolute;
  left:0px;
  top:120px;
  width:93px;
  height:20px;
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5251 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5251_img.selected {
}
#u5251.selected {
}
#u5252 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5253 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5254 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5250_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5255 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u5256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5256 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5257 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5258 {
  position:absolute;
  left:0px;
  top:160px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5259 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5259_img.selected {
}
#u5259.selected {
}
#u5260 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5261 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u5262 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u5258_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5263 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u5264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5264 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5265 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5266 {
  position:absolute;
  left:20px;
  top:40px;
  width:119px;
  height:20px;
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5267 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u5268 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u5269 {
  position:absolute;
  left:0px;
  top:220px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5270 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5270_img.selected {
}
#u5270.selected {
}
#u5271 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5272 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5273 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5269_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5274 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5275 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5276 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:2px;
}
#u5277 {
  position:absolute;
  left:165px;
  top:224px;
  width:1223px;
  height:1px;
}
#u5278 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5279 {
  position:absolute;
  left:1445px;
  top:108px;
  width:828px;
  height:207px;
}
#u5280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5280 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5281 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u5282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u5282 {
  position:absolute;
  left:195px;
  top:0px;
  width:628px;
  height:30px;
}
#u5283 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u5284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5284 {
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:30px;
}
#u5285 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u5286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u5286 {
  position:absolute;
  left:195px;
  top:30px;
  width:628px;
  height:30px;
  text-align:left;
}
#u5287 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5288 {
  position:absolute;
  left:0px;
  top:60px;
  width:195px;
  height:30px;
}
#u5289 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:30px;
}
#u5290 {
  position:absolute;
  left:195px;
  top:60px;
  width:628px;
  height:30px;
  text-align:left;
}
#u5291 {
  position:absolute;
  left:2px;
  top:7px;
  width:624px;
  word-wrap:break-word;
}
#u5292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:40px;
}
#u5292 {
  position:absolute;
  left:0px;
  top:90px;
  width:195px;
  height:40px;
}
#u5293 {
  position:absolute;
  left:2px;
  top:12px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:40px;
}
#u5294 {
  position:absolute;
  left:195px;
  top:90px;
  width:628px;
  height:40px;
  text-align:left;
}
#u5295 {
  position:absolute;
  left:2px;
  top:4px;
  width:624px;
  word-wrap:break-word;
}
#u5296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u5296 {
  position:absolute;
  left:0px;
  top:130px;
  width:195px;
  height:36px;
}
#u5297 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u5298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:36px;
}
#u5298 {
  position:absolute;
  left:195px;
  top:130px;
  width:628px;
  height:36px;
  text-align:left;
}
#u5299 {
  position:absolute;
  left:2px;
  top:10px;
  width:624px;
  word-wrap:break-word;
}
#u5300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u5300 {
  position:absolute;
  left:0px;
  top:166px;
  width:195px;
  height:36px;
}
#u5301 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u5302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:36px;
}
#u5302 {
  position:absolute;
  left:195px;
  top:166px;
  width:628px;
  height:36px;
  text-align:left;
}
#u5303 {
  position:absolute;
  left:2px;
  top:10px;
  width:624px;
  word-wrap:break-word;
}
#u5304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u5304 {
  position:absolute;
  left:1445px;
  top:332px;
  width:947px;
  height:647px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u5305 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  white-space:nowrap;
}
#u5306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5306 {
  position:absolute;
  left:1445px;
  top:66px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5307 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u5308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5308 {
  position:absolute;
  left:502px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5309 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u5310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5310 {
  position:absolute;
  left:394px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5311 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u5312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5312 {
  position:absolute;
  left:181px;
  top:239px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5313 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u5314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5314 {
  position:absolute;
  left:285px;
  top:239px;
  width:83px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5315 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5316 {
  position:absolute;
  left:611px;
  top:241px;
  width:81px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5317 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u5318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5318 {
  position:absolute;
  left:184px;
  top:692px;
  width:377px;
  height:32px;
  color:#FF0000;
}
#u5319 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u5320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5321 {
  position:absolute;
  left:205px;
  top:662px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5322 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5323 {
  position:absolute;
  left:235px;
  top:662px;
  width:20px;
  height:20px;
}
#u5324 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5325 {
  position:absolute;
  left:265px;
  top:662px;
  width:20px;
  height:20px;
}
#u5326 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5327 {
  position:absolute;
  left:295px;
  top:662px;
  width:20px;
  height:20px;
}
#u5328 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5329 {
  position:absolute;
  left:325px;
  top:662px;
  width:20px;
  height:20px;
}
#u5330 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5331 {
  position:absolute;
  left:355px;
  top:662px;
  width:20px;
  height:20px;
}
#u5332 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5333 {
  position:absolute;
  left:175px;
  top:662px;
  width:20px;
  height:20px;
}
#u5333_img.disabled {
}
#u5333.disabled {
}
#u5334 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5335 {
  position:absolute;
  left:385px;
  top:662px;
  width:20px;
  height:20px;
}
#u5335_img.disabled {
}
#u5335.disabled {
}
#u5336 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5337 {
  position:absolute;
  left:976px;
  top:181px;
  width:88px;
  height:25px;
}
#u5337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5338 {
  position:absolute;
  left:888px;
  top:185px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5339 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5340 {
  position:absolute;
  left:1097px;
  top:181px;
  width:88px;
  height:25px;
}
#u5340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5341 {
  position:absolute;
  left:1072px;
  top:185px;
  width:9px;
  height:16px;
}
#u5342 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5343 {
  position:absolute;
  left:165px;
  top:96px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5344 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5345 {
  position:absolute;
  left:743px;
  top:728px;
  width:554px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5346 {
  position:absolute;
  left:2px;
  top:12px;
  width:550px;
  word-wrap:break-word;
}
#u5347 {
  position:absolute;
  left:743px;
  top:793px;
  width:559px;
  height:235px;
}
#u5348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u5348 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5349 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u5350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u5350 {
  position:absolute;
  left:63px;
  top:0px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5351 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u5352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u5352 {
  position:absolute;
  left:197px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5353 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  word-wrap:break-word;
}
#u5354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u5354 {
  position:absolute;
  left:438px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5355 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u5356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u5356 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5357 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u5358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u5358 {
  position:absolute;
  left:63px;
  top:30px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5359 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u5360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u5360 {
  position:absolute;
  left:197px;
  top:30px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5361 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u5362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u5362 {
  position:absolute;
  left:438px;
  top:30px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5363 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u5364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u5364 {
  position:absolute;
  left:0px;
  top:70px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5365 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u5366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u5366 {
  position:absolute;
  left:63px;
  top:70px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5367 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u5368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u5368 {
  position:absolute;
  left:197px;
  top:70px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5369 {
  position:absolute;
  left:2px;
  top:4px;
  width:237px;
  word-wrap:break-word;
}
#u5370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u5370 {
  position:absolute;
  left:438px;
  top:70px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5371 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u5372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u5372 {
  position:absolute;
  left:0px;
  top:110px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5373 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u5374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u5374 {
  position:absolute;
  left:63px;
  top:110px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5375 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u5376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u5376 {
  position:absolute;
  left:197px;
  top:110px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5377 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u5378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u5378 {
  position:absolute;
  left:438px;
  top:110px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5379 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u5380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u5380 {
  position:absolute;
  left:0px;
  top:150px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5381 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u5382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u5382 {
  position:absolute;
  left:63px;
  top:150px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5383 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u5384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u5384 {
  position:absolute;
  left:197px;
  top:150px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5385 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u5386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u5386 {
  position:absolute;
  left:438px;
  top:150px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5387 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u5388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u5388 {
  position:absolute;
  left:0px;
  top:190px;
  width:63px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5389 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u5390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u5390 {
  position:absolute;
  left:63px;
  top:190px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5391 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u5392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u5392 {
  position:absolute;
  left:197px;
  top:190px;
  width:241px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5393 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u5394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u5394 {
  position:absolute;
  left:438px;
  top:190px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5395 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u5396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:391px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5396 {
  position:absolute;
  left:165px;
  top:780px;
  width:547px;
  height:391px;
  color:#FF0000;
}
#u5397 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  word-wrap:break-word;
}
#u5398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5398 {
  position:absolute;
  left:167px;
  top:728px;
  width:554px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5399 {
  position:absolute;
  left:2px;
  top:12px;
  width:550px;
  word-wrap:break-word;
}
#u5400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u5400 {
  position:absolute;
  left:1260px;
  top:230px;
  width:22px;
  height:26px;
}
#u5401 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u5403 {
  position:absolute;
  left:1330px;
  top:232px;
  width:19px;
  height:23px;
}
#u5404 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5405 {
  position:absolute;
  left:1315px;
  top:262px;
  width:49px;
  height:16px;
  font-size:12px;
}
#u5406 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5407 {
  position:absolute;
  left:1246px;
  top:262px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u5408 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5409 {
  position:absolute;
  left:1315px;
  top:232px;
  width:42px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5410 {
  position:absolute;
  left:1250px;
  top:230px;
  width:42px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5411 {
  position:absolute;
  left:1445px;
  top:589px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5412 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u5413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5413 {
  position:absolute;
  left:1445px;
  top:388px;
  width:155px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5414 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
