﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22516 {
  position:absolute;
  left:308px;
  top:445px;
  width:357px;
  height:197px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22517 {
  position:absolute;
  left:2px;
  top:82px;
  width:353px;
  word-wrap:break-word;
}
#u22518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u22518 {
  position:absolute;
  left:321px;
  top:457px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u22519 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22520 {
  position:absolute;
  left:417px;
  top:591px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u22521 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22522 {
  position:absolute;
  left:502px;
  top:591px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u22522_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22522.selected {
}
#u22523 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22524 {
  position:absolute;
  left:21px;
  top:72px;
  width:890px;
  height:512px;
  overflow:hidden;
  visibility:hidden;
}
#u22524_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:512px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22524_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22525 {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:512px;
}
#u22526 {
  position:absolute;
  left:2px;
  top:248px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22527 {
  position:absolute;
  left:0px;
  top:1px;
  width:888px;
  height:35px;
  text-align:left;
}
#u22528 {
  position:absolute;
  left:2px;
  top:10px;
  width:884px;
  word-wrap:break-word;
}
#u22529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22529 {
  position:absolute;
  left:729px;
  top:48px;
  width:54px;
  height:25px;
}
#u22530 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22531 {
  position:absolute;
  left:430px;
  top:471px;
  width:54px;
  height:25px;
}
#u22531_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22531.selected {
}
#u22532 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22533 {
  position:absolute;
  left:345px;
  top:49px;
  width:104px;
  height:23px;
}
#u22534 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u22535 {
  position:absolute;
  left:431px;
  top:48px;
  width:278px;
  height:24px;
}
#u22535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u22536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22536 {
  position:absolute;
  left:16px;
  top:50px;
  width:71px;
  height:16px;
}
#u22537 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22538 {
  position:absolute;
  left:97px;
  top:48px;
  width:220px;
  height:24px;
}
#u22538_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u22539 {
  position:absolute;
  left:9px;
  top:475px;
  width:241px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u22540 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u22541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22541 {
  position:absolute;
  left:360px;
  top:471px;
  width:54px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22542 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22543 {
  position:absolute;
  left:9px;
  top:96px;
  width:846px;
  height:361px;
  overflow:hidden;
}
#u22543_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:361px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22543_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22544 {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:484px;
}
#u22545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u22545 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u22546 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u22547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u22547 {
  position:absolute;
  left:56px;
  top:0px;
  width:73px;
  height:40px;
}
#u22548 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u22549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u22549 {
  position:absolute;
  left:129px;
  top:0px;
  width:248px;
  height:40px;
}
#u22550 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u22551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u22551 {
  position:absolute;
  left:377px;
  top:0px;
  width:132px;
  height:40px;
}
#u22552 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u22553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u22553 {
  position:absolute;
  left:509px;
  top:0px;
  width:140px;
  height:40px;
}
#u22554 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u22555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u22555 {
  position:absolute;
  left:649px;
  top:0px;
  width:51px;
  height:40px;
}
#u22556 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u22557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u22557 {
  position:absolute;
  left:700px;
  top:0px;
  width:62px;
  height:40px;
}
#u22558 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u22559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u22559 {
  position:absolute;
  left:762px;
  top:0px;
  width:67px;
  height:40px;
}
#u22560 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u22561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22561 {
  position:absolute;
  left:0px;
  top:40px;
  width:56px;
  height:36px;
}
#u22562 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22563 {
  position:absolute;
  left:56px;
  top:40px;
  width:73px;
  height:36px;
}
#u22564 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22565 {
  position:absolute;
  left:129px;
  top:40px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22566 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22567 {
  position:absolute;
  left:377px;
  top:40px;
  width:132px;
  height:36px;
}
#u22568 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22569 {
  position:absolute;
  left:509px;
  top:40px;
  width:140px;
  height:36px;
}
#u22570 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22571 {
  position:absolute;
  left:649px;
  top:40px;
  width:51px;
  height:36px;
}
#u22572 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22573 {
  position:absolute;
  left:700px;
  top:40px;
  width:62px;
  height:36px;
}
#u22574 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22575 {
  position:absolute;
  left:762px;
  top:40px;
  width:67px;
  height:36px;
}
#u22576 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22577 {
  position:absolute;
  left:0px;
  top:76px;
  width:56px;
  height:36px;
}
#u22578 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22579 {
  position:absolute;
  left:56px;
  top:76px;
  width:73px;
  height:36px;
}
#u22580 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22581 {
  position:absolute;
  left:129px;
  top:76px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22582 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22583 {
  position:absolute;
  left:377px;
  top:76px;
  width:132px;
  height:36px;
}
#u22584 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22585 {
  position:absolute;
  left:509px;
  top:76px;
  width:140px;
  height:36px;
}
#u22586 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22587 {
  position:absolute;
  left:649px;
  top:76px;
  width:51px;
  height:36px;
}
#u22588 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22589 {
  position:absolute;
  left:700px;
  top:76px;
  width:62px;
  height:36px;
}
#u22590 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22591 {
  position:absolute;
  left:762px;
  top:76px;
  width:67px;
  height:36px;
}
#u22592 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22593 {
  position:absolute;
  left:0px;
  top:112px;
  width:56px;
  height:36px;
}
#u22594 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22595 {
  position:absolute;
  left:56px;
  top:112px;
  width:73px;
  height:36px;
}
#u22596 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22597 {
  position:absolute;
  left:129px;
  top:112px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22598 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22599 {
  position:absolute;
  left:377px;
  top:112px;
  width:132px;
  height:36px;
}
#u22600 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22601 {
  position:absolute;
  left:509px;
  top:112px;
  width:140px;
  height:36px;
}
#u22602 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22603 {
  position:absolute;
  left:649px;
  top:112px;
  width:51px;
  height:36px;
}
#u22604 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22605 {
  position:absolute;
  left:700px;
  top:112px;
  width:62px;
  height:36px;
}
#u22606 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22607 {
  position:absolute;
  left:762px;
  top:112px;
  width:67px;
  height:36px;
}
#u22608 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u22609 {
  position:absolute;
  left:0px;
  top:148px;
  width:56px;
  height:37px;
}
#u22610 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u22611 {
  position:absolute;
  left:56px;
  top:148px;
  width:73px;
  height:37px;
}
#u22612 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
}
#u22613 {
  position:absolute;
  left:129px;
  top:148px;
  width:248px;
  height:37px;
  text-align:left;
}
#u22614 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u22615 {
  position:absolute;
  left:377px;
  top:148px;
  width:132px;
  height:37px;
}
#u22616 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u22617 {
  position:absolute;
  left:509px;
  top:148px;
  width:140px;
  height:37px;
}
#u22618 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u22619 {
  position:absolute;
  left:649px;
  top:148px;
  width:51px;
  height:37px;
}
#u22620 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u22621 {
  position:absolute;
  left:700px;
  top:148px;
  width:62px;
  height:37px;
}
#u22622 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u22623 {
  position:absolute;
  left:762px;
  top:148px;
  width:67px;
  height:37px;
}
#u22624 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22625 {
  position:absolute;
  left:0px;
  top:185px;
  width:56px;
  height:36px;
}
#u22626 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22627 {
  position:absolute;
  left:56px;
  top:185px;
  width:73px;
  height:36px;
}
#u22628 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22629 {
  position:absolute;
  left:129px;
  top:185px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22630 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22631 {
  position:absolute;
  left:377px;
  top:185px;
  width:132px;
  height:36px;
}
#u22632 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22633 {
  position:absolute;
  left:509px;
  top:185px;
  width:140px;
  height:36px;
}
#u22634 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22635 {
  position:absolute;
  left:649px;
  top:185px;
  width:51px;
  height:36px;
}
#u22636 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22637 {
  position:absolute;
  left:700px;
  top:185px;
  width:62px;
  height:36px;
}
#u22638 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22639 {
  position:absolute;
  left:762px;
  top:185px;
  width:67px;
  height:36px;
}
#u22640 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22641 {
  position:absolute;
  left:0px;
  top:221px;
  width:56px;
  height:36px;
}
#u22642 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22643 {
  position:absolute;
  left:56px;
  top:221px;
  width:73px;
  height:36px;
}
#u22644 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22645 {
  position:absolute;
  left:129px;
  top:221px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22646 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22647 {
  position:absolute;
  left:377px;
  top:221px;
  width:132px;
  height:36px;
}
#u22648 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22649 {
  position:absolute;
  left:509px;
  top:221px;
  width:140px;
  height:36px;
}
#u22650 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22651 {
  position:absolute;
  left:649px;
  top:221px;
  width:51px;
  height:36px;
}
#u22652 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22653 {
  position:absolute;
  left:700px;
  top:221px;
  width:62px;
  height:36px;
}
#u22654 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22655 {
  position:absolute;
  left:762px;
  top:221px;
  width:67px;
  height:36px;
}
#u22656 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22657 {
  position:absolute;
  left:0px;
  top:257px;
  width:56px;
  height:36px;
}
#u22658 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22659 {
  position:absolute;
  left:56px;
  top:257px;
  width:73px;
  height:36px;
}
#u22660 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22661 {
  position:absolute;
  left:129px;
  top:257px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22662 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22663 {
  position:absolute;
  left:377px;
  top:257px;
  width:132px;
  height:36px;
}
#u22664 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22665 {
  position:absolute;
  left:509px;
  top:257px;
  width:140px;
  height:36px;
}
#u22666 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22667 {
  position:absolute;
  left:649px;
  top:257px;
  width:51px;
  height:36px;
}
#u22668 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22669 {
  position:absolute;
  left:700px;
  top:257px;
  width:62px;
  height:36px;
}
#u22670 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22671 {
  position:absolute;
  left:762px;
  top:257px;
  width:67px;
  height:36px;
}
#u22672 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u22673 {
  position:absolute;
  left:0px;
  top:293px;
  width:56px;
  height:40px;
}
#u22674 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u22675 {
  position:absolute;
  left:56px;
  top:293px;
  width:73px;
  height:40px;
}
#u22676 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u22677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u22677 {
  position:absolute;
  left:129px;
  top:293px;
  width:248px;
  height:40px;
  text-align:left;
}
#u22678 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u22679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u22679 {
  position:absolute;
  left:377px;
  top:293px;
  width:132px;
  height:40px;
}
#u22680 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u22681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u22681 {
  position:absolute;
  left:509px;
  top:293px;
  width:140px;
  height:40px;
}
#u22682 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u22683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u22683 {
  position:absolute;
  left:649px;
  top:293px;
  width:51px;
  height:40px;
}
#u22684 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u22685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u22685 {
  position:absolute;
  left:700px;
  top:293px;
  width:62px;
  height:40px;
}
#u22686 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u22687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u22687 {
  position:absolute;
  left:762px;
  top:293px;
  width:67px;
  height:40px;
}
#u22688 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u22689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22689 {
  position:absolute;
  left:0px;
  top:333px;
  width:56px;
  height:36px;
}
#u22690 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22691 {
  position:absolute;
  left:56px;
  top:333px;
  width:73px;
  height:36px;
}
#u22692 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22693 {
  position:absolute;
  left:129px;
  top:333px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22694 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22695 {
  position:absolute;
  left:377px;
  top:333px;
  width:132px;
  height:36px;
}
#u22696 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22697 {
  position:absolute;
  left:509px;
  top:333px;
  width:140px;
  height:36px;
}
#u22698 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22699 {
  position:absolute;
  left:649px;
  top:333px;
  width:51px;
  height:36px;
}
#u22700 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22701 {
  position:absolute;
  left:700px;
  top:333px;
  width:62px;
  height:36px;
}
#u22702 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22703 {
  position:absolute;
  left:762px;
  top:333px;
  width:67px;
  height:36px;
}
#u22704 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u22705 {
  position:absolute;
  left:0px;
  top:369px;
  width:56px;
  height:37px;
}
#u22706 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u22707 {
  position:absolute;
  left:56px;
  top:369px;
  width:73px;
  height:37px;
}
#u22708 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
}
#u22709 {
  position:absolute;
  left:129px;
  top:369px;
  width:248px;
  height:37px;
  text-align:left;
}
#u22710 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u22711 {
  position:absolute;
  left:377px;
  top:369px;
  width:132px;
  height:37px;
}
#u22712 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u22713 {
  position:absolute;
  left:509px;
  top:369px;
  width:140px;
  height:37px;
}
#u22714 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u22715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u22715 {
  position:absolute;
  left:649px;
  top:369px;
  width:51px;
  height:37px;
}
#u22716 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u22717 {
  position:absolute;
  left:700px;
  top:369px;
  width:62px;
  height:37px;
}
#u22718 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u22719 {
  position:absolute;
  left:762px;
  top:369px;
  width:67px;
  height:37px;
}
#u22720 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u22721 {
  position:absolute;
  left:0px;
  top:406px;
  width:56px;
  height:36px;
}
#u22722 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u22723 {
  position:absolute;
  left:56px;
  top:406px;
  width:73px;
  height:36px;
}
#u22724 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u22725 {
  position:absolute;
  left:129px;
  top:406px;
  width:248px;
  height:36px;
  text-align:left;
}
#u22726 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22727 {
  position:absolute;
  left:377px;
  top:406px;
  width:132px;
  height:36px;
}
#u22728 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22729 {
  position:absolute;
  left:509px;
  top:406px;
  width:140px;
  height:36px;
}
#u22730 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u22731 {
  position:absolute;
  left:649px;
  top:406px;
  width:51px;
  height:36px;
}
#u22732 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u22733 {
  position:absolute;
  left:700px;
  top:406px;
  width:62px;
  height:36px;
}
#u22734 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u22735 {
  position:absolute;
  left:762px;
  top:406px;
  width:67px;
  height:36px;
}
#u22736 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u22737 {
  position:absolute;
  left:0px;
  top:442px;
  width:56px;
  height:37px;
}
#u22738 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u22739 {
  position:absolute;
  left:56px;
  top:442px;
  width:73px;
  height:37px;
}
#u22740 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u22741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
}
#u22741 {
  position:absolute;
  left:129px;
  top:442px;
  width:248px;
  height:37px;
  text-align:left;
}
#u22742 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u22743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u22743 {
  position:absolute;
  left:377px;
  top:442px;
  width:132px;
  height:37px;
}
#u22744 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u22745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u22745 {
  position:absolute;
  left:509px;
  top:442px;
  width:140px;
  height:37px;
}
#u22746 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u22747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u22747 {
  position:absolute;
  left:649px;
  top:442px;
  width:51px;
  height:37px;
}
#u22748 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u22749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u22749 {
  position:absolute;
  left:700px;
  top:442px;
  width:62px;
  height:37px;
}
#u22750 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u22751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u22751 {
  position:absolute;
  left:762px;
  top:442px;
  width:67px;
  height:37px;
}
#u22752 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u22753 {
  position:absolute;
  left:16px;
  top:49px;
  width:90px;
  height:16px;
}
#u22754 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22753_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22755 {
  position:absolute;
  left:16px;
  top:83px;
  width:90px;
  height:16px;
}
#u22756 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22755_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22757 {
  position:absolute;
  left:16px;
  top:119px;
  width:90px;
  height:16px;
}
#u22758 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22757_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22759 {
  position:absolute;
  left:16px;
  top:153px;
  width:90px;
  height:16px;
}
#u22760 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22759_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22761 {
  position:absolute;
  left:16px;
  top:192px;
  width:90px;
  height:16px;
}
#u22762 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22761_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22763 {
  position:absolute;
  left:16px;
  top:226px;
  width:90px;
  height:16px;
}
#u22764 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22763_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22765 {
  position:absolute;
  left:16px;
  top:263px;
  width:90px;
  height:16px;
}
#u22766 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22765_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22767 {
  position:absolute;
  left:16px;
  top:297px;
  width:90px;
  height:16px;
}
#u22768 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22767_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22769 {
  position:absolute;
  left:16px;
  top:336px;
  width:90px;
  height:16px;
}
#u22770 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22769_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22771 {
  position:absolute;
  left:16px;
  top:370px;
  width:90px;
  height:16px;
}
#u22772 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22771_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22773 {
  position:absolute;
  left:16px;
  top:409px;
  width:90px;
  height:16px;
}
#u22774 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22773_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22775 {
  position:absolute;
  left:16px;
  top:443px;
  width:90px;
  height:16px;
}
#u22776 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22775_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:634px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22777 {
  position:absolute;
  left:9px;
  top:8px;
  width:914px;
  height:634px;
}
#u22778 {
  position:absolute;
  left:2px;
  top:309px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22779 {
  position:absolute;
  left:21px;
  top:16px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22780 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22781 {
  position:absolute;
  left:471px;
  top:591px;
  width:54px;
  height:25px;
}
#u22781_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22781.selected {
}
#u22782 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u22783 {
  position:absolute;
  left:308px;
  top:46px;
  width:15px;
  height:15px;
  color:#FF0000;
}
#u22784 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22785 {
  position:absolute;
  left:58px;
  top:284px;
  width:829px;
  height:102px;
  overflow:hidden;
  visibility:hidden;
}
#u22785_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:102px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22785_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22786 {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:101px;
}
#u22787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u22787 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u22788 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u22789 {
  position:absolute;
  left:68px;
  top:0px;
  width:139px;
  height:30px;
}
#u22790 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u22791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22791 {
  position:absolute;
  left:207px;
  top:0px;
  width:104px;
  height:30px;
}
#u22792 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22793 {
  position:absolute;
  left:311px;
  top:0px;
  width:104px;
  height:30px;
}
#u22794 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22795 {
  position:absolute;
  left:415px;
  top:0px;
  width:104px;
  height:30px;
}
#u22796 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22797 {
  position:absolute;
  left:519px;
  top:0px;
  width:104px;
  height:30px;
}
#u22798 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22799 {
  position:absolute;
  left:623px;
  top:0px;
  width:104px;
  height:30px;
}
#u22800 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u22801 {
  position:absolute;
  left:727px;
  top:0px;
  width:101px;
  height:30px;
}
#u22802 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u22803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u22803 {
  position:absolute;
  left:0px;
  top:30px;
  width:68px;
  height:30px;
}
#u22804 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u22805 {
  position:absolute;
  left:68px;
  top:30px;
  width:139px;
  height:30px;
}
#u22806 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u22807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22807 {
  position:absolute;
  left:207px;
  top:30px;
  width:104px;
  height:30px;
}
#u22808 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22809 {
  position:absolute;
  left:311px;
  top:30px;
  width:104px;
  height:30px;
}
#u22810 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22811 {
  position:absolute;
  left:415px;
  top:30px;
  width:104px;
  height:30px;
}
#u22812 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22813 {
  position:absolute;
  left:519px;
  top:30px;
  width:104px;
  height:30px;
}
#u22814 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22815 {
  position:absolute;
  left:623px;
  top:30px;
  width:104px;
  height:30px;
}
#u22816 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u22817 {
  position:absolute;
  left:727px;
  top:30px;
  width:101px;
  height:30px;
}
#u22818 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u22819 {
  position:absolute;
  left:0px;
  top:60px;
  width:68px;
  height:36px;
}
#u22820 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u22821 {
  position:absolute;
  left:68px;
  top:60px;
  width:139px;
  height:36px;
}
#u22822 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u22823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u22823 {
  position:absolute;
  left:207px;
  top:60px;
  width:104px;
  height:36px;
}
#u22824 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u22825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u22825 {
  position:absolute;
  left:311px;
  top:60px;
  width:104px;
  height:36px;
}
#u22826 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u22827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u22827 {
  position:absolute;
  left:415px;
  top:60px;
  width:104px;
  height:36px;
}
#u22828 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u22829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u22829 {
  position:absolute;
  left:519px;
  top:60px;
  width:104px;
  height:36px;
}
#u22830 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u22831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u22831 {
  position:absolute;
  left:623px;
  top:60px;
  width:104px;
  height:36px;
}
#u22832 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u22833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u22833 {
  position:absolute;
  left:727px;
  top:60px;
  width:101px;
  height:36px;
}
#u22834 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22835 {
  position:absolute;
  left:18px;
  top:12px;
  width:96px;
  height:16px;
}
#u22836 {
  position:absolute;
  left:16px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u22835_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22837 {
  position:absolute;
  left:18px;
  top:39px;
  width:96px;
  height:16px;
}
#u22838 {
  position:absolute;
  left:16px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u22837_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22839 {
  position:absolute;
  left:18px;
  top:65px;
  width:96px;
  height:16px;
}
#u22840 {
  position:absolute;
  left:16px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u22839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22841 {
  position:absolute;
  left:752px;
  top:36px;
  width:63px;
  height:20px;
}
#u22841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22842 {
  position:absolute;
  left:752px;
  top:66px;
  width:63px;
  height:20px;
}
#u22842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22843 {
  position:absolute;
  left:147px;
  top:253px;
  width:87px;
  height:25px;
}
#u22843_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22843.selected {
}
#u22844 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u22845 {
  position:absolute;
  left:58px;
  top:284px;
  width:834px;
  height:35px;
}
#u22846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u22846 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22847 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u22848 {
  position:absolute;
  left:66px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22849 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u22850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u22850 {
  position:absolute;
  left:207px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22851 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u22852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22852 {
  position:absolute;
  left:312px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22853 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u22854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u22854 {
  position:absolute;
  left:416px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22855 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u22856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u22856 {
  position:absolute;
  left:522px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22857 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u22858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u22858 {
  position:absolute;
  left:623px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22859 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u22860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u22860 {
  position:absolute;
  left:730px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22861 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u22862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22862 {
  position:absolute;
  left:250px;
  top:253px;
  width:87px;
  height:25px;
}
#u22862_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22862.selected {
}
#u22863 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u22864 {
  position:absolute;
  left:77px;
  top:291px;
  width:55px;
  height:16px;
}
#u22865 {
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u22864_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u22866 {
  position:absolute;
  left:347px;
  top:257px;
  width:421px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u22867 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u22868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22868 {
  position:absolute;
  left:511px;
  top:103px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22869 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u22870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22870 {
  position:absolute;
  left:57px;
  top:103px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22871 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u22872 {
  position:absolute;
  left:134px;
  top:99px;
  width:300px;
  height:25px;
}
#u22872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u22873 {
  position:absolute;
  left:595px;
  top:99px;
  width:293px;
  height:25px;
}
#u22873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u22874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22874 {
  position:absolute;
  left:539px;
  top:141px;
  width:35px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22875 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u22876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22876 {
  position:absolute;
  left:57px;
  top:137px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22877 {
  position:absolute;
  left:0px;
  top:4px;
  width:63px;
  white-space:nowrap;
}
#u22878 {
  position:absolute;
  left:134px;
  top:137px;
  width:300px;
  height:25px;
}
#u22878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u22879 {
  position:absolute;
  left:595px;
  top:137px;
  width:293px;
  height:25px;
}
#u22879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u22880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22880 {
  position:absolute;
  left:36px;
  top:179px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22881 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u22882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22882 {
  position:absolute;
  left:458px;
  top:179px;
  width:116px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22883 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u22884 {
  position:absolute;
  left:595px;
  top:175px;
  width:293px;
  height:25px;
}
#u22884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u22885 {
  position:absolute;
  left:134px;
  top:175px;
  width:300px;
  height:25px;
}
#u22885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u22885_input:disabled {
  color:grayText;
}
#u22886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22886 {
  position:absolute;
  left:85px;
  top:216px;
  width:35px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22887 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u22888 {
  position:absolute;
  left:134px;
  top:212px;
  width:300px;
  height:25px;
}
#u22888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u22888_input:disabled {
  color:grayText;
}
#u22889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u22889 {
  position:absolute;
  left:180px;
  top:214px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u22890 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22891 {
  position:absolute;
  left:77px;
  top:66px;
  width:43px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22892 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22893 {
  position:absolute;
  left:134px;
  top:62px;
  width:300px;
  height:25px;
}
#u22893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22894 {
  position:absolute;
  left:503px;
  top:64px;
  width:71px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22895 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22896 {
  position:absolute;
  left:595px;
  top:62px;
  width:293px;
  height:25px;
}
#u22896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22897 {
  position:absolute;
  left:63px;
  top:501px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22898 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u22899 {
  position:absolute;
  left:130px;
  top:534px;
  width:196px;
  height:20px;
  color:#CCCCCC;
}
#u22900 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u22901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22901 {
  position:absolute;
  left:91px;
  top:398px;
  width:29px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22902 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22903 {
  position:absolute;
  left:132px;
  top:396px;
  width:756px;
  height:93px;
}
#u22903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22904 {
  position:absolute;
  left:130px;
  top:499px;
  width:302px;
  height:25px;
}
#u22904_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22905 {
  position:absolute;
  left:57px;
  top:257px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u22906 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u22907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u22907 {
  position:absolute;
  left:9px;
  top:658px;
  width:511px;
  height:42px;
  font-family:'HannotateSC-W7', 'Hannotate SC Bold', 'Hannotate SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u22908 {
  position:absolute;
  left:2px;
  top:10px;
  width:507px;
  word-wrap:break-word;
}
#u22909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22909 {
  position:absolute;
  left:9px;
  top:710px;
  width:511px;
  height:176px;
  font-size:14px;
}
#u22910 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u22911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22911 {
  position:absolute;
  left:9px;
  top:861px;
  width:357px;
  height:197px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22912 {
  position:absolute;
  left:2px;
  top:82px;
  width:353px;
  word-wrap:break-word;
}
#u22913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22913 {
  position:absolute;
  left:22px;
  top:873px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22914 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22915 {
  position:absolute;
  left:118px;
  top:1007px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u22916 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22917 {
  position:absolute;
  left:203px;
  top:1007px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u22917_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22917.selected {
}
#u22918 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u22919 {
  position:absolute;
  left:386px;
  top:1102px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22920 {
  position:absolute;
  left:393px;
  top:591px;
  width:54px;
  height:25px;
  font-size:14px;
}
#u22921 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
