﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:350px;
  height:506px;
  font-size:18px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:16px;
  width:430px;
  height:880px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:123px;
  width:375px;
  height:667px;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u523_ref {
  border-width:0px;
  position:absolute;
  left:769px;
  top:780px;
  width:1px;
  height:1px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:16px;
  width:430px;
  height:880px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:1287px;
  top:123px;
  width:375px;
  height:667px;
}
#u527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u527_ref {
  border-width:0px;
  position:absolute;
  left:1654px;
  top:780px;
  width:1px;
  height:1px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:16px;
  width:430px;
  height:880px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:123px;
  width:375px;
  height:667px;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u531_ref {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:780px;
  width:1px;
  height:1px;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:16px;
  width:430px;
  height:880px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:1727px;
  top:123px;
  width:375px;
  height:667px;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u534_ref {
  border-width:0px;
  position:absolute;
  left:2094px;
  top:780px;
  width:1px;
  height:1px;
}
